<%
content_for :title, t("admin.groups.edit_group", name: @group.name)
%><h1><%= t("admin.groups.edit_group", name: @group.name) %></h1>

<%= form_for @group, url: admin_group_path(@group), html: {class: 'form-horizontal'} do |t| %>

<%= render 'form', t: t %>

<p class="form-actions">
  <%= t.submit t('global.save'), class: 'btn btn-primary' %>
  <%= link_to t('global.cancel'), admin_groups_path, class: 'btn' %>
</p>

<% end %>
