<%
content_for :title, t('plugins.flag_plugin.flag_message', subject: @message.subject, author: @message.author)
  content_for :h1, t('plugins.flag_plugin.only_flag_message')
%>
<h2><%= t('plugins.flag_plugin.flag_message', subject: @message.subject, author: @message.author) %></h2>

<%= render 'application/errors', object: @moderation_queue_entry, scope: 'moderation_queue' %>

<%= form_for @moderation_queue_entry, url: flag_message_path(@thread, @message), html: { class: 'cf-form' } do |f| %>

  <p><%= t('plugins.flag_plugin.flagging_message_because_of') %></p>

  <div class="cf-cgroup">
    <label class="radio">
      <%= f.radio_button :reason, "spam" %>
      <%= t('messages.close_vote.spam') %>
    </label>

    <label class="radio">
      <%= f.radio_button :reason, "off-topic" %>
      <%= t('messages.close_vote.off-topic') %>
    </label>

    <label class="radio">
      <%= f.radio_button :reason, "not-constructive" %>
      <%= t('messages.close_vote.not-constructive') %>
    </label>

    <label class="radio">
      <%= f.radio_button :reason, "duplicate" %>
      <%= t('messages.close_vote.duplicate') %>
    </label>

    <label class="radio">
      <%= f.radio_button :reason, "custom" %>
      <%= t('messages.close_vote.custom') %>
    </label>
  </div>

  <div class="cf-cgroup" data-depends-on="moderation_queue_entry[reason]=duplicate">
    <%= f.label :duplicate_url %>
    <%= f.url_field :duplicate_url, placeholder: t('layout.placeholders.duplicate') %>
  </div>

  <div class="cf-cgroup" data-depends-on="moderation_queue_entry[reason]=custom">
    <%= f.label :custom_reason %>
    <%= f.text_field :custom_reason %>
  </div>

  <p class="form-actions">
    <%= submit_tag t('global.save'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), root_path, class: 'cf-btn' %>
  </p>

<% end %>
