<fieldset>
    <legend><%= t ".author" %></legend>
    <p>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </p>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :email %>
        <%= f.email_field :email %>
    </p>
    <p>
        <%= f.label :homepage %>
        <%= f.text_field :homepage %>
        <%= f.hidden_field :user_id %>
    </p>
</fieldset>
