<h3>Sperr-Abstimmung (<%= m.close_vote.voters.length %>/<%= conf("close_vote_votes") %>)</h3>

<p>
  <% if m.close_vote.finished %>
    <%= t('messages.close_vote.actions.' + vote_action(m.close_vote) + "_message_done") %>
  <% else %>
    <%= t('messages.close_vote.actions.' + vote_action(m.close_vote) + "_message") %>
  <% end %>

  Der angegebene Grund:
  <em><% if m.close_vote.reason == 'custom' %>
    <%= m.close_vote.custom_reason %>
  <% else %>
    <%= t('messages.close_vote.' + m.close_vote.reason) %>
  <% end %></em>
</p>

<% if may?(Badge::VISIT_CLOSE_REOPEN) and not m.close_vote.finished %>
  <p>
    <%= cf_link_to(m.close_vote.voted?(current_user) ?
                   t('messages.close_vote.take_back') :
                   t('messages.close_vote.agreeing'),
                   close_message_path(@thread, m),
                   class:  (m.close_vote.voted?(current_user) ? "cf-primary-btn" : 'cf-btn'),
                   method: :patch) %>
  </p>
<% end %>
