<%
with_name ||= false
%>
<fieldset>
  <div class="cf-cgroup">
    <%= f.label :subject %>
    <%= f.text_field :subject, placeholder: t('layout.placeholders.subject'), maxlength: 250, required: true %>
  </div>

  <% if not current_user or (with_name and current_user.admin?) %>
  <div class="cf-cgroup">
    <%= f.label :author %>
    <%= f.text_field :author, maxlength: 60, required: true %>
  </div>
  <% end %>

  <div class="cf-cgroup">
    <%= f.label :email %>
    <%= f.email_field :email, maxlength: 60 %>
    <small><%= t('layout.voluntary_but_public') %></small>
  </div>

  <div class="cf-cgroup">
    <%= f.label :homepage %>
    <%= f.url_field :homepage, placeholder: t('layout.placeholders.homepage_optional'), maxlength: 250 %>
    <small><%= t('layout.voluntary_but_public') %></small>
  </div>

  <div class="cf-cgroup">
    <%= f.label :problematic_site %>
    <%= f.url_field :problematic_site, placeholder: t('layout.placeholders.problematic_site_optional'), maxlength: 250 %>
    <small><%= t('layout.voluntary_but_public') %></small>
  </div>
</fieldset>

<fieldset>
  <div class="cf-cgroup cf-textarea-only">
    <%= f.text_area :content, class: 'big', id: 'message_input', maxlength: 12288, value: f.object.to_txt, required: true %>
  </div>

  <% if uconf('live_preview') == 'yes' %>
    <article class="thread-message preview">
      <h3><%= t("messages.preview") %></h3>
      <div class="posting-content" id="on-the-fly-preview"></div>
    </article>
  <% end %>
</fieldset>

<fieldset>
  <div class="cf-cgroup">
    <label><%= t('messages.tag_suggestions') %></label>

    <ul id="tags-suggestions" class="cf-tags-list msg-form">
      <li class="no-data"><%= t('messages.no_tag_suggestions') %></li>
    </ul>
  </div>

  <div class="cf-cgroup">
    <label for="tags-list"><%= t('messages.used_tags') %></label>
    <div id="tags-group">
      <ul id="tags-list" class="cf-tags-list msg-form">
        <li class="no-data"><%= t('messages.no_tags_chosen') %></li>
      </ul>
    </div>
  </div>

  <div class="cf-cgroup">
    <label for="tags-input"><%= t('messages.tags') %></label>
    <input type="text" name="tag_list" value="<%= tags.join(", ") %>" id="tags-input" class="tags-input"><noscript> <em><%= t('messages.comma_separated_list') %></em></noscript>
  </div>

</fieldset>

<% content_for :modals do %>
  <%= render 'modals/md_modals' %>
<% end %>
