<%
with_name ||= false
%>
<fieldset>
  <div class="cf-cgroup">
    <%= f.label :subject %>
    <div class="cntrls"><%= f.text_field :subject, placeholder: t('layout.placeholders.subject'), maxlength: 250, required: true %></div>
  </div>

  <% if not current_user or (with_name and current_user.admin?) %>
  <div class="cf-cgroup">
    <%= f.label :author %>
    <div class="cntrls"><%= f.text_field :author, placeholder: t('layout.placeholders.username'), maxlength: 60, required: true %></div>
  </div>
  <% end %>

  <div class="cf-cgroup">
    <%= f.label :email %>
    <div class="cntrls">
      <%= f.email_field :email, placeholder: t('layout.placeholders.email_optional'), maxlength: 60 %>
      <small><%= t('layout.voluntary_but_public') %></small>
    </div>
  </div>

  <div class="cf-cgroup">
    <%= f.label :homepage %>
    <div class="cntrls">
      <%= f.url_field :homepage, placeholder: t('layout.placeholders.homepage_optional'), maxlength: 250 %>
      <small><%= t('layout.voluntary_but_public') %></small>
    </div>
  </div>

  <div class="cf-cgroup">
    <%= f.label :problematic_site %>
    <div class="cntrls">
      <%= f.url_field :problematic_site, placeholder: t('layout.placeholders.problematic_site_optional'), maxlength: 250 %>
      <small><%= t('layout.voluntary_but_public') %></small>
    </div>
  </div>
</fieldset>

<fieldset>
  <p id="forum-usage"><%== t("messages.forum_usage",
                             markdown_link: cf_link_to(t("messages.markdown"), 'http://markdown.de/syntax/index.html'),
                             wiki_link: cf_link_to(t("messages.wiki"), 'https://wiki.selfhtml.org/'),
                             help_link: cf_link_to(t("messages.help_with_formatting"), 'https://wiki.selfhtml.org/wiki/SELFHTML:Forum/Bedienung')) %></p>
  <div class="cf-cgroup cf-textarea-only">
    <div class="cntrls">
      <%= f.text_area :content, class: 'big', id: 'message_input', maxlength: 12288, value: f.object.to_txt, required: true %>
    </div>
  </div>

  <% if uconf('live_preview') == 'yes' %>
    <article class="thread-message preview">
      <h3><%= t("messages.preview") %></h3>
      <div class="posting-content" id="on-the-fly-preview"></div>
    </article>
  <% end %>
</fieldset>

<fieldset>
  <div class="cf-cgroup">
    <label><%= t('messages.tag_suggestions') %></label>

    <div class="cntrls empty">
      <ul id="tags-suggestions" class="cf-tags-list">
        <li class="no-data"><%= t('messages.no_tag_suggestions') %></li>
      </ul>
    </div>
  </div>

  <div class="cf-cgroup">
    <label><%= t('messages.tags') %></label>
    <div class="cntrls" id="tags-group">
      <ul id="tags-list" class="cf-tags-list"></ul>
      <input type="text" name="tag_list" value="<%= tags.join(", ") %>" id="tags-input" class="tags-input"><noscript> <em><%= t('messages.comma_separated_list') %></em></noscript>
    </div>
  </div>
</fieldset>

<% if @edit and (current_user.try(:admin?) and message.format == 'markdown') %>
  <div class="cf-cgroup">
    <label><%= t("messages.delete_previous_versions") %></label>
    <div class="cntrls">
      <label class="checkbox"><%= check_box_tag 'delete_previous_versions', '1', params[:delete_previous_versions] == '1' %></label>
    </div>
  </div>
<% end %>
