<%
content_for :title, t('messages.edit_posting')
content_for :h1, t('messages.edit_posting')
content_for :body_id, 'messages-edit'
content_for :body_classes, 'messages edit forum-' + (current_forum.try(:slug) || 'all') + (@preview ? ' preview' : '')
%>

<% if @preview or @message.parent %>
  <article class="thread-message">
    <% if not @preview and @message.parent %>
      <%= render 'messages/message', controls: :no, m: @message.parent, first: true %>
    <% elsif @preview %>
      <%= render 'messages/message', controls: :no, m: @message, first: true %>
    <% end %>
  </article>
<% end %>

<%= form_for(@message, url: edit_message_path(@thread, @message),
             html: {class: 'form-horizontal'}) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation" class="cf-error">
      <h4><%= t('messages.error_message', count: @message.errors.count) %></h4>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form", f: f, with_name: true, tags: @tags, message: @message %>

  <% if may?(Badge::RETAG) %>
    <div class="cf-cgroup">
      <label><%= t('messages.retag_answers') %></label>
      <div class="cntrls">
        <label class="checkbox"><input type="checkbox" name="retag_answers" value="1"></label>
      </div>
    </div>
  <% end %>

  <ul id="charta">
    <li>Formuliere <%= cf_link_to "https://wiki.selfhtml.org/wiki/SELFHTML:Forum/Charta_des_SELFHTML-Forums" do %><strong>höflich und wertschätzend</strong><% end %>.</li>
    <li><strong>Vermeide</strong> <%= cf_link_to "Vollzitate", "https://de.wikipedia.org/wiki/Fullquote" %>.</li>
    <li>Dein Beitrag wird <strong>dauerhaft</strong> <%= cf_link_to "archiviert", "//forum.selfhtml.org/self/archive" %>.</li>
  </ul>

  <p>
    <%= f.submit t('messages.preview'), :class => 'cf-btn', name: 'preview' %>
    <%= f.submit t('global.save'), :class => 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), message_path(@thread, @message), class: 'cf-btn' %>
  </p>
<% end %>

