<%
content_for :title, t('messages.edit_posting')
content_for :h1, t('messages.edit_posting')
content_for :body_id, 'messages-edit'
content_for :body_classes, 'messages edit forum-' + (current_forum.try(:slug) || 'all') + (@preview ? ' preview' : '')
%>

<% if @preview or @message.parent %>
  <article class="thread-message">
    <% if not @preview and @message.parent %>
      <%= render 'messages/message', controls: :no, m: @message.parent, first: true %>
    <% elsif @preview %>
      <%= render 'messages/message', controls: :no, m: @message, first: true %>
    <% end %>
  </article>
<% end %>

<%= render 'application/errors', object: @message, scope: 'messages' %>

<%= form_for(@message, url: edit_message_path(@thread, @message),
             html: {class: 'cf-form'}) do |f| %>
  <%= render "form", f: f, with_name: true, tags: @tags, message: @message %>

  <% if @edit and (current_user.try(:admin?) and @message.format == 'markdown') %>
    <div class="cf-cgroup">
      <label for="delete_previous_versions">
        <%= check_box_tag 'delete_previous_versions', '1', params[:delete_previous_versions] == '1' %>
        <%= t("messages.delete_previous_versions") %>
      </label>
    </div>
  <% end %>

  <% if may?(Badge::RETAG) %>
    <div class="cf-cgroup">
      <label for="retag_answers">
        <%= check_box_tag 'retag_answers', '1' %>
        <%= t('messages.retag_answers') %>
      </label>
    </div>
  <% end %>

  <%= render 'post_notes' %>

  <p>
    <%= f.submit t('messages.preview'), :class => 'cf-btn', name: 'preview' %>
    <%= f.submit t('global.save'), :class => 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), message_path(@thread, @message), class: 'cf-btn' %>
  </p>
<% end %>
