<%
content_for :title, t('messages.write_new_answer')
content_for :h1, label_tag('message_input', t('messages.new_answer_to', name: @parent.author), class: 'normal')
content_for :body_id, 'messages-new'
content_for :body_classes, 'messages new forum-' + (current_forum.try(:slug) || 'all') + (@preview ? ' preview' : '')
%>

<article class="thread-message<% if @preview %> preview<% end %>">
  <% if @parent and not @preview %>
    <%= render 'messages/message', controls: :no, m: @parent, first: true %>
  <% elsif @preview %>
    <%= render 'messages/message', controls: :no, m: @message, first: true %>
  <% end %>
</article>

<%= render 'application/errors', object: @message, scope: 'messages' %>

<%= form_for @message, url: message_path_wo_anchor(@thread, @parent), html: {class: 'cf-form answer-form'} do |f| %>
  <%= render "form", f: f, tags: @tags, message: @message %>

  <%= render 'post_notes' %>

  <p class="form-actions">
    <%= f.submit t('messages.preview'), :class => 'cf-btn', name: 'preview' %>
    <%= f.submit t('global.save'), :class => 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), forum_path(current_forum), :class => 'cf-btn' %>
  </p>

<% end %>

<% if @parent %>
  <div class="root">
    <article class="thread posting">
      <%= message_header(@thread, @thread.message, first: true,
                         show_icons: true, active_message: @parent) %>

      <% if not @thread.message.messages.blank? %>
        <%= message_tree(@thread, @thread.message.messages, show_icons: true,
                         hide_repeating_subjects: uconf('hide_subjects_unchanged') == 'yes',
                         hide_repeating_tags: uconf('hide_repeating_tags') == 'yes',
                         active_message: @parent) %>
      <% end %>
    </article>
  </div>
<% end %>
