<%
content_for :title, t('messages.write_new_answer')
content_for :h1, t('messages.new_answer_to', name: @parent.author)
content_for :body_id, 'messages-new'
content_for :body_classes, 'messages new forum-' + (current_forum.try(:slug) || 'all') + (@preview ? ' preview' : '')
%>

<article class="thread-message<% if @preview %> preview<% end %>">
  <% if @parent and not @preview %>
    <%= render 'messages/message', controls: :no, m: @parent, first: true %>
  <% elsif @preview %>
    <%= render 'messages/message', controls: :no, m: @message, first: true %>
  <% end %>
</article>

<%= form_for @message, url: message_path_wo_anchor(@thread, @parent), html: {:class => 'form-horizontal'} do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation" class="cf-error">
      <h4><%= t('messages.error_message', count: @message.errors.count) %></h4>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form", f: f %>

  <% if @parent and not params.has_key?(:quote_old_message) %>
    <script>
     cforum.messages.quotedMessage = <%== @parent.to_quote(self).to_json %>;
    </script>
  <% end %>

  <ul id="charta">
    <li>Formuliere <%= cf_link_to "https://wiki.selfhtml.org/wiki/SELFHTML:Forum/Charta_des_SELFHTML-Forums" do %><strong>höflich und wertschätzend</strong><% end %>.</li>
    <li><strong>Vermeide</strong> <%= cf_link_to "Vollzitate", "https://de.wikipedia.org/wiki/Fullquote" %>.</li>
    <li>Dein Beitrag wird <strong>dauerhaft</strong> <%= cf_link_to "archiviert", "//forum.selfhtml.org/self/archive" %>.</li>
  </ul>

  <p class="form-actions">
    <%= f.submit t('messages.preview'), :class => 'cf-btn', name: 'preview' %>
    <%= f.submit t('global.save'), :class => 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), forum_path(current_forum), :class => 'cf-btn' %>
  </p>

<% end %>

<% if @parent %>
  <div class="root">
    <article class="thread posting">
      <%= message_header(@thread, @thread.message, first: true,
                         show_icons: true, active_message: @parent) %>

      <% if not @thread.message.messages.blank? %>
        <%= message_tree(@thread, @thread.message.messages, show_icons: true,
                         hide_repeating_subjects: uconf('hide_subjects_unchanged') == 'yes',
                         active_message: @parent) %>
      <% end %>
    </article>
  </div>
<% end %>
