<%
content_for :title, @thread.message.subject + " " +
  I18n.t('messages.by') + " " + @thread.message.author + ", " +
  I18n.l(@thread.message.created_at, format: date_format('date_format_post'))

content_for(:body_id, "message-nested")
content_for(:body_classes, 'messages nested-view forum-' +
            (current_forum.try(:slug) || 'all') +
            (@thread.archived ? ' archive' : ''))
content_for(:h1) do
%>
<span class="author block" id="posting-author"><%= @thread.message.author %>:</span>
<span class="title" id="posting-title"><%= @thread.message.subject %></span>
<% end %>

<div class="root">
  <article class="thread posting tree<%= ' archived' if @thread.archived %><% ' sticky' if @thread.sticky %><%= ' ' + @thread.attribs['classes'].join(' ') unless @thread.attribs['classes'].blank? %>">
    <%= message_header(@thread, @thread.message, first: true, show_icons: true, id: false) %>

    <% if not @thread.message.messages.blank? %>
      <%= message_tree(@thread, @thread.message.messages, show_icons: true, id_prefix: 'tree-',
                       hide_repeating_subjects: uconf('hide_subjects_unchanged') == 'yes',
                       hide_repeating_tags: uconf('hide_repeating_tags') == 'yes',
                       parent_subscribed: @thread.message.attribs[:is_subscribed]) %>
    <% end %>
  </article>
</div>

<% def whole_thread(thread, messages) %>
  <ol class="answers">
    <% messages.each do |m| %>
      <li>
        <div class="posting-nested thread-message h-entry <%= message_classes(m, @thread, @message.message_id == m.message_id, :nested) %>">
          <%= render 'message', m: m, first: false %>
        </div>

        <% unless m.messages.blank?
          whole_thread(thread, m.messages)
        end %>
      </li>
    <% end %>
  </ol>
<% end %>

<div>
  <article class="thread-nested<%= ' archived' if @thread.archived %>">
    <div class="posting-nested thread-message h-entry <%= message_classes(@thread.message, @thread, @message.message_id == @thread.message.message_id, :nested) %>">
      <%= render 'message', m: @thread.message, first: true %>
    </div>

    <% unless @thread.message.messages.blank? %>
      <% whole_thread(@thread, @thread.message.messages) %>
    <% end %>
  </article>
</div>

<% if uconf("inline_answer") != 'no' %>
  <%= form_for @new_message, url: '/foo/bar', html: {class: 'cf-form answer-form inline-answer hidden'} do |f| %>

    <%= render "form", f: f, tags: @message.tags.map(&:tag_name), message: @new_message %>

    <%= render 'post_notes' %>

    <p class="form-actions">
      <%= f.submit t('messages.preview'), class: 'cf-btn', name: 'preview' %>
      <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
      <%= cf_link_to t('global.cancel'), message_path(@thread, @message), class: 'cf-btn btn-cancel' %>
    </p>
  <% end %>
<% end %>
