<%
content_for(:title, @message.subject + " " + I18n.t('messages.by') + " " +
            @message.author + ", " + I18n.l(@message.created_at,
                                            format: date_format('date_format_post')))
content_for(:body_id, "message-thread")
content_for(:body_classes, 'messages thread-view forum-' +
            (current_forum.try(:slug) || 'all') +
            (@thread.archived ? ' archive' : ''))
content_for(:h1) do
%>
<span class="author block" id="posting-author"><%= @message.author %>:</span>
<span class="title" id="posting-title"><%= @message.subject %></span>
<% end %>

<h2><%= t("layout.read_message") %></h2>

<article class="thread-message <%= message_classes(@message, @thread, false) %> h-entry<%= ' archived' if @thread.archived %>">
  <%= render 'message', m: @message, first: true, do_parent: true %>
</article>

<% if uconf("inline_answer") != 'no' && may_answer?(@message) %>
  <%= form_for @new_message, url: '/foo/bar', html: {class: 'cf-form answer-form inline-answer hidden'} do |f| %>

    <%= render "form", f: f, tags: @message.tags.map(&:tag_name), message: @new_message %>

    <%= render 'post_notes' %>

    <p class="form-actions">
      <%= f.submit t('messages.preview'), class: 'cf-btn', name: 'preview' %>
      <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
      <%= cf_link_to t('global.cancel'), message_path(@thread, @message), class: 'cf-btn btn-cancel' %>
    </p>

    <% content_for :additional_js do %>
      <script>
       cforum.messages.quotedMessage = <%== @message.to_quote(self).to_json %>;
      </script>
    <% end %>

  <% end %>
<% end %>

<div class="root">
  <article class="thread posting<%= ' archived' if @thread.archived %><%= ' sticky' if @thread.sticky %><%= ' ' + @thread.attribs['classes'].join(' ') unless @thread.attribs['classes'].blank? %>">
    <%= message_header(@thread, @thread.message, first: true, show_icons: true) %>

    <% if not @thread.message.messages.blank? %>
      <%= message_tree(@thread, @thread.message.messages, show_icons: true,
                       hide_repeating_subjects: uconf('hide_subjects_unchanged') == 'yes',
                       hide_repeating_tags: uconf('hide_repeating_tags') == 'yes',
                       id_prefix: 'tree-', parent_subscribed: @thread.message.attribs[:is_subscribed]) %>
    <% end %>
  </article>
</div>
