<%
content_for :title, t('messages.message_versions')
content_for :h1, t('messages.message_versions')
content_for :body_id, 'messages-versions'
content_for :body_classes, 'messages versions forum-' + (current_forum.try(:slug) || 'all') + (@preview ? ' preview' : '')
content_for :robots, 'noindex,nofollow'

prev = @message.subject + "\n\n" + @message.content
%>

<% @message.versions.each do |v| %>
  <article class="thread-message">
    <header>
      <h2><%= cf_link_to @message.subject, message_path(@thread, @message) %></h2>
      <% if v.user_id.blank? %>
        <span class="editor"><%= v.author %></span>
      <% else %>
        <span class="editor registered-user">
          <%= cf_link_to(image_tag(v.user.avatar(:thumb), class: 'avatar'),
                      user_path(v.user),
                      title: t('messages.user_link', user: v.user.username),
                      class: 'user-link') %>
          <%= cf_link_to(v.author, message_path(@thread, @message)) %>
        </span>
      <% end %>

      <time datetime="<%= v.created_at.strftime("%FT%T%:z") %>">
        <%= l(v.created_at, format: date_format("date_format_post")) %>
      </time>
    </header>

    <div class="posting-content"><%= diff_posting(v.diff_content, prev) %></div>
  </article>
  <% prev = v.diff_content %>
<% end %>
