  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this thread from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="control-group">
  <%= f.label :username, :class => 'control-label' %>
  <div class="controls"><%= f.text_field :username %></div>
</div>

<div class="control-group">
  <%= f.label :email, :class => 'control-label' %>
  <div class="controls"><%= f.email_field :email %></div>
</div>

<div class="control-group">
  <%= f.label :admin, :class => 'control-label' %>
  <div class="controls"><%= f.check_box :admin %></div>
</div>

<div class="control-group">
  <%= f.label :active, :class => 'control-label' %>
  <div class="controls"><%= f.check_box :active %></div>
</div>


<div class="control-group">
  <%= f.label :password, :class => 'control-label' %>
  <div class="controls"><%= f.password_field :password %></div>
</div>

<div class="control-group">
  <%= f.label :password_confirm, :class => 'control-label' %>
  <div class="controls"><%= f.password_field :password_confirmation %></div>
</div>

<div class="form-actions">
  <input type="submit" value="Save" class="btn btn-primary">
  <a href="<%= admin_users_path %>" class="btn">Cancel</a>
</div>