  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><% t('admin.users.error_message', count: @users.errors.count) %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="cf-cgroup">
  <%= f.label :username %>
  <div class="cntrls"><%= f.text_field :username %></div>
</div>

<div class="cf-cgroup">
  <%= f.label :email %>
  <div class="cntrls"><%= f.email_field :email %></div>
</div>

<div class="cf-cgroup">
  <%= f.label :admin %>
  <div class="cntrls"><%= f.check_box :admin %></div>
</div>

<div class="cf-cgroup">
  <%= f.label :active %>
  <div class="cntrls"><%= f.check_box :active %></div>
</div>


<div class="cf-cgroup">
  <%= f.label :password %>
  <div class="cntrls"><%= f.password_field :password %></div>
</div>

<div class="cf-cgroup">
  <%= f.label :password_confirmation %>
  <div class="cntrls"><%= f.password_field :password_confirmation %></div>
</div>

<div class="form-actions">
  <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
  <%= link_to t('global.cancel'), admin_users_path, class: 'cf-btn' %>
</div>
