<h1>Benutzer-Verwaltung</h1>

<%= form_tag admin_users_path, :method => :get, :class => 'form-search' do |t| %>
  <input type="text" class="input-medium search-query" name="s">
  <input type="submit" class="btn" value="Search">
<% end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Benutzername</th>
      <th>E-Mail</th>
      <th>Erstellt</th>
      <th>Bearbeitet</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, admin_user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%== l(user.created_at) %></td>
      <td><%== l(user.updated_at) %></td>
      <td>
        <%= link_to '', admin_user_path(user), data: {confirm: 'Are you sure?'}, :method => :delete, :class => 'icon icon-trash' %>
        <%= link_to '', edit_admin_user_path(user), :class => "icon icon-edit" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination pagination-centered">
  <ul>
    <%
    start_page = @page - 5
    end_page = @page + 5

    last_possible_page = (@all_users_count / 50).floor
    start_page = 0 if start_page < 0
    end_page = last_possible_page if end_page > last_possible_page

    prev_page = @page - 1 < 0 ? 0 : @page - 1
    next_page = @page + 1 > last_possible_page ? last_possible_page : @page + 1

    %>

    <li<% if @page == 0 %> class="disabled"<% end %>><a href="<%= admin_users_path %>">««</a></li>
    <li<% if @page == 0 %> class="disabled"<% end %>><a href="<%= admin_users_path(p: prev_page) %>">«</a></li>

    <% if start_page != 0 %><li class="disabled"><a href="#">…</a></li><% end %>

    <% (start_page..end_page).each do |i| %>
    <li<% if @page == i %> class="active"<% end %>><a href="<%= admin_users_path(p: i) %>"><%= i+1 %></a></li>
    <% end %>

    <% if end_page != last_possible_page %><li class="disabled"><a href="#">…</a></li><% end %>

    <li><a href="<%= admin_users_path(p: next_page) %>">»</a></li>
    <li><a href="<%= admin_users_path(p: last_possible_page) %>">»»</a></li>

  </ul>
</div>
