<%
content_for :title, t('admin.users.user_administration')
%><h1><%= t('admin.users.user_administration') %></h1>

<%= form_tag admin_users_path, method: :get, class: 'form-search' do |t| %>
  <input type="search" class="cf-search-query" name="s" placeholder="<%= t('global.search') %>">
<% end %>

<table class="cf-default-table">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.cf_user.username') %></th>
      <th><%= t('activerecord.attributes.cf_user.email') %></th>
      <th><%= t('activerecord.attributes.cf_user.created_at') %></th>
      <th><%= t('activerecord.attributes.cf_user.updated_at') %></th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, edit_admin_user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%== l(user.created_at) %></td>
      <td><%== l(user.updated_at) %></td>
      <td>
        <%= link_to '', admin_user_path(user), data: {confirm: t('global.are_you_sure')}, method: :delete, class: 'icon-delete-user', title: t('admin.users.delete_user') %>
        <%= link_to '', edit_admin_user_path(user), class: "icon-edit-user", title: t('admin.users.do_edit_user') %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="cf-pages">
  <ul>
    <%
    start_page = @page - 5
    end_page = @page + 5

    last_possible_page = (@all_users_count / @limit).floor
    start_page = 0 if start_page < 0
    end_page = last_possible_page if end_page > last_possible_page

    prev_page = @page - 1 < 0 ? 0 : @page - 1
    next_page = @page + 1 > last_possible_page ? last_possible_page : @page + 1

    %>

    <li<% if @page == 0 %> class="disabled"<% end %>><%= link_to '««', admin_users_path %></li>
    <li<% if @page == 0 %> class="disabled"<% end %>><%= link_to '«', admin_users_path(p: prev_page) %></li>

    <% if start_page != 0 %><li class="disabled"><a href="#">…</a></li><% end %>

    <% (start_page..end_page).each do |i| %>
    <li<% if @page == i %> class="active"<% end %>><%= link_to (i+1).to_s, admin_users_path(p: i) %></li>
    <% end %>

    <% if end_page != last_possible_page %><li class="disabled"><a href="#">…</a></li><% end %>

    <li<% if next_page == last_possible_page %> class="disabled"<% end %>><%= link_to '»', admin_users_path(p: next_page) %></li>
    <li<% if next_page == last_possible_page %> class="disabled"<% end %>><%= link_to '»»', admin_users_path(p: last_possible_page) %></li>

  </ul>
</div>
