<%
content_for :title, t('plugins.interesting_messages.interesting_messages')
content_for :h1, t('plugins.interesting_messages.interesting_messages')
content_for(:body_id, "interesting-messages-list")
content_for(:body_classes, 'interesting-messages list')
%>

<%= form_tag interesting_messages_path, class: 'cf-form', method: 'get', rel: 'nofollow' do %>
  <div class="cf-cgroup">
    <label for="term"><%= t('search.search_for') %></label>
    <%= search_field_tag 'term', params[:term], placeholder: t('search.search_term'), autofocus: params[:term].blank? ? true : false %>

    <ul class="search-explanation">
      <li>Ein Minuszeichen vor einem Begriff schließt diesen aus der Suche aus.</li>
      <li>Mehrere durch Leerzeichen getrennte Begriffe werden mit <strong>und</strong> verknüpft ausgewertet.</li>
      <li>In "Gänsefüßchen" eingeschlossene Zeichenketten dürfen auch Leerzeichen enthalten.</li>
      <li><code>author:term</code> sucht <code>term</code> nur im Verfasser, <code>tag:term</code> nur im Tag,
        <code>title:term</code> nur im Titel, <code>body:term</code> nur im Text der Nachricht.</li>
      <li>Es können jeweils mehrere Begriffe angegeben werden, z.B. sucht <code>tag:html tag:css</code> nach Beiträgen mit den Tags <code>css</code> und <code>html</code></li>
    </ul>
  </div>
<% end %>

<% if @messages.empty? %>
  <p><%= t('plugins.interesting_messages.no_messages') %></p>
<% end %>

<% @messages.each do |message| %>
  <% message.thread.message = message %>
  <article class="thread threadlist"><%= message_header(message.thread, message,
                                                        first: false, do_parent: false,
                                                        show_votes: true, show_icons: true) %></article>
<% end %>

<%= paginate @messages %>
