<%
content_for :title, t('global.forums')
content_for :body_id, 'forums-index'
content_for :body_classes, 'forums'
%>

<% unless current_user.blank? %>
  <%= render 'portal' %>
<% end %>

<h1><%= t('global.forums') %></h1>

<% unless current_user.blank? %>
  <p><%= t('forums.new_threads_new_messages',
           count: @new_threads,
           new_messages_text: t('forums.new_messages_text', count: @new_messages)) %></p>
<% end %>

<ol class="forums-list">
  <li><h2 class="forum-name">
    <%= cf_link_to t('forums.all_forums'), forum_path('all') %>
    <%= cf_link_to stats_path('all'), title: t('layout.statistics') do %>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="27" height="17" viewBox="0, 0, 22, 14">
        <use xlink:href="#stats-icon"></use>
      </svg>
    <% end %>
  </h2>
  <% thread = (@overview_threads.sort {|a,b| b.latest_message <=> a.latest_message}).first %>
  <% unless thread.blank? %>
    <ul>
      <li class="thread h-entry"><%= render 'thread_infos', thread: thread %></li>
    </ul>
  <% end %>

    <p><%= cf_link_to t('layout.show_all'), forum_path('all') %></p>
  </li>

  <% @forums.each do |forum| %>
    <li>
      <h2 class="forum-name">
        <%= cf_link_to forum.name, forum_path(forum) %>
        <%= cf_link_to stats_path(forum), title: t('layout.statistics') do %>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="27" height="17" viewBox="0, 0, 22, 14">
            <use xlink:href="#stats-icon"></use>
          </svg>
        <% end %>
      </h2>
      <ul>
        <% @activities[forum.forum_id].each do |thread| %>
          <li class="thread"><%= render 'thread_infos', thread: thread %></li>
        <% end %>
      </ul>

      <p><%= cf_link_to t('layout.show_all'), forum_path(forum) %></p>
    </li>
  <% end %>
</ol>


<% unless @open_threads.blank? %>
  <%= render 'open_threads' %>
<% end %>
