<h2><%= t('devise.resend_confirmation_instructions') %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="cf-cgroup">
    <%= f.label :email %>
    <div class="cntrls">
      <%= f.email_field :email %>
    </div>
  </div>

  <p class="form-actions">
    <%= f.submit t('devise.resend_confirmation_instructions'), class: 'cf-primary-btn' %>
  </p>
<% end %>
