<h2>Bestätigungs-Instruktionen neu zuschicken</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <p class="form-actions">
    <%= f.submit "Instruktionen erneut zuschicken", :class => 'btn btn-primary' %>
  </p>
<% end %>
