<%= form_for @thread, html: {:class => 'form-horizontal'} do |f| %>
  <% if @thread.message.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h4><%= pluralize(@thread.message.errors.count, "error") %> prohibited this thread from being saved:</h4>

      <ul>
      <% @thread.message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :message, f.object.message do |builder| %>
    <%= render "cf_messages/form", f: builder %>

    <div class="control-group">
      <label class="control-label">Tags</label>
      <div class="controls" id="tags-group">
        <ul id="tags-list"></ul>
        <input type="text" name="tag_list" id="tags-input"><noscript> <em>Komma-separierte Liste</em></noscript>
      </div>
    </div>
  <% end %>

  <p>
    <%= f.submit :class => 'btn btn-primary' %>
    <%= f.submit t('views.preview'), :class => 'btn', name: 'preview' %>
    <%= link_to t('views.cancel'), cf_forum_path(current_forum), :class => 'btn' %>
  </p>
<% end %>