<%= form_for @thread, url: cf_threads_path(current_forum), html: {class: 'form-horizontal'} do |f| %>
  <% if @thread.message.errors.any? %>
    <div id="error_explanation" class="cf-error">
      <h4><%= t('messages.error_message', count: @thread.message.errors.count) %></h4>

      <ul>
        <% @thread.message.errors.each do |k, msg| %>
          <% next if k == :thread_id %>
          <li><%= Message.human_attribute_name(k) %> <%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_forum.blank? %>
    <div class="cf-cgroup">
      <%= f.label :forum_id %>
      <div class="cntrls"><%= f.collection_select :forum_id, @forums, :forum_id, :name, required: true %></div>
    </div>
  <% end %>

  <%= f.fields_for :message, f.object.message do |builder| %>
    <%= render "messages/form", f: builder %>
  <% end %>

  <ul id="charta">
    <li>Formuliere <%= cf_link_to "https://wiki.selfhtml.org/wiki/SELFHTML:Forum/Charta_des_SELFHTML-Forums" do %><strong>höflich und wertschätzend</strong><% end %>.</li>
    <li><strong>Vermeide</strong> <%= cf_link_to "Vollzitate", "https://de.wikipedia.org/wiki/Fullquote" %>.</li>
    <li>Dein Beitrag wird <strong>dauerhaft</strong> <%= cf_link_to "archiviert", "//forum.selfhtml.org/self/archive" %>.</li>
  </ul>

  <p>
    <%= f.submit t('messages.preview'), class: 'cf-btn', name: 'preview' %>
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), forum_path(current_forum), class: 'cf-btn' %>
  </p>
<% end %>
