<%= form_for @thread, url: cf_threads_path(current_forum), html: {class: 'form-horizontal'} do |f| %>
  <% if @thread.message.errors.any? %>
    <div id="error_explanation" class="cf-error">
      <h4><%= t_numerus(@thread.message.errors.count, 'messages.error_message_s', 'messages.error_message_p', num: @thread.message.errors.count) %></h4>

      <ul>
      <% @thread.message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :message, f.object.message do |builder| %>
    <%= render "cf_messages/form", f: builder %>
  <% end %>

  <ul id="charta">
    <li>Formuliere <a href="http://wiki.selfhtml.org/wiki/SELFHTML:Forum/Charta_des_SELFHTML-Forums"><strong>höflich und wertschätzend</strong></a>.</li>
    <li><strong>Vermeide</strong> <a href="http://de.wikipedia.org/wiki/Fullquote">Vollzitate</a>.</li>
    <li>Dein Beitrag wird <strong>dauerhaft</strong> <a href="http://forum.selfhtml.org/self/archive">archiviert</a>.</li>
  </ul>

  <p>
    <%= f.submit t('messages.preview'), :class => 'cf-btn', name: 'preview' %>
    <%= f.submit :class => 'cf-primary-btn' %>
    <%= link_to t('global.cancel'), cf_forum_path(current_forum), :class => 'cf-btn' %>
  </p>
<% end %>
