<%= form_for @thread, html: {:class => 'form-horizontal'} do |f| %>
  <% if @thread.message.errors.any? %>
    <div id="error_explanation" class="cf-error">
      <h4><%= pluralize(@thread.message.errors.count, "error") %> prohibited this thread from being saved:</h4>

      <ul>
      <% @thread.message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :message, f.object.message do |builder| %>
    <%= render "cf_messages/form", f: builder %>
  <% end %>

  <p>
    <%= f.submit t('messages.preview'), :class => 'cf-btn', name: 'preview' %>
    <%= f.submit :class => 'cf-primary-btn' %>
    <%= link_to t('global.cancel'), cf_forum_path(current_forum), :class => 'cf-btn' %>
  </p>
<% end %>
