<%= render 'application/errors', object: @thread.message, scope: 'messages' %>

<%= form_for @thread, url: cf_threads_path(current_forum), html: {class: 'cf-form'} do |f| %>
  <% if current_forum.blank? %>
    <div class="cf-cgroup">
      <%= f.label :forum_id %>
      <%= f.collection_select :forum_id, @forums, :forum_id, :name, required: true %>
    </div>
  <% end %>

  <%= f.fields_for :message, f.object.message do |builder| %>
    <%= render "messages/form", f: builder, tags: @tags, message: @message %>
  <% end %>

  <%= render 'messages/post_notes' %>

  <p>
    <%= f.submit t('messages.preview'), class: 'cf-btn', name: 'preview' %>
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), forum_path(current_forum), class: 'cf-btn' %>
  </p>
<% end %>
