<%
content_for :title, t('threads.threadlist_title')
content_for :h1, current_forum.blank? ? t('threads.threadlist_all') : t('threads.threadlist', name: current_forum.name)
content_for :body_id, 'threads-index'
content_for :body_classes, 'threads forum-' + (current_forum.try(:slug) || 'all')
%>

<div class="root" data-js="threadlist">
  <% for thread in @threads %>
    <article class="thread threadlist<% if thread.archived %> archived<% end %><% if thread.sticky %> sticky<% end %><% unless thread.attribs['classes'].blank? %> <%= thread.attribs['classes'].join(' ') %><% end %>" id="t<%= thread.thread_id %>">
      <%= message_header(thread, thread.message, first: true, show_icons: true) %>

      <% if not thread.message.messages.blank? and thread.attribs['open_state'] != 'closed' %>
        <%= message_tree(thread, thread.message.messages, show_icons: true,
                         hide_repeating_subjects: uconf('hide_subjects_unchanged') == 'yes') %>
      <% end %>
    </article>
  <% end %>
</div>

<% if uconf('page_messages') == 'yes' %>
  <%= render 'pages' %>
<% end %>

<img src="http://www.browser-statistik.de/browser.png?style=0" 
     width="1" height="1" style="border: 0px;" alt="">
