<%
content_for :title, t("threads.move_thread", thread: @thread.message.subject)
content_for :h1, t("threads.move_thread", thread: @thread.message.subject)
%>

<%= form_for @thread, url: move_cf_thread_path(@thread), :method => :post, html: {:class => 'cf-form'} do |t| %>
  <div class="cf-cgroup">
    <label for="forum_move_to"><%= t('threads.move_to_forum') %></label>
    <select id="forum_move_to" name="move_to">
      <% @forums.each do |f| %>
        <option value="<%= f.forum_id %>"<% if @move_to == f.forum_id %> selected="selected"<% end %>><%= f.short_name %></option>
      <% end %>
    </select>
  </div>

  <p class="form-actions">
    <%= t.submit t('threads.move_thread'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), forum_path(current_forum.slug), class: 'cf-btn' %>
  </p>
<% end %>
