<%= render 'application/errors', object: @event, scope: 'admin.events' %>

<div class="cf-cgroup">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="cf-cgroup">
  <%= f.label :location %>
  <%= f.text_field :location %>
</div>

<div class="cf-cgroup">
  <%= f.label :maps_link %>
  <%= f.text_field :maps_link %>
</div>

<div class="cf-cgroup date-select">
  <%= f.label :start_date %>
  <%= f.date_select :start_date, start_year: DateTime.now.year %>
</div>

<div class="cf-cgroup date-select">
  <%= f.label :end_date %>
  <%= f.date_select :end_date, start_year: DateTime.now.year %>
</div>

<div class="cf-cgroup">
  <%= f.label :visible do %>
    <%= f.check_box :visible %>
    <%= Event.human_attribute_name(:visible) %>
  <% end %>
</div>

<div class="cf-cgroup">
  <%= f.label :description %>
  <%= f.text_area :description, id: 'event_description' %>
</div>

<% if uconf('live_preview') == 'yes' %>
  <article class="thread-message preview">
    <h3><%= t("messages.preview") %></h3>
    <div class="posting-content" id="on-the-fly-preview"></div>
  </article>
<% end %>

<div class="form-actions">
  <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
  <%= cf_link_to t('global.cancel'), admin_events_path, class: 'cf-btn' %>
</div>
