<%
content_for(:title, t('devise.sign_up'))
content_for(:h1, t('devise.sign_up'))
content_for :body_id, 'registrations-new'
content_for :body_classes, 'registrations new'
%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'cf-form'}) do |f| %>
  <% if resource.errors.any? %>
  <div class="alert alert-error">
    <h4><%= t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase) %></h4>

    <ul>
      <% for message in resource.errors.full_messages %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="cf-cgroup">
    <%= f.label :username %>
    <%= f.text_field(:username, 'data-js' => 'username') %>
  </div>

  <div class="cf-cgroup">
    <%= f.label(:email) %>
    <%= f.text_field(:email, type: 'email') %>
  </div>

  <div class="cf-cgroup">
    <%= f.label :password %>
    <%= f.text_field(:password, type: 'password') %>
  </div>

  <div class="cf-cgroup">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, type: 'password' %>
  </div>

  <p class="form-actions">
    <%= f.submit t('devise.sign_up'), class: 'cf-primary-btn' %>
  </p>
<% end %>
