<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class => 'form-horizontal'}) do |f| %>
  <% if resource.errors.any? %>
  <div class="alert alert-error">
    <h4><%= t("errors.messages.not_saved", :count => resource.errors.count, :resource => resource.class.model_name.human.downcase) %></h4>

    <ul>
      <% for message in resource.errors.full_messages %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  resource.errors.full_messages

  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :username %></div>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls"><%= f.email_field :email %></div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls"><%= f.password_field :password %></div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls"><%= f.password_field :password_confirmation %></div>
  </div>

  <p class="form-actions">
    <%= f.submit "Sign up", :class => 'btn btn-primary' %>
  </p>
<% end %>


