<%= render 'application/errors', object: @badge_group, scope: 'admin.badge_groups' %>

<div class="cf-cgroup">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="badge-list">
  <% @badges.each do |badge| %>
    <label><%= check_box_tag 'badges[]', badge.badge_id, badge.in?(@badge_group.badges) %> <%= badge.name %></label>
  <% end %>
</div>
