<%
content_for :title, t('admin.audit.audit_log')
content_for :h1, t('admin.audit.audit_log')
%>

<h2><%= t('admin.audit.search') %></h2>

<%= form_tag admin_audit_path, class: 'cf-form', method: 'get', rel: 'nofollow' do %>
  <div class="cf-cgroup">
    <label for="term"><%= t('search.search_for') %></label>
    <%= search_field_tag 'term', params[:term], placeholder: t('admin.audit.search_term'), autofocus: params[:term].blank? ? true : false %>
  </div>

  <div class="cf-cgroup date-select">
    <label><%= t('global.from') %></label>
    <%= select_date @start_date, prefix: :start_date, end_year: DateTime.now.year, start_year: @min_year %>
  </div>

  <div class="cf-cgroup date-select">
    <label><%= t('global.to') %></label>
    <%= select_date @stop_date, prefix: :stop_date, end_year: DateTime.now.year, start_year: @min_year %>
  </div>


  <div class="cf-cgroup">
    <label><%= t('admin.audit.objects') %></label>
    <div class="cntrls">
      <% t('admin.audit.the_objects').each do |k, v| %>
        <label><%= check_box_tag 'objects[]', k, @objects.include?(k.to_s) %> <%= v %></label>
      <% end %>
    </div>
  </div>

  <% t('admin.audit.names').each do |rel, events| %>
    <div class="cf-cgroup" data-depends-on="objects[]=<%= rel %>">
      <label><%= t('admin.audit.events', relation: t('admin.audit.the_objects.' + rel.to_s)) %></label>
      <div class="cntrls">
        <% events.each do |k, v| %>
          <label class="checkbox"><%= check_box_tag 'events[]', "#{rel}_#{k}", @events.include?("#{rel}_#{k}") %> <%= v %></label>
        <% end %>
      </div>
    </div>
  <% end %>

  <p class="form-actions">
    <%= submit_tag t('search.do_search'), class: 'cf-primary-btn', name: nil %>
  </p>
<% end %>

<h2>Audit-Einträge</h2>

<table class="cf-default-table">
  <thead>
    <tr>
      <th><%= Auditing.human_attribute_name(:act) %></th>
      <th><%= Auditing.human_attribute_name(:user_id) %></th>
      <th>Objekt</th>
      <th><%= Auditing.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>

  <tbody>
    <% @audits.each do |ent| %>
    <tr>
      <td><%= t('admin.audit.names.' + ent.relation + '.' + ent.act) %></td>
      <td><%= ent.user.try(:username) || '<em>(unbekannt)</em>'.html_safe %></td>
      <td><%= render ent.relation, object: ent.contents %>
      <td><%= l(ent.created_at, format: date_format) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @audits %>
