<%

unless cite.archived?
  has_upvote = has_downvote = false
  vote = cite.votes.index { |x| x.user_id == current_user.try(:user_id) }

  if not vote.nil?
    vote = cite.votes[vote]
    has_upvote = true if not vote.blank? and vote.vote_type == CiteVote::UPVOTE
    has_downvote = true if not vote.blank? and vote.vote_type == CiteVote::DOWNVOTE
  end

  downvote_msg = if has_downvote
                   t('messages.unvote')
                 else
                   t('messages.vote_down')
                 end

  upvote_msg = if has_upvote
                 t('messages.unvote')
               else
                 t('messages.vote_up')
               end
end

gen_link = (not cite.url.blank? and (cite.message_id.blank? or may_read?(cite.message)))

%><article class="thread-message cite h-cite">
  <div class="posting-header">
    <header class="message">
      <h2><%= cf_link_to t('cites.cite', id: cite.cite_id), cite_path(cite) %></h2>

      <% if gen_link %>
        <div class="origin"><%= cf_link_to cite.message_id.blank? ? cite.url : cite.message.subject, cite.url, class: 'p-name u-uid u-url' %></div>
      <% end %>

      <div class="details">
        <span class="author p-author h-card">
          <% unless cite.user_id.blank? %>
            <span class="registered-user">
              <%= cf_link_to image_tag(cite.user.avatar(:thumb), class: 'u-photo'), user_path(cite.user) %>
            </span>

            <%= cf_link_to cite.author, user_path(cite.user), class: 'p-name u-uid u-url' %>
          <% else %>
            <span class="p-name"><%= cite.author %></span>
          <% end %>
        </span>

        <%=
          time_tag cite.cite_date, class: 'dt-published' do
            if gen_link
              cf_link_to l(cite.cite_date, format: uconf('date_format_date')), cite.url
            else
              l(cite.cite_date, format: uconf('date_format_date'))
            end
          end
        %>
      </div>
    </header>

    <% if not current_user.blank? and not cite.archived? %>
      <div class="voting">
        <%= form_tag cite_vote_path(cite), method: :post, class: 'form-inline' do %>
          <button name="type"
                  value="down"
                  title="<%= downvote_msg %>"
                  class="cf-btn vote icon-vote-down<% if has_downvote %> active<% end %>">‒</button>

          <span class="votes" title="<%= t('messages.votes_tree', count: cite.votes.length, score: cite.score_str) %>"><%= cite.score_str %></span>

          <button name="type"
                  value="up"
                  title="<%= upvote_msg %>"
                  class="cf-btn vote icon-vote-up<% if has_upvote %> active<% end %>">+</button>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="posting-content cite p-content"><%= cite.to_html(@app_controller) %></div>

  <div>
    <% unless cite.creator.blank? %><%= t('cites.created_by_at') %>
      <span class="author">
        <% if not cite.creator_user_id.blank? %>
          <span class="registered-user">
            <%= cf_link_to image_tag(cite.creator_user.avatar(:thumb)), user_path(cite.creator_user) %>
            <%= cf_link_to cite.creator, user_path(cite.creator_user) %>
          </span>
        <% else %>
          <span class="icon-message original-poster"><%= cite.creator %></span>
        <% end %>
      </span>
    <% end %>
    <%= time_tag cite.created_at, l(cite.created_at, format: uconf('date_format_date')), class: 'dt-accessed' %>
  </div>
</article>
