<%= render 'application/errors', object: @cite, scope: 'cites' %>

<fieldset>
  <div class="cf-cgroup">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="cf-cgroup">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <% if current_user.blank? or @cite.persisted? %>
    <div class="cf-cgroup">
      <%= f.label :creator %>
      <%= f.text_field :creator %>
    </div>
  <% end %>

  <div class="cf-cgroup">
    <%= f.label :cite %>
    <%= f.text_area :cite %>
  </div>

  <% if uconf('live_preview') == 'yes' %>
    <article class="thread-message preview">
      <h3>Vorschau</h3>
      <div class="posting-content" id="on-the-fly-preview"></div>
    </article>
  <% end %>
</fieldset>
