<%
content_for :title, t('cites.cite', id: @cite.cite_id)
content_for :h1, t('cites.cite', id: @cite.cite_id)
content_for :body_id, 'cites-show'
content_for :body_classes, 'cites show'
%>

<% if not @prev_cite.blank? or not @next_cite.blank? %>
  <div class="cf-pages">
    <ul>
      <% unless @prev_cite.blank? %>
        <li><%= cf_link_to t('views.pagination.prev_page'), cite_path(@prev_cite), rel: 'previous' %></li>
      <% end %>
      <% unless @next_cite.blank? %>
        <li><%= cf_link_to t('views.pagination.next_page'), cite_path(@next_cite), rel: 'next' %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'cite', cite: @cite %>

<p class="form-actions">
  <%= cf_link_to t('cites.cites'), cites_path, class: 'cf-btn' %>

  <% if current_user.try(:admin?) or may?(Badge::MODERATOR_TOOLS) %>
    <%= cf_link_to t('cites.edit_cite'), edit_cite_path(@cite), class: 'cf-btn' %>
    <%= cf_link_to(t('cites.destroy_cite'), cite_path(@cite), method: :delete,
                   data: { 'cf-confirm' => t('global.are_you_sure') }, class: 'cf-btn') %>
  <% end %>
</p>


<% if not @prev_cite.blank? or not @next_cite.blank? %>
  <div class="cf-pages">
    <ul>
      <% unless @prev_cite.blank? %>
        <li><%= cf_link_to t('views.pagination.prev_page'), cite_path(@prev_cite), rel: 'previous' %></li>
      <% end %>
      <% unless @next_cite.blank? %>
        <li><%= cf_link_to t('views.pagination.next_page'), cite_path(@next_cite), rel: 'next' %></li>
      <% end %>
    </ul>
  </div>
<% end %>
