<%
content_for :title, t('admin.badges.index')
content_for :h1, t('admin.badges.index')
%>

<table class="cf-default-table">
  <thead>
    <tr>
      <th> </th>
      <th><%= Badge.human_attribute_name(:name) %></th>
      <th><%= Badge.human_attribute_name(:score_needed) %></th>
      <th><%= Badge.human_attribute_name(:badge_type) %></th>
      <th><%= Badge.human_attribute_name(:badge_medal_type) %></th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @badges.each do |badge| %>
      <tr>
        <td><%= badge.order %></td>
        <td><%= cf_link_to badge.name, edit_admin_badge_path(badge) %></td>
        <td><%= badge.score_needed %></td>
        <td><%= t('badges.badge_types.' + badge.badge_type) %></td>
        <td><%= t('badges.badge_medal_types.' + badge.badge_medal_type) %></td>
        <td>
          <%= cf_link_to('', edit_admin_badge_path(badge),
                         class: "icon-edit-badge",
                         title: t('admin.badges.edit')) %>
          <%= cf_button_to(admin_badge_path(badge),
                           data: {'cf-confirm' => t('global.are_you_sure')},
                           method: :delete,
                           class: 'icon-delete-badge',
                           title: t('admin.badges.delete')) %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
