<%
content_for :title, @search_results ? t('search.search_found', count: @search_results.total_count, term: params[:term]) : t('search.search')
content_for :h1, t('search.search')
content_for :body_id, 'search'
content_for :body_classes, 'search'
content_for :robots, 'noindex,nofollow'
%>

<%= form_tag search_path + '#results', class: 'form-horizontal', method: 'get', rel: 'nofollow' do %>
  <div class="cf-cgroup">
    <label for="term"><%= t('search.search_for') %></label>

    <div class="cntrls">
      <%= search_field_tag 'term', params[:term], placeholder: t('search.search_term'), autofocus: params[:term].blank? ? true : false %>

      <ul class="search-explanation">
        <li><code>-</code> vor einem Begriff: der Begriff darf nicht vorkommen</li>
        <li>Mehrere durch Leerzeichen getrennt Begriffe werden mit <em>und</em> verknüpft ausgewertet</li>
        <li>Zeichenketten in "Gänsefüßchen" eingeschlossen dürfen auch Leerzeichen enthalten</li>
        <li><code>author:term</code> sucht <code>term</code> nur im Verfasser, <code>tag:term</code> nur im Tag,
          <code>title:term</code> nur im Titel, <code>body:term</code> nur im Text der Nachricht.</li>
        <li>Es können jeweils mehrere Begriffe angegeben werden, z.B. <code>tag:html tag:css</code> sucht nach Beiträgen mit den Tags <code>css</code> und <code>html</code></li>
      </ul>
    </div>
  </div>

  <div class="cf-cgroup">
    <label><%= t('search.search_in_sections') %></label>
    <div class="cntrls">
      <% @sections.each do |section| %>
        <label class="checkbox"><%= check_box_tag('sections[]',
                                                  section.search_section_id,
                                                  @search_sections.include?(section.search_section_id),
                                                  id: 'sections-' + section.search_section_id.to_s) %>
          <%= section.name %></label>
      <% end %>
    </div>
  </div>

  <div class="cf-cgroup date-select">
    <label><%= t('global.from') %></label>
    <div class="cntrls">
      <%= select_date @start_date, prefix: :start_date, end_year: DateTime.now.year, start_year: @min_year %>
    </div>
  </div>

  <div class="cf-cgroup date-select">
    <label><%= t('global.to') %></label>
    <div class="cntrls">
      <%= select_date @stop_date, prefix: :stop_date, end_year: DateTime.now.year, start_year: @min_year %>
    </div>
  </div>

  <div class="cf-cgroup">
    <label><%= t('search.order') %></label>
    <div class="cntrls">
      <label class="radio"><%= radio_button_tag :order, 'rank', @order != 'document_created' %> <%= t('search.rank') %></label>
      <label class="radio"><%= radio_button_tag :order, 'document_created', @order == 'document_created' %> <%= t('search.date') %></label>
    </div>
  </div>


  <p>
    <%= submit_tag t('search.do_search'), class: 'cf-primary-btn', name: nil %>
  </p>
<% end %>

<% if @search_results %>
  <h2 id="results"><%= t('search.results', count: @search_results.total_count) %></h2>

  <% @doc_fragment = '#results' %>
  <%= paginate @search_results %>

  <div class="root search-results">
    <% @search_results.each do |result| %>
      <% had_desc = false %>
      <article class="thread">
        <header>
          <span class="thread-forum-plate"><%= result.search_section.name %></span>
          <h3><%= link_to result.title, result.url %></h3>
          <div class="details">
            <span class="author">
              <% if result.user_id %>
                <%= link_to(image_tag(result.user.avatar(:thumb), class: 'avatar'), user_path(result.user), class: 'user-link') %>
              <% end %>
              <%= link_to result.author, result.url %></span>,
            <%= link_to result.url do %>
              <time datetime="<%= result.document_created.strftime("%FT%T%:z") %>"><%= l(result.document_created, format: date_format("date_format_search")) %></time>
            <% end %>
            <% unless result.tags.blank? %>
              <ul class="cf-tags-list">
                <% result.tags.each do |tag_name| %>
                  <li class="cf-tag"><span><%= tag_name %></span></li>
                <% end %>
              </ul>
            <% end %>
            <!-- (<%= 'relevance: ' + result.relevance.to_s + ', rank: ' + result.rank.to_s %>) -->
          </div>
        </header>

        <ol>
          <% unless result.attributes['headline_author'].blank? %>
            <li><%= result.headline_author.html_safe %></li>
          <% end %>

          <% unless result.attributes['headline_title'].blank? %>
            <li><%= result.headline_title.html_safe %></li>
          <% end %>

          <% unless result.attributes['headline_doc'].blank? %>
            <li><%= result.headline_doc.html_safe %></li>
            <% had_desc = true %>
          <% end %>

          <% unless result.attributes['headline_content'].blank? %>
            <li><%= result.headline_content.html_safe %></li>
            <% had_desc = true %>
          <% end %>

          <% unless had_desc %>
            <li><%= result.content.truncate_words(30) %></li>
          <% end %>
        </ol>
      </article>
    <% end %>
  </div>

  <%= paginate @search_results %>
<% end %>
