<ul>
  <li<% if controller_name == 'users' and action_name != 'new' %> class="active"<% end %>><%= cf_link_to t('global.users'), admin_users_path %></li>
  <li<% if controller_name == 'settings' %> class="active"<% end %>><%= cf_link_to t('admin.settings_menu'), admin_settings_path %></li>
  <li<% if controller_name == 'forums' and action_name != 'new' %> class="active"<% end %>><%= cf_link_to t('global.forums'), admin_forums_path %></li>
  <li<% if controller_name == 'events' and action_name != 'new' %> class="active"<% end %>><%= cf_link_to t('global.events'), admin_events_path %></li>
  <li<% if controller_name == 'groups' and action_name != 'new' %> class="active"<% end %>><%= cf_link_to t('global.groups'), admin_groups_path %></li>
  <li<% if controller_name == 'badges' and action_name != 'new' %> class="active"<% end %>><%= cf_link_to t('global.badges'), admin_badges_path %></li>
  <li<% if controller_name == 'badge_groups' and action_name != 'new' %> class="active"<% end %>><%= cf_link_to t('global.badge_groups'), admin_badge_groups_path %></li>
  <li<% if controller_name == 'search_sections' and action_name != 'new' %> class="active"<% end %>><%= cf_link_to t('admin.search_sections.index'), admin_search_sections_path %></li>
  <li<% if controller_name == 'images' and action_name != 'new' %> class="active"<% end %>><%= cf_link_to t('images.images'), images_path %></li>
  <li<% if controller_name == 'audit' %> class="active"<% end %>><%= cf_link_to t('admin.audit.audit_log'), admin_audit_path %></li>
  <li<% if controller_name == 'jobs' %> class="active"<% end %>><%= cf_link_to t('admin.jobs.jobs'), root_path + 'admin/sidekiq' %></li>
  <li<% if controller_name == 'redirections' %> class="active"<% end %>><%= cf_link_to t('admin.redirections.index'), admin_redirections_path %></li>
</ul>
