<ul class="nav nav-list">
  <li class="nav-header"><%= t('admin.administration') %></li>
  <li<% if controller_name == 'cf_users' and action_name != 'new' %> class="active"<% end %>><%= link_to t('global.users'), admin_users_path %></li>
  <li<% if controller_name == 'cf_settings' %> class="active"<% end %>><%= link_to t('admin.settings'), admin_settings_path %></li>
  <li<% if controller_name == 'cf_forums' and action_name != 'new' %> class="active"<% end %>><%= link_to t('global.forums'), admin_forums_path %></li>
  <li<% if controller_name == 'cf_groups' and action_name != 'new' %> class="active"<% end %>><%= link_to t('global.groups'), admin_groups_path %></li>
</ul>
