<%
content_for :title, t('badges.badges')
content_for :h1, t('badges.badges')
content_for(:body_id, "badges-index")
content_for(:body_classes, 'badges index')
%>

<p><%= t('layout.scoring_rules').html_safe %></p>

<table class="cf-default-table">
  <thead>
    <tr>
      <th><%= sortable Badge.human_attribute_name(:order), :order, :badges_path %></th>
      <th><%= sortable Badge.human_attribute_name(:badge_medal_type), :badge_medal_type, :badges_path %></th>
      <th><%= sortable Badge.human_attribute_name(:name), :name, :badges_path %></th>
      <th><%= sortable Badge.human_attribute_name(:score_needed), :score_needed, :badges_path %></th>
      <th><%= sortable t("badges.no_users"), :no_users, :badges_path %>
    </tr>
  </thead>

  <tbody>
    <% @badges.each do |badge| %>
      <tr>
        <td><%= badge.order %></td>
        <td><%= image_tag badge.badge_medal_type + '.png' %></td>
        <td><%= cf_link_to badge.name, badge %></td>
        <td><%= badge.score_needed %></td>
        <td><%= badge.users.uniq.length %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= paginate @badges, params: { sort: sort_column, dir: sort_direction } %>
