<%
content_for :title, t('badges.badge_w_name',
                      mtype: t("badges.badge_medal_types." + @badge.badge_medal_type),
                      name: @badge.name)

content_for(:body_id, "badges-" + @badge.slug)
content_for(:body_classes, 'badges show badge-' + @badge.slug)

content_for :h1 do
%><%= image_tag @badge.badge_medal_type + '.png' %>
  <%= t('badges.badge_w_name',
        mtype: t("badges.badge_medal_types." + @badge.badge_medal_type),
        name: @badge.name) %>
<% end %>

<p>
  <%= @badge.to_html(@app_controller) %>
</p>


<ul class="badge-user-list">
  <% un_users = @badge.unique_users %>
  <% un_users.each do |ub| %>
    <li><%= cf_link_to image_tag(ub[:user].avatar.url(:thumb)) + " " + ub[:user].username, user_path(ub[:user]) %>
      <% if ub[:times] > 1 %>× <%= ub[:times] %><% end %> (<%= l(ub[:created_at], format: date_format) %>)</li>
  <% end %>
</ul>
