<fieldset class="cf-tab-pane" id="comfort">
  <legend>Komfort</legend>

  <div class="cf-cgroup">
    <label for="settings_greeting"><%= t('users.settings.greeting') %></label>
    <div class="cntrls">
      <textarea name="settings[greeting]" id="settings_greeting" placeholder="<%= t('layout.placeholders.greeting') %>"<%= disabled %>><%= @settings.conf('greeting') %></textarea>
    </div>
  </div>

  <div class="cf-cgroup">
    <label for="settings_farewell"><%= t('users.settings.farewell') %></label>
    <div class="cntrls">
      <textarea name="settings[farewell]" id="settings_farewell" placeholder="<%= t('layout.placeholders.farewell') %>"<%= disabled %>><%= @settings.conf('farewell') %></textarea>
    </div>
  </div>

  <div class="cf-cgroup">
    <label for="settings_signature"><%= t('users.settings.signature') %></label>
    <div class="cntrls">
      <textarea name="settings[signature]" id="settings_signature" placeholder="<%= t('layout.placeholders.signature') %>"<%= disabled %>><%= @settings.conf('signature') %></textarea>
    </div>
  </div>

  <div class="cf-cgroup">
    <label for="settings_quote_signature"><%= t('users.settings.quote_signature') %></label>
    <div class="cntrls">
      <%= hidden_field_tag 'settings[quote_signature]', 'no', id: '' %>
      <label class="checkbox"><%= check_box_tag 'settings[quote_signature]', 'yes', @settings.conf('quote_signature') == 'yes' %></label>
    </div>
  </div>

  <div class="cf-cgroup">
    <label for="settings_show_unread_notifications_in_title"><%= t('users.settings.show_unread_notifications_in_title') %></label>
    <div class="cntrls">
      <%= hidden_field_tag 'settings[show_unread_notifications_in_title]', 'no', id: '' %>
      <label class="checkbox"><%= check_box_tag 'settings[show_unread_notifications_in_title]', 'yes', @settings.conf('show_unread_notifications_in_title') == 'yes' %></label>
    </div>
  </div>

  <div class="cf-cgroup">
    <label for="settings_show_unread_pms_in_title"><%= t('users.settings.show_unread_pms_in_title') %></label>
    <div class="cntrls">
      <%= hidden_field_tag 'settings[show_unread_pms_in_title]', 'no', id: '' %>
      <label class="checkbox"><%= check_box_tag 'settings[show_unread_pms_in_title]', 'yes', @settings.conf('show_unread_pms_in_title') == 'yes' %></label>
    </div>
  </div>

  <div class="cf-cgroup">
    <label for="settings_show_new_messages_since_last_visit_in_title"><%= t('users.settings.show_new_messages_since_last_visit_in_title') %></label>
    <div class="cntrls">
      <%= hidden_field_tag 'settings[show_new_messages_since_last_visit_in_title]', 'no', id: '' %>
      <label class="checkbox"><%= check_box_tag 'settings[show_new_messages_since_last_visit_in_title]', 'yes', @settings.conf('show_new_messages_since_last_visit_in_title') == 'yes' %></label>
    </div>
  </div>
</fieldset>
