<fieldset class="cf-tab-pane" id="comfort">
  <legend>Komfort</legend>

  <div class="cf-cgroup">
    <label for="settings_greeting"><%= t('users.settings.greeting') %></label>
    <textarea name="settings[greeting]" id="settings_greeting" placeholder="<%= t('layout.placeholders.greeting') %>"<%= disabled %>><%= @settings.conf('greeting') %></textarea>
  </div>

  <div class="cf-cgroup">
    <label for="settings_farewell"><%= t('users.settings.farewell') %></label>
    <textarea name="settings[farewell]" id="settings_farewell" placeholder="<%= t('layout.placeholders.farewell') %>"<%= disabled %>><%= @settings.conf('farewell') %></textarea>
  </div>

  <div class="cf-cgroup">
    <label for="settings_signature"><%= t('users.settings.signature') %></label>
    <textarea name="settings[signature]" id="settings_signature" placeholder="<%= t('layout.placeholders.signature') %>"<%= disabled %>><%= @settings.conf('signature') %></textarea>
  </div>

  <div class="cf-cgroup">
    <label for="settings_quote_signature">
      <%= hidden_field_tag 'settings[quote_signature]', 'no', id: '' %>
      <%= check_box_tag 'settings[quote_signature]', 'yes', @settings.conf('quote_signature') == 'yes' %>
      <%= t('users.settings.quote_signature') %>
    </label>
  </div>

  <div class="cf-cgroup">
    <label for="settings_inline_answer">
      <%= hidden_field_tag 'settings[inline_answer]', 'no', id: '' %>
      <%= check_box_tag 'settings[inline_answer]', 'yes', @settings.conf('inline_answer') == 'yes' %>
      <%= t('users.settings.inline_answer') %>
    </label>
  </div>

  <div class="cf-cgroup">
    <label for="settings_quote_by_default"><%= t('users.settings.quote_by_default') %></label>
    <label class="radio"><input type="radio" value="yes" name="settings[quote_by_default]" <% if @settings.conf('quote_by_default') == 'yes' %> checked="checked"<% end %>> <%= t("global.yeah") %></label>
    <label class="radio"><input type="radio" value="no" name="settings[quote_by_default]" <% if @settings.conf('quote_by_default') == 'no' || @settings.conf('quote_by_default').blank? %> checked="checked"<% end %>> <%= t("global.nope") %></label>
    <label class="radio"><input type="radio" value="button" name="settings[quote_by_default]" <% if @settings.conf('quote_by_default') == 'button' %> checked="checked"<% end %>> <%= t("users.settings.quote_by_default_buttons") %></label>
  </div>

  <div class="cf-cgroup">
    <label for="settings_show_unread_notifications_in_title">
      <%= hidden_field_tag 'settings[show_unread_notifications_in_title]', 'no', id: '' %>
      <%= check_box_tag 'settings[show_unread_notifications_in_title]', 'yes', @settings.conf('show_unread_notifications_in_title') == 'yes' %>
      <%= t('users.settings.show_unread_notifications_in_title') %>
    </label>
  </div>

  <div class="cf-cgroup">
    <label for="settings_show_unread_pms_in_title">
      <%= hidden_field_tag 'settings[show_unread_pms_in_title]', 'no', id: '' %>
      <%= check_box_tag 'settings[show_unread_pms_in_title]', 'yes', @settings.conf('show_unread_pms_in_title') == 'yes' %>
      <%= t('users.settings.show_unread_pms_in_title') %>
    </label>
  </div>

  <div class="cf-cgroup">
    <label for="settings_show_new_messages_since_last_visit_in_title">
      <%= hidden_field_tag 'settings[show_new_messages_since_last_visit_in_title]', 'no', id: '' %>
      <%= check_box_tag 'settings[show_new_messages_since_last_visit_in_title]', 'yes', @settings.conf('show_new_messages_since_last_visit_in_title') == 'yes' %>
      <%= t('users.settings.show_new_messages_since_last_visit_in_title') %>
    </label>
  </div>

  <div class="cf-cgroup">
    <label for="settings_autorefresh"><%= t('users.settings.autorefresh') %></label>
    <input type="number" min="0" max="60" step="1" value="<%= @settings.conf('autorefresh') %>" name="settings[autorefresh]" id="settings_autorefresh"<%= disabled %>>
  </div>

  <div class="cf-cgroup">
    <label for="settings_load_messages_via_js">
      <%= hidden_field_tag 'settings[load_messages_via_js]', 'no', id: '' %>
      <%= check_box_tag 'settings[load_messages_via_js]', 'yes', @settings.conf('load_messages_via_js') != 'no' %>
      <%= t('users.settings.load_messages_via_js') %>
    </label>
  </div>

  <div class="cf-cgroup">
    <label for="settings_live_preview">
      <%= hidden_field_tag 'settings[live_preview]', 'no', id: '' %>
      <%= check_box_tag 'settings[live_preview]', 'yes', @settings.conf('live_preview') != 'no' %>
      <%= t('users.settings.live_preview') %>
    </label>
  </div>

</fieldset>
