<fieldset class="tab-pane" id="comfort">
  <legend>Komfort</legend>

  <div class="control-group">
    <label class="control-label" for="settings_greeting"><%= t('users.settings.greeting') %></label>
    <div class="controls">
      <textarea name="settings[greeting]" id="settings_greeting"<%= disabled %>><%= @settings.conf('greeting') %></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings_farewell"><%= t('users.settings.farewell') %></label>
    <div class="controls">
      <textarea name="settings[farewell]" id="settings_farewell"<%= disabled %>><%= @settings.conf('farewell') %></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings_signature"><%= t('users.settings.signature') %></label>
    <div class="controls">
      <textarea name="settings[signature]" id="settings_signature"<%= disabled %>><%= @settings.conf('signature') %></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings_quote_signature"><%= t('users.settings.quote_signature') %></label>
    <div class="controls">
      <%= hidden_field_tag 'settings[quote_signature]', 'no' %>
      <%= check_box_tag 'settings[quote_signature]', 'yes', @settings.conf('quote_signature') %>
    </div>
  </div>
</fieldset>
