<fieldset class="cf-tab-pane" id="notifications">
  <legend><%= t('users.settings.notifications') %></legend>

  <div class="cf-cgroup">
    <label>
      <input type="hidden" name="settings[use_javascript_notifications]" value="no">
      <input type="checkbox" value="yes" name="settings[use_javascript_notifications]"<%= disabled %><% if @settings.conf('use_javascript_notifications') == 'yes' %> checked="checked"<% end %>>
      <%= t('users.settings.use_javascript_notifications') %>
    </label>
  </div>

  <div class="cf-cgroup">
    <label><%= t('users.settings.notify_on_new_mail') %></label>
    <label class="radio"><input type="radio" value="yes" name="settings[notify_on_new_mail]"<%= disabled %><% if @settings.conf('notify_on_new_mail') == 'yes' %> checked="checked"<% end %>> <%= t("global.yeah") %></label>
    <label class="radio"><input type="radio" value="no" name="settings[notify_on_new_mail]"<%= disabled %><% if @settings.conf('notify_on_new_mail') == 'no' or @settings.conf('notify_on_new_mail').blank? %> checked="checked"<% end %>> <%= t("global.nope") %></label>
    <label class="radio"><input type="radio" value="email" name="settings[notify_on_new_mail]"<%= disabled %><% if @settings.conf('notify_on_new_mail') == 'email' %> checked="checked"<% end %>> <%= t("users.settings.via_email") %></label>
  </div>

  <div class="cf-cgroup">
    <label>
      <input type="hidden" name="settings[delete_read_notifications_on_new_mail]" value="no">
      <input type="checkbox" value="yes" name="settings[delete_read_notifications_on_new_mail]"<%= disabled %><% if @settings.conf('delete_read_notifications_on_new_mail') == 'yes' %> checked="checked"<% end %>>
      <%= t('users.settings.delete_read_notifications_on_new_mail') %>
    </label>
  </div>

  <div class="cf-cgroup">
    <label>
      <input type="hidden" name="settings[notify_on_new_thread]" value="no">
      <input type="checkbox" value="yes" name="settings[notify_on_new_thread]"<%= disabled %><% if @settings.conf('notify_on_new_thread') == 'yes' %> checked="checked"<% end %>>
      <%= t('users.settings.notify_on_new_thread') %>
    </label>
  </div>

  <div class="cf-cgroup">
    <label>
      <input type="hidden" name="settings[notify_on_abonement_activity]" value="no">
      <input type="checkbox" value="email" name="settings[notify_on_abonement_activity]"<%= disabled %><% if @settings.conf('notify_on_abonement_activity') == 'email' %> checked="checked"<% end %>> <%= t("global.yeah") %>
      <%= t('users.settings.notify_via_email_on_abonement_activity') %>
    </label>
  </div>

  <div class="cf-cgroup">
    <label>
      <input type="hidden" name="settings[delete_read_notifications_on_abonements]" value="no">
      <input type="checkbox" value="yes" name="settings[delete_read_notifications_on_abonements]"<%= disabled %><% if @settings.conf('delete_read_notifications_on_abonements') == 'yes' %> checked="checked"<% end %>>
      <%= t('users.settings.delete_read_notifications_on_abonements') %>
    </label>
  </div>

  <div class="cf-cgroup">
    <label><%= t('users.settings.autosubscribe_on_post') %></label>
    <label class="radio"><input type="radio" value="no" name="settings[autosubscribe_on_post]"<%= disabled %><% if @settings.conf('autosubscribe_on_post') == 'no' or @settings.conf('autosubscribe_on_post').blank? %> checked="checked"<% end %>> <%= t("global.nope") %></label>
    <label class="radio"><input type="radio" value="yes" name="settings[autosubscribe_on_post]"<%= disabled %><% if @settings.conf('autosubscribe_on_post') == 'yes' %> checked="checked"<% end %>> <%= t("users.settings.autosubscribe_parent") %></label>
    <label class="radio"><input type="radio" value="own" name="settings[autosubscribe_on_post]"<%= disabled %><% if @settings.conf('autosubscribe_on_post') == 'own' %> checked="checked"<% end %>> <%= t("users.settings.autosubscribe_own") %></label>
    <label class="radio"><input type="radio" value="root" name="settings[autosubscribe_on_post]"<%= disabled %><% if @settings.conf('autosubscribe_on_post') == 'root' %> checked="checked"<% end %>> <%= t("users.settings.autosubscribe_root") %></label>
  </div>

  <div class="cf-cgroup">
    <label><%= t('users.settings.notification_on_move') %></label>
    <label class="radio"><input type="radio" value="yes" name="settings[notify_on_move]"<%= disabled %><% if @settings.conf('notify_on_move') == 'yes' %> checked="checked"<% end %>> <%= t("global.yeah") %></label>
    <label class="radio"><input type="radio" value="no" name="settings[notify_on_move]"<%= disabled %><% if @settings.conf('notify_on_move') == 'no' or @settings.conf('notify_on_move').blank? %> checked="checked"<% end %>> <%= t("global.nope") %></label>
    <label class="radio"><input type="radio" value="email" name="settings[notify_on_move]"<%= disabled %><% if @settings.conf('notify_on_move') == 'email' %> checked="checked"<% end %>> <%= t("users.settings.via_email") %></label>
  </div>

  <div class="cf-cgroup">
    <label><%= t('users.settings.notify_on_mention') %></label>
    <label class="radio"><input type="radio" value="yes" name="settings[notify_on_mention]"<%= disabled %><% if @settings.conf('notify_on_mention') == 'yes' or @settings.conf('notify_on_mention').blank? %> checked="checked"<% end %>> <%= t("global.yeah") %></label>
    <label class="radio"><input type="radio" value="no" name="settings[notify_on_mention]"<%= disabled %><% if @settings.conf('notify_on_mention') == 'no' %> checked="checked"<% end %>> <%= t("global.nope") %></label>
    <label class="radio"><input type="radio" value="email" name="settings[notify_on_mention]"<%= disabled %><% if @settings.conf('notify_on_mention') == 'email' %> checked="checked"<% end %>> <%= t("users.settings.via_email") %></label>
  </div>

  <div class="cf-cgroup">
    <label>
      <input type="hidden" name="settings[delete_read_notifications_on_mention]" value="no">
      <input type="checkbox" value="yes" name="settings[delete_read_notifications_on_mention]"<%= disabled %><% if @settings.conf('delete_read_notifications_on_mention') == 'yes' %> checked="checked"<% end %>>
      <%= t('users.settings.delete_read_notifications_on_mention') %>
    </label>
  </div>

  <div class="cf-cgroup">
    <label><%= t('users.settings.notify_on_cite') %></label>
    <label class="radio"><input type="radio" value="yes" name="settings[notify_on_cite]"<%= disabled %><% if @settings.conf('notify_on_cite') == 'yes' or @settings.conf('notify_on_cite').blank? %> checked="checked"<% end %>> <%= t("global.yeah") %></label>
    <label class="radio"><input type="radio" value="no" name="settings[notify_on_cite]"<%= disabled %><% if @settings.conf('notify_on_cite') == 'no' %> checked="checked"<% end %>> <%= t("global.nope") %></label>
    <label class="radio"><input type="radio" value="email" name="settings[notify_on_cite]"<%= disabled %><% if @settings.conf('notify_on_cite') == 'email' %> checked="checked"<% end %>> <%= t("users.settings.via_email") %></label>
  </div>

  <div class="cf-cgroup">
    <label>
      <input type="hidden" name="settings[delete_read_notifications_on_cite]" value="no">
      <input type="checkbox" value="yes" name="settings[delete_read_notifications_on_cite]"<%= disabled %><% if @settings.conf('delete_read_notifications_on_cite') == 'yes' %> checked="checked"<% end %>>
      <%= t('users.settings.delete_read_notifications_on_cite') %>
    </label>
  </div>

  <% if @user.moderator? %>
    <div class="cf-cgroup">
      <label><%= t('users.settings.notification_on_flagged') %></label>
      <label class="radio"><input type="radio" value="yes" name="settings[notify_on_flagged]"<%= disabled %><% if @settings.conf('notify_on_flagged') == 'yes' %> checked="checked"<% end %>> <%= t("global.yeah") %></label>
      <label class="radio"><input type="radio" value="no" name="settings[notify_on_flagged]"<%= disabled %><% if @settings.conf('notify_on_flagged') == 'no' or @settings.conf('notify_on_flagged').blank? %> checked="checked"<% end %>> <%= t("global.nope") %></label>
      <label class="radio"><input type="radio" value="email" name="settings[notify_on_flagged]"<%= disabled %><% if @settings.conf('notify_on_flagged') == 'email' %> checked="checked"<% end %>> <%= t("users.settings.via_email") %></label>
    </div>

    <div class="cf-cgroup">
      <label><%= t('users.settings.notification_on_open_close_vote') %></label>
      <label class="radio"><input type="radio" value="yes" name="settings[notify_on_open_close_vote]"<%= disabled %><% if @settings.conf('notify_on_open_close_vote') == 'yes' %> checked="checked"<% end %>> <%= t("global.yeah") %></label>
      <label class="radio"><input type="radio" value="no" name="settings[notify_on_open_close_vote]"<%= disabled %><% if @settings.conf('notify_on_open_close_vote') == 'no' or @settings.conf('notify_on_open_close_vote').blank? %> checked="checked"<% end %>> <%= t("global.nope") %></label>
      <label class="radio"><input type="radio" value="email" name="settings[notify_on_open_close_vote]"<%= disabled %><% if @settings.conf('notify_on_open_close_vote') == 'email' %> checked="checked"<% end %>> <%= t("users.settings.via_email") %></label>
    </div>
  <% end %>

</fieldset>
