<fieldset class="cf-tab-pane" id="notifications">
  <legend><%= t('users.settings.notifications') %></legend>

  <div class="cf-cgroup">
    <label><%= t('users.settings.delete_read_notifications') %></label>
    <div class="cntrls">
      <input type="hidden" name="settings[delete_read_notifications]" value="no">
      <label class="checkbox"><input type="checkbox" value="yes" name="settings[delete_read_notifications]"<%= disabled %><% if @settings.conf('delete_read_notifications') == 'yes' %> checked="checked"<% end %>></label>
    </div>
  </div>

  <div class="cf-cgroup">
    <label><%= t('users.settings.notify_on_new_mail') %></label>
    <div class="cntrls">
      <label class="radio"><input type="radio" value="yes" name="settings[notify_on_new_mail]"<%= disabled %><% if @settings.conf('notify_on_new_mail') == 'yes' %> checked="checked"<% end %>> <%= t("global.yeah") %></label>
      <label class="radio"><input type="radio" value="no" name="settings[notify_on_new_mail]"<%= disabled %><% if @settings.conf('notify_on_new_mail') == 'no' or @settings.conf('notify_on_new_mail').blank? %> checked="checked"<% end %>> <%= t("global.nope") %></label>
      <label class="radio"><input type="radio" value="email" name="settings[notify_on_new_mail]"<%= disabled %><% if @settings.conf('notify_on_new_mail') == 'email' %> checked="checked"<% end %>> <%= t("users.settings.via_email") %></label>
    </div>
  </div>

  <div class="cf-cgroup">
    <label><%= t('users.settings.notification_on_activity') %></label>
    <div class="cntrls">
      <label class="radio"><input type="radio" value="yes" name="settings[notify_on_activity]"<%= disabled %><% if @settings.conf('notify_on_activity') == 'yes' %> checked="checked"<% end %>> <%= t("global.yeah") %></label>
      <label class="radio"><input type="radio" value="no" name="settings[notify_on_activity]"<%= disabled %><% if @settings.conf('notify_on_activity') == 'no' or @settings.conf('notify_on_activity').blank? %> checked="checked"<% end %>> <%= t("global.nope") %></label>
      <label class="radio"><input type="radio" value="email" name="settings[notify_on_activity]"<%= disabled %><% if @settings.conf('notify_on_activity') == 'email' %> checked="checked"<% end %>> <%= t("users.settings.via_email") %></label>
    </div>
  </div>

  <div class="cf-cgroup">
    <label><%= t('users.settings.notification_on_answer') %></label>
    <div class="cntrls">
      <label class="radio"><input type="radio" value="yes" name="settings[notify_on_answer]"<%= disabled %><% if @settings.conf('notify_on_answer') == 'yes' %> checked="checked"<% end %>> <%= t("global.yeah") %></label>
      <label class="radio"><input type="radio" value="no" name="settings[notify_on_answer]"<%= disabled %><% if @settings.conf('notify_on_answer') == 'no' or @settings.conf('notify_on_answer').blank? %> checked="checked"<% end %>> <%= t("global.nope") %></label>
      <label class="radio"><input type="radio" value="email" name="settings[notify_on_answer]"<%= disabled %><% if @settings.conf('notify_on_answer') == 'email' %> checked="checked"<% end %>> <%= t("users.settings.via_email") %></label>
    </div>
  </div>
</fieldset>
