<fieldset class="cf-tab-pane" id="readability">
  <legend><%= t("users.settings.readability_overview") %></legend>

  <div class="cf-cgroup">
    <label><%= t('users.settings.standard_thread_view') %></label>
    <div class="cntrls">
      <label class="radio"><input type="radio" value="thread-view" name="settings[standard_view]"<%= disabled %><% if @settings.conf('standard_view') == 'thread-view' %> checked="checked"<% end %>> Thread-Ansicht</label>
      <label class="radio"><input type="radio" value="nested-view" name="settings[standard_view]"<%= disabled %><% if @settings.conf('standard_view') == 'nested-view' %> checked="checked"<% end %>> Nested-Ansicht</label>
    </div>
  </div>

  <div class="cf-cgroup">
    <label><%= t('users.settings.hide_subjects_when_unchanged') %></label>
    <div class="cntrls">
      <label class="radio"><input type="radio" value="no" name="settings[hide_subjects_unchanged]"<%= disabled %><% if @settings.conf('hide_subjects_unchanged', 'yes') == 'no' %> checked="checked"<% end %>> anzeigen</label>
      <label class="radio"><input type="radio" value="yes" name="settings[hide_subjects_unchanged]"<%= disabled %><% if @settings.conf('hide_subjects_unchanged', 'yes') == 'yes' %> checked="checked"<% end %>> ausblenden</label>
    </div>
  </div>

  <div class="cf-cgroup">
    <label><%= t('users.settings.mark_suspicious') %></label>
    <div class="cntrls">
      <label class="radio"><input type="radio" value="yes"
                                  name="settings[mark_suspicious]"<%= disabled %>
        <% if @settings.conf('mark_suspicious') == 'yes' %> checked="checked"<% end %>>
        Ja</label>
      <label class="radio"><input type="radio" value="no"
                                  name="settings[mark_suspicious]"<%= disabled %>
        <% if @settings.conf('mark_suspicious') == 'no' %> checked="checked"<% end %>>
        Nein</label>
    </div>
  </div>

  <div class="cf-cgroup">
    <label><%= t('users.settings.sort_threads') %></label>
    <div class="cntrls">
      <label class="radio"><input type="radio" value="ascending" name="settings[sort_threads]"<%= disabled %><% if @settings.conf('sort_threads') == 'ascending' %> checked="checked"<% end %>> Aufsteigend</label>
      <label class="radio"><input type="radio" value="descending" name="settings[sort_threads]"<%= disabled %><% if @settings.conf('sort_threads') == 'descending' || !@settings.conf('sort_threads') %> checked="checked"<% end %>> Absteigend</label>
      <label class="radio"><input type="radio" value="newest-first" name="settings[sort_threads]"<%= disabled %><% if @settings.conf('sort_threads') == 'newest-first' %> checked="checked"<% end %>> Threads mit letzter Aktivität zuerst</label>
    </div>
  </div>

  <%= render 'widgets/users_selector', desc: t('users.settings.highlighted_users'), name: "settings[highlighted_users][]", id: "settings_highlighted_users", users: @highlighted_users_list %>

</fieldset>
