<%
message = (thread.messages.select { |m| m.deleted == false }).max_by(&:created_at)
first = (thread.messages.select { |m| m.deleted == false }).min_by(&:created_at)
%><span class="author">
  <% if message.user_id %>
    <span class="registered-user<% if not message.message_id == first.message_id and message.user_id == first.user_id %> original-poster<% end %>"><%= cf_link_to(image_tag(first.owner.avatar(:thumb), class: 'avatar'), user_path(first.owner), title: t('messages.user_link', user: first.owner.username), class: 'user-link') %> <%= cf_link_to first.author, cf_message_path(thread, first) %>: </span>
  <% else %>
    <% if not message.message_id == first.message_id and not message.uuid.blank? and message.uuid == first.uuid %>
      <span class="icon-message original-poster" title="<%= t('messages.original_poster') %>"> </span> <%= cf_link_to first.author, cf_message_path(thread, first) %>:
    <% end %>
  <% end %>
</span>

<%= cf_link_to first.subject, cf_message_path(thread, first), class: 'thread-info' %>

<% if not message.message_id == first.message_id %>

<span class="last-answer">
  <%= t('layout.last_message', time: relative_time(message.created_at)) %>

  <span class="author">
    <% if message.user_id %>
      <span class="registered-user<% if not message.message_id == first.message_id and message.user_id == first.user_id %> original-poster<% end %>"><%= cf_link_to(image_tag(message.owner.avatar(:thumb), class: 'avatar'), user_path(message.owner), title: t('messages.user_link', user: message.owner.username), class: 'user-link') %> <%= cf_link_to message.author, cf_message_path(thread, message) %></span>
    <% else %>
      <% if not message.message_id == first.message_id and not message.uuid.blank? and message.uuid == first.uuid %>
        <span class="icon-message original-poster" title="<%= t('messages.original_poster') %>"> </span>
      <% end %>
    <% end %>
  </span>

  <%= cf_link_to message.subject, cf_message_path(thread, message) %>
</span>

<% else %>

<span class="last-answer">
  <%= t('layout.last_thread', time: relative_time(message.created_at)) %>
</span>

<% end %>
