<%

aggregated = {threads: 0, messages: 0, last_change: nil}
@forums.each do |f|
  aggregated[:threads] += @counts[f.forum_id][:threads].to_i
  aggregated[:messages] += @counts[f.forum_id][:messages].to_i

  if @activities[f.forum_id] and (aggregated[:last_change].blank? or aggregated[:last_change].updated_at < @activities[f.forum_id].updated_at)
    aggregated[:last_change] = @activities[f.forum_id]
  end
end

content_for :title, t('global.forums')
content_for :h1, t('global.forums')
content_for :body_id, 'forums-index'
content_for :body_classes, 'forums'
%>


<% unless current_user.blank? %>
  <p><%= t('forums.new_threads_new_messages',
           count: @new_threads,
           new_messages_text: t('forums.new_messages_text', count: @new_messages)) %></p>
<% end %>

<table class="cf-default-table responsive">
  <thead>
    <tr>
      <th><%= t('global.forum') %></th>
      <th class="nummeric"><%= t('global.threads') %></th>
      <th class="nummeric"><%= t('global.messages') %></th>
      <th><%= t('global.last_change') %></th>
      <th><%= t('global.author') %></th>
      <th><%= t('global.subject') %></th>
    </tr>
  </thead>

  <tbody>
    <% @forums.each do |forum| %>
      <% msg = @activities[forum.forum_id] %>
      <tr<% if msg and not msg.attribs['classes'].blank? %> class="<%= msg.attribs['classes'].join(" ") %>"<% end %>>
        <th data-label="<%= t('global.forum') %>"><%= cf_link_to forum.name, forum, class: 'block' %></th>
        <td data-label="<%= t('global.threads') %>" class="nummeric"><%= number_with_delimiter(@counts[forum.forum_id][:threads]) %></td>
        <td data-label="<%= t('global.messages') %>" class="nummeric"><%= number_with_delimiter(@counts[forum.forum_id][:messages]) %></td>
        <td data-label="<%= t('global.last_change') %>"<% if msg.blank? %> colspan="3" class="no-data"<% end %>>
          <% if msg.blank? %>
            <em>(<%= ("<em>" + t("global.never") + "</em>").html_safe %>)</em>
          <% else %>
            <%= l(msg.updated_at, format: date_format) %>
          <% end %>
        </td>
        <% unless msg.blank? %>
          <td data-label="<%= t('global.author') %>">
            <% if msg.user_id %>
              <%= cf_link_to(image_tag(msg.owner.avatar(:thumb), class: 'avatar') + msg.author, user_path(msg.owner), title: t('messages.user_link', user: msg.owner.username), class: 'user-link') %>
            <% else %>
              <%= msg.author %>
            <% end %>
          </td>
          <td data-label="<%= t('global.subject') %>"><%= cf_link_to msg.subject, cf_message_path(msg.thread, msg), class: 'block' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <%
    msg = nil
    if not aggregated[:last_change].blank?
      msg = aggregated[:last_change]
    end
    %>
    <tr<% if msg and not msg.attribs['classes'].blank? %> class="<%= msg.attribs['classes'].join(" ") %>"<% end %>>
      <th data-label="<%= t('global.forum') %>"><%= cf_link_to t('forums.all_forums'), cf_forum_path('all'), class: 'block' %></th>
      <th data-label="<%= t('global.threads') %>" class="nummeric"><%= number_with_delimiter(aggregated[:threads]) %></th>
      <th data-label="<%= t('global.messages') %>" class="nummeric"><%= number_with_delimiter(aggregated[:messages]) %></th>
      <th data-label="<%= t('global.last_change') %>"<% if msg.blank? %> colspan="3" class="no-data"<% end %>>
        <% if msg.blank?  %><%= ('<em>' + t('global.never') + '</em>').html_safe %>
        <% else %><%= l(msg.updated_at, format: date_format) %>
        <% end %>
      </th>
      <% unless msg.blank? %>
        <th data-label="<%= t('global.author') %>">
          <% if msg.user_id %>
            <%= cf_link_to(image_tag(msg.owner.avatar(:thumb), class: 'avatar') + msg.author, user_path(msg.owner), title: t('messages.user_link', user: msg.owner.username), class: 'user-link') %>
          <% else %>
            <%= msg.author %>
          <% end %>
        </th>
        <th data-label="<%= t('global.subject') %>"><%= cf_link_to msg.subject, cf_message_path(msg.thread, msg), class: 'block' %></th>
      <% end %>
    </tr>
  </tfoot>
</table>

<img src="//www.browser-statistik.de/browser.png?style=0"
     width="1" height="1" style="border: 0px;" alt="">
