<%
content_for :title, t('global.forums')
content_for :body_id, 'forums-index'
content_for :body_classes, 'forums'
%>

<% unless current_user.blank? %>
  <% unless @notifications.blank? %>
    <h2><%= @notifications.length %> Benachrichtigungen</h2>
    <ul>
      <% @notifications.each do |n| %>
        <li><% unless n.icon.blank? %><%= cf_link_to '', n.path, class: 'icon ' + n.icon %> <% end %><%= cf_link_to n.subject, notification_path(n) %> (<%= l(n.created_at, format: date_format) %>)</li>
      <% end %>
    </ul>

    <p><%= link_to 'Alle anzeigen', notifications_path %></p>
  <% end %>

  <% unless @mails.blank? %>
    <h2><%= @mails_cnt %> ungelesene PMs</h2>
    <ul>
      <% @mails.each do |m| %>
        <li><%= link_to mail_path(m.sender_name, m) do %><% unless m.sender_id.blank? %><%= image_tag(m.sender.avatar(:thumb)) %> <% end %><%= m.sender_name %>: <%= m.subject %> (<%= l(m.created_at, format: date_format) %>)<% end %></li>
      <% end %>
    </ul>

    <p><%= link_to 'Alle anzeigen', mails_path %></p>
  <% end %>

  <h2><%= t('forums.new_threads_new_messages',
            count: @new_threads,
            new_messages_text: t('forums.new_messages_text', count: @new_messages)) %></h2>

  <% @new_msgs.each do |m| %>
    <% m.thread.message = m %>
    <article class="thread threadlist">
      <%= message_header(m.thread, m, show_votes: true, id: false) %>
    </article>
  <% end %>

<% end %>

<h1><%= t('global.forums') %></h1>

<table class="cf-default-table responsive">
  <thead>
    <tr>
      <th><%= t('global.forum') %></th>
      <th class="nummeric"><%= t('global.threads') %></th>
      <th class="nummeric"><%= t('global.messages') %></th>
      <th><%= t('global.last_change') %></th>
      <th><%= t('global.author') %></th>
      <th><%= t('global.subject') %></th>
    </tr>
  </thead>

  <tbody>
    <% @forums.each do |forum| %>
      <% msg = @activities[forum.forum_id] %>
      <tr<% if msg and not msg.attribs['classes'].blank? %> class="<%= msg.attribs['classes'].join(" ") %>"<% end %>>
        <th data-label="<%= t('global.forum') %>"><%= cf_link_to forum.name, forum, class: 'block' %></th>
        <td data-label="<%= t('global.threads') %>" class="nummeric"><%= number_with_delimiter(@counts[forum.forum_id][:threads]) %></td>
        <td data-label="<%= t('global.messages') %>" class="nummeric"><%= number_with_delimiter(@counts[forum.forum_id][:messages]) %></td>
        <td data-label="<%= t('global.last_change') %>"<% if msg.blank? %> colspan="3" class="no-data"<% end %>>
          <% if msg.blank? %>
            <em>(<%= ("<em>" + t("global.never") + "</em>").html_safe %>)</em>
          <% else %>
            <%= l(msg.updated_at, format: date_format) %>
          <% end %>
        </td>
        <% unless msg.blank? %>
          <td data-label="<%= t('global.author') %>">
            <% if msg.user_id %>
              <%= cf_link_to(image_tag(msg.owner.avatar(:thumb), class: 'avatar') + msg.author, user_path(msg.owner), title: t('messages.user_link', user: msg.owner.username), class: 'user-link') %>
            <% else %>
              <%= msg.author %>
            <% end %>
          </td>
          <td data-label="<%= t('global.subject') %>"><%= cf_link_to msg.subject, cf_message_path(msg.thread, msg), class: 'block' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <%
    msg = nil
    msg = @aggregated[:last_change] if not @aggregated[:last_change].blank?
    %>
    <tr<% if msg and not msg.attribs['classes'].blank? %> class="<%= msg.attribs['classes'].join(" ") %>"<% end %>>
      <th data-label="<%= t('global.forum') %>"><%= cf_link_to t('forums.all_forums'), cf_forum_path('all'), class: 'block' %></th>
      <th data-label="<%= t('global.threads') %>" class="nummeric"><%= number_with_delimiter(@aggregated[:threads]) %></th>
      <th data-label="<%= t('global.messages') %>" class="nummeric"><%= number_with_delimiter(@aggregated[:messages]) %></th>
      <th data-label="<%= t('global.last_change') %>"<% if msg.blank? %> colspan="3" class="no-data"<% end %>>
        <% if msg.blank?  %><%= ('<em>' + t('global.never') + '</em>').html_safe %>
        <% else %><%= l(msg.updated_at, format: date_format) %>
        <% end %>
      </th>
      <% unless msg.blank? %>
        <th data-label="<%= t('global.author') %>">
          <% if msg.user_id %>
            <%= cf_link_to(image_tag(msg.owner.avatar(:thumb), class: 'avatar') + msg.author, user_path(msg.owner), title: t('messages.user_link', user: msg.owner.username), class: 'user-link') %>
          <% else %>
            <%= msg.author %>
          <% end %>
        </th>
        <th data-label="<%= t('global.subject') %>"><%= cf_link_to msg.subject, cf_message_path(msg.thread, msg), class: 'block' %></th>
      <% end %>
    </tr>
  </tfoot>
</table>

<img src="//www.browser-statistik.de/browser.png?style=0"
     width="1" height="1" style="border: 0px;" alt="">
