<%
content_for :title, t('global.forums')
content_for :body_id, 'forums-index'
content_for :body_classes, 'forums'
%>

<% unless current_user.blank? %>
  <%= render 'portal' %>
<% end %>

<h1><%= t('global.forums') %></h1>

<% unless current_user.blank? %>
  <p><%= t('forums.new_threads_new_messages',
           count: @new_threads,
           new_messages_text: t('forums.new_messages_text', count: @new_messages)) %></p>
<% end %>

<ol class="forums-list">
  <li><h3 class="forum-name"><%= cf_link_to t('forums.all_forums'), cf_forum_path('all') %></h3>
    <ul>
      <% thread = (@overview_threads.sort {|a,b| b.latest_message <=> a.latest_message}).first %>
      <li class="thread"><%= render 'thread_infos', thread: thread %></li>
    </ul>

    <p><%= cf_link_to t('layout.show_all'), cf_forum_path('all') %></p>
  </li>

  <% @forums.each do |forum| %>
    <li><h3 class="forum-name"><%= cf_link_to forum.name, cf_forum_path(forum) %></h3>
      <ul>
        <% @activities[forum.forum_id].each do |thread| %>
          <li class="thread"><%= render 'thread_infos', thread: thread %></li>
        <% end %>
      </ul>

      <p><%= cf_link_to t('layout.show_all'), cf_forum_path(forum) %></p>
    </li>
  <% end %>
</ol>

<img src="//www.browser-statistik.de/browser.png?style=0"
     width="1" height="1" style="border: 0px;" alt="">
