  <%= render 'application/errors', object: @mail, scope: 'mails' %>

  <%= f.hidden_field :thread_id %>

  <fieldset>
    <%= render 'widgets/users_selector', name: 'priv_message[recipient_id]', id: 'recipient_id', users: @mail.recipient ? [@mail.recipient] : nil, desc: 'Empfänger', single: true %>

    <div class="cf-cgroup">
      <%= f.label :subject %>
      <%= f.text_field :subject, required: true %>
    </div>
  </fieldset>

  <fieldset>
    <div class="cf-cgroup cf-textarea-only">
      <%= f.text_area :body, maxlength: 12288, value: f.object.to_txt, class: 'big', required: true %>
    </div>

    <% if uconf('live_preview') == 'yes' %>
      <article class="thread-message preview">
        <h3>Vorschau</h3>
        <div class="posting-content" id="on-the-fly-preview"></div>
      </article>
    <% end %>
  </fieldset>

  <% content_for :modals do %>
    <%= render 'modals/md_modals' %>
  <% end %>
