  <% if @mail.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('mails.error_message') %></h2>

      <ul>
      <% @mail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= render 'widgets/users_selector', name: 'cf_priv_message[recipient_id]', id: 'recipient_id', users: @mail.recipient ? [@mail.recipient] : nil, desc: 'Empfänger', single: true %>

<div class="control-group">
  <%= t.label :subject, :class => 'control-label' %>
  <div class="controls">
    <%= t.text_field :subject %>
  </div>
</div>

<div class="control-group">
  <%= t.text_area :body, :class => 'span5', maxlength: 12288, value: t.object.to_txt %>
</div>
