  <% if @mail.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('mails.error_message', count: @mail.errors.count) %></h2>

      <ul>
      <% @mail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :thread_id %>

  <fieldset>
    <%= render 'widgets/users_selector', name: 'priv_message[recipient_id]', id: 'recipient_id', users: @mail.recipient ? [@mail.recipient] : nil, desc: 'Empfänger', single: true %>

    <div class="cf-cgroup">
      <%= f.label :subject %>
      <div class="cntrls">
        <%= f.text_field :subject, required: true %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="cf-cgroup cf-textarea-only">
      <div class="cntrls">
        <%= f.text_area :body, maxlength: 12288, value: f.object.to_txt, class: 'big', required: true %>
      </div>
    </div>

    <% if uconf('live_preview') == 'yes' %>
      <article class="thread-message preview">
        <h3>Vorschau</h3>
        <div class="posting-content" id="on-the-fly-preview"></div>
      </article>
    <% end %>
  </fieldset>
