  <% if @mail.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('mails.error_message') %></h2>

      <ul>
      <% @mail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>
    <%= render 'widgets/users_selector', name: 'cf_priv_message[recipient_id]', id: 'recipient_id', users: @mail.recipient ? [@mail.recipient] : nil, desc: 'Empfänger', single: true %>

    <div class="cf-cgroup">
      <%= t.label :subject %>
      <div class="cntrls">
        <%= t.text_field :subject %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="cf-cgroup cf-textarea-only">
      <div class="cntrls">
        <%= t.text_area :body, maxlength: 12288, value: t.object.to_txt, class: 'big' %>
      </div>
    </div>
  </fieldset>
