<td><input type="checkbox" name="ids[]" value="<%= m.priv_message_id %>" class="mid-checkbox"></td>
<td>
  <i class="<%= m.recipient_id == current_user.user_id ? 'icon-mail-received' : 'icon-mail-sent' %>" title="<%= t(m.recipient_id == current_user.user_id ? 'mails.mail_received' : 'mails.mail_sent') %>"></i>
  <% unless m.is_read? %><span class="icon-unread-mail" title="<%= t('mails.mail_unread') %>"> </span><% end %>
</td>
<td><%= cf_link_to((m.partner_id(current_user) ?
                    image_tag(m.partner_user(current_user).avatar(:thumb)) : '') + " " + m.partner(current_user),
                   mail_path(m.partner(current_user), m)) %>
</td>
<td><%= cf_link_to m.subject, mail_path(m.sender_name, m) %></td>
<td><%= l(m.created_at, format: date_format) %></td>
<td>
  <%= cf_link_to '', mail_path(m.sender_name, m), method: :delete, data: {'cf-confirm' => t('global.are_you_sure')}, class: 'icon-delete-mail', title: t('mails.delete') %>

  <% if m.is_read? %>
    <%= cf_link_to '', mail_path(m.sender_name, m), method: :post, class: 'icon-mark-unread', title: t('mails.mark_unread') %>
  <% else %>
    <%= cf_link_to '', mail_path(m.sender_name, m), method: :post, class: 'icon-mark-read', title: t('mails.mark_read') %>
  <% end %>

  <% unless m.partner_id(current_user).blank? %>
    <%= cf_link_to '', new_mail_path('priv_message_id' => m.priv_message_id), class: 'icon-answer-mail-wo-quote', title: t('mails.answer_mail_wo_quote') %>
    <%= cf_link_to '', new_mail_path('priv_message_id' => m.priv_message_id, quote_old_message: 'yes'), class: 'icon-answer-mail', title: t('mails.answer_mail') %>
    <%= cf_link_to('', new_mail_path(priv_message: {recipient_id: m.partner_id(current_user)}),
                   class: 'icon-new-mail', title: t('mails.new_mail')) %>
  <% end %>
</td>
