<article class="thread-message mail">
  <header class="message">
    <h2><%= mail.subject %></h2>

    <details open>
      <summary><%= t('mails.post_from_to_from') %>
        <span class="author"><% if mail.sender_id %><span class="registered-user original-poster"><%= cf_link_to('<em>'.html_safe + t('global.user_profile') + '</em>'.html_safe, user_path(mail.sender), class: 'icon-registered-user', title: t('messages.user_link', user: mail.sender_name)) %></span><% end %> <%= mail.sender_name %></span>
        <%= t('mails.post_from_to_to') %>
        <span class="recipient"><% if mail.recipient_id %><span class="registered-user"><%= cf_link_to('<em>'.html_safe + t('global.user_profile') + '</em>'.html_safe, user_path(mail.recipient), class: 'icon-registered-user', title: t('messages.user_link', user: mail.recipient_name)) %></span><% end %> <%= mail.recipient_name %></span>
        <%= t('mails.at') %>
        <time datetime="<%= (mail.created_at || DateTime.now).to_s %>"><%= l(mail.created_at || DateTime.now, format: date_format) %></time></summary>
    </details>
  </header>

  <div class="posting-content cf-box">
    <%= mail.to_html(@app_controller) %>
  </div>
</article>

