<div class="well sidebar-nav">
  <ul class="inbox-list">
    <% @mail_users.each do |uname, vals| %>
    <li><a href="<%= user_mails_path(uname) %>" class="btn"><%= uname %> <span class="unread-batches"><span class="badge"><%= vals[:read] || 0 %></span><% if vals[:unread] %><span class="badge badge-info"><%= vals[:unread] %></span><% end %></span></a></li>
    <% end %>
  </ul>

  <ul class="nav nav-list">
    <li<% if action_name == 'new' %> class="active"<% end %>><%= link_to 'Neue Mail', new_mail_path %></li>
  </ul>
</div>
