<h1><% if @user %><%= t('mails.post_from', name: @user.username) %><% else %><%= t('mails.post') %><% end %></h1>

<%= form_tag mails_path, :class => 'form-horizontal', :method => :delete do %>

<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th><input type="checkbox" id="check-all-box">
      <th> </th>
      <th><%= t('activerecord.attributes.cf_priv_message.sender') %></th>
      <th><%= t('activerecord.attributes.cf_priv_message.recipient') %></th>
      <th><%= t('activerecord.attributes.cf_priv_message.subject') %></th>
      <th><%= t('activerecord.attributes.cf_priv_message.created_at') %></th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @mails.each do |m| %>
    <tr>
      <td><input type="checkbox" name="ids[]" value="<%= m.priv_message_id %>" class="mid-checkbox"></td>
      <td class="unread-mark"><% unless m.is_read? %><span class="badge badge-info">&nbsp;</span><% end %></td>
      <td><%= link_to m.sender.username, mail_path(m.sender.username, m) %></td>
      <td><%= link_to m.recipient.username, mail_path(m.sender.username, m) %></td>
      <td><%= link_to m.subject, mail_path(m.sender.username, m) %></td>
      <td><%= l(m.created_at) %></td>
      <td>
        <%= link_to '', mail_path(m.sender.username, m), :method => :delete, data: {confirm: t('global.are_you_sure')}, :class => 'icon icon-trash', title: t('mails.delete') %>
        <%= link_to '', new_mail_path('priv_message_id' => m.priv_message_id), :class => 'icon icon-share', title: t('mails.answer_mail') %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>

<p class="form-actions">
  <button class="btn btn-primary">Löschen</button>
</p>

<% end %>
