<%
content_for :title, @user ? t('mails.post_from', name: @user.username) : t('mails.post')
%><h1><% if @user %><%= t('mails.post_from', name: @user.username) %><% else %><%= t('mails.post') %><% end %></h1>

<%= form_tag mails_path, class: 'form-horizontal', :method => :delete do %>

<table class="cf-table-condensed-striped-hover">
  <thead>
    <tr>
      <th><input type="checkbox" id="check-all-box">
      <th> </th>
      <th><%= sortable CfPrivMessage.human_attribute_name(:sender), :sender, :mails_path %></th>
      <th><%= sortable CfPrivMessage.human_attribute_name(:recipient), :recipient, :mails_path %></th>
      <th><%= sortable CfPrivMessage.human_attribute_name(:subject), :subject, :mails_path %></th>
      <th><%= sortable CfPrivMessage.human_attribute_name(:created_at), :created_at, :mails_path %></th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @mails.each do |m| %>
    <tr>
      <td><input type="checkbox" name="ids[]" value="<%= m.priv_message_id %>" class="mid-checkbox"></td>
      <td class="unread-mark"><% unless m.is_read? %><span class="status-unread">&nbsp;</span><% end %></td>
      <td><%= link_to m.sender.username, mail_path(m.sender.username, m) %></td>
      <td><%= link_to m.recipient.username, mail_path(m.sender.username, m) %></td>
      <td><%= link_to m.subject, mail_path(m.sender.username, m) %></td>
      <td><%= l(m.created_at, format: date_format) %></td>
      <td>
        <%= link_to '', mail_path(m.sender.username, m), method: :delete, data: {confirm: t('global.are_you_sure')}, class: 'icon-delete-mail', title: t('mails.delete') %>
        <%= link_to '', new_mail_path('priv_message_id' => m.priv_message_id), class: 'icon-answer-mail', title: t('mails.answer_mail') %>
        <%= link_to '', new_mail_path('priv_message_id' => m.priv_message_id, quote_old_message: 'yes'), class: 'icon-answer-mail-wo-quote', title: t('mails.answer_mail_wo_quote') %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>

<p class="form-actions">
  <button class="cf-primary-btn">Löschen</button>
</p>

<%= paginate @mails, params: { sort: sort_column, dir: sort_direction } %>

<% end %>
