<%
content_for :title, @user ? t('mails.post_from', name: @user) : t('mails.post')
content_for :h1, @user ? t('mails.post_from', name: @user) : t('mails.post')
content_for(:body_id, "mail-index")
content_for(:body_classes, 'mail index' + (@user ?  ' ' +  user_to_class_name(@user) : ''))
%>

<%= form_tag mails_path, class: 'cf-form', method: :delete do %>

  <table class="cf-default-table<% if uconf('mail_index_grouped') == 'yes' %> grouped<% end %>">
    <thead>
      <tr>
        <% if uconf('mail_index_grouped') == 'yes' %><th> </th><% end %>
        <th><input type="checkbox" id="check-all-box"></th>
        <th> </th>
        <th><%= sortable PrivMessage.human_attribute_name(:partner), :partner, lambda { |dir,col| index_mail_link(col, dir) } %></th>
        <th><%= sortable PrivMessage.human_attribute_name(:subject), :subject, lambda { |dir,col| index_mail_link(col, dir) } %></th>
        <th><%= sortable PrivMessage.human_attribute_name(:created_at), :created_at, lambda { |dir,col| index_mail_link(col, dir) } %></th>
        <th> </th>
      </tr>
    </thead>

    <% if @mails.blank? %>
      <tbody>
        <tr class="no-data">
          <td colspan="7"><%= t('mails.no_mails') %></td>
        </tr>
      </tbody>
    <% end %>

    <% if uconf('mail_index_grouped') == 'yes' %>
      <%= render 'mails_grouped' %>
    <% else %>
      <tbody>
        <%= render 'mails' %>
      </tbody>
    <% end %>

  </table>

  <% unless @mails.blank? %>
    <p class="form-actions">
      <button class="cf-primary-btn" data-cf-confirm="<%= t('global.are_you_sure') %>">Löschen</button>
    </p>
  <% end %>

<% end %>
