<h1><% if @user %><%= t('views.post_from', name: @user.username) %><% else %><%= t('views.post') %><% end %></h1>

<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th> </th>
      <th><%= t('views.author') %></th>
      <th><%= t('views.recipient') %></th>
      <th><%= t('views.subject') %></th>
      <th><%= t('views.created') %></th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @mails.each do |m| %>
    <tr>
      <td class="unread-mark"><% unless m.is_read? %><span class="badge badge-info">&nbsp;</span><% end %></td>
      <td><%= link_to m.sender.username, mail_path(m.sender.username, m) %></td>
      <td><%= link_to m.recipient.username, mail_path(m.sender.username, m) %></td>
      <td><%= link_to m.subject, mail_path(m.sender.username, m) %></td>
      <td><%= l(m.created_at) %></td>
      <td>
        <%= link_to '', mail_path(m.sender.username, m), :method => :delete, data: {confirm: t('views.are_you_sure')}, :class => 'icon icon-trash' %>
        <%= link_to '', new_mail_path('priv_message_id' => m.priv_message_id), :class => 'icon icon-share' %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>
