<%
content_for :title, t('mails.new_mail')
%><h1><%= t('mails.new_mail') %></h1>

<%= form_for @mail, url: mails_path, html: {:class => 'form-horizontal'} do |t| %>

<%= render 'form', t: t %>

<p class="form-actions">
  <%= t.submit t("mails.send"), class: 'cf-primary-btn' %>
  <%= link_to t("global.cancel"), mails_path, class: 'cf-btn' %>
</p>

<% end %>
