<%
content_for :title, t('mails.new_mail')
content_for :h1, t('mails.new_mail')
content_for(:body_id, "mail-new")
content_for(:body_classes, 'mail new')
%>

<% if @preview %>
  <h2><%= t('mails.preview') %></h2>
  <%= render 'mail', mail: @mail %>
<% end %>

<%= form_for @mail, url: mails_path, html: {class: 'cf-form'} do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t("mails.preview"), class: 'cf-btn', name: 'preview' %>
    <%= f.submit t("mails.send"), class: 'cf-primary-btn' %>
    <%= cf_link_to t("global.cancel"), mails_path, class: 'cf-btn' %>
  </p>
<% end %>
