<%
content_for :title, t('mails.post_from', name: @mail.partner(current_user))
content_for :h1, t('mails.post_from', name: @mail.partner(current_user))
content_for(:body_id, "mail-show")
content_for(:body_classes, 'mail show recipient-' + user_to_class_name(@mail.recipient_name) + ' sender-' + user_to_class_name(@mail.sender_name))
%>

<%= render 'mail', mail: @mail %>

<div class="form-actions">
  <% unless @mail.partner_id(current_user).blank? %>
    <%= cf_link_to t('mails.answer_mail'), new_mail_path(priv_message_id: @mail.priv_message_id, quote_old_message: 'yes'), class: 'cf-btn' %>
    <%= cf_link_to t('mails.answer_mail_wo_quote'), new_mail_path('priv_message_id' => @mail.priv_message_id), class: 'cf-btn' %>
  <% end %>

  <%= cf_link_to t('mails.delete'), mail_path(@mail.sender_name, @mail), method: :delete, data: {'cf-confirm' => t('global.are_you_sure')}, class: 'cf-btn' %>
  <%= cf_link_to t('mails.mark_unread'), mail_path(@mail.sender_name, @mail), method: :post, class: 'cf-btn' %>
</div>
