<%
content_for :title, t('notifications.notifications')
%><h1><%= t('notifications.notifications') %></h1>

<%= form_tag notifications_path, :method => :delete, class: 'form-horizontal' do %>

<table class="cf-table-condensed-striped-hover">
  <thead>
    <tr>
      <th><input type="checkbox" id="check-all-box"></th>
      <th> </th>
      <th> </th>
      <th>Betrifft</th>
      <th>Erstellt</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |n| %>
    <tr>
      <td><input class="nid-checkbox" type="checkbox" name="ids[]" value="<%= n.notification_id %>"></td>
      <td><% unless n.is_read? %><span class="status-unread">&nbsp;</span><% end %></td>
      <td><% unless n.icon.blank? %><%= link_to '', n.path, class: 'icon ' + n.icon %><% end %></td><!-- TODO -->
      <td><a href="<%= n.path %>"><%= n.subject %></a></td>
      <td><%= l(n.created_at, format: date_format) %></td>
      <td>
        <%= link_to '', notification_path(n), method: :delete, data: {confirm: t('global.are_you_sure')}, class: 'icon-delete-nofication', title: t('notifications.delete') %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>

<p class="form-actions">
  <button class="cf-primary-btn" name="delete" value="yes">Löschen</button>
</p>

<% end %>

<%= paginate @notifications %>
