<h1>Benachrichtigungen</h1>

<%= form_tag notifications_path, :method => :delete, :class => 'form-horizontal' do %>

<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th><input type="checkbox" id="check-all-box"></th>
      <th> </th>
      <th> </th>
      <th>Betrifft</th>
      <th>Erstellt</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |n| %>
    <tr>
      <td><input class="nid-checkbox" type="checkbox" name="ids[]" value="<%= n.notification_id %>"></td>
      <td><% unless n.is_read? %><span class="badge badge-info">&nbsp;</span><% end %></td>
      <td><% unless n.icon.blank? %><%= link_to '', n.path, :class => 'icon ' + n.icon %><% end %></td>
      <td><a href="<%= n.path %>"><%= n.subject %></a></td>
      <td><%= l(n.created_at) %></td>
      <td>
        <%= link_to '', notification_path(n), :method => :delete, data: {confirm: t('views.are_you_sure')}, :class => 'icon icon-trash', title: t('views.delete_notification') %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>

<p class="form-actions">
  <button class="btn btn-primary" name="delete" value="yes">Löschen</button>
</p>

<% end %>

<%
all_pages_count = (@all_notifications_count / @limit).ceil
start_page = @page - 5
end_page = @page + 5

if start_page <= 0
  end_page += -start_page
  start_page = 1
end

end_page = all_pages_count if end_page > all_pages_count
%><div class="pagination pagination-centered">
  <ul>
    <li<% if @page == 0 %> class="disabled"<% end %>><%= link_to '«', notifications_path %></li>

    <% (start_page..end_page+1).each do |i| %>
    <li<% if i - 1 == @page %> class="active disabled"<% end %>><%= link_to i, notifications_path(p: i-1) %></li>
    <% end %>

    <li<% if @page == all_pages_count %> class="disabled"<% end %>><%= link_to '»', notifications_path(p: all_pages_count) %></li>
  </ul>
</div>

