<%
content_for :title, t('notifications.notifications')
content_for :h1, t('notifications.notifications')
content_for(:body_id, "notifications-index")
content_for(:body_classes, 'notifications index')
%>

<%= form_tag notifications_path, :method => :delete, class: 'cf-form' do %>

<table class="cf-default-table">
  <thead>
    <tr>
      <th><input type="checkbox" id="check-all-box"></th>
      <th><%= sortable '', :is_read, :notifications_path %></th>
      <th> </th>
      <th><%= sortable Notification.human_attribute_name(:subject), :subject, :notifications_path %></th>
      <th><%= sortable Notification.human_attribute_name(:created_at), :created_at, :notifications_path %></th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% if @notifications.blank? %>
      <tr class="no-data"><td colspan="6"><%= t('notifications.no_notifications') %></td></tr>
    <% end %>

    <% @notifications.each do |n| %>
    <tr>
      <td><input class="nid-checkbox" type="checkbox" name="ids[]" value="<%= n.notification_id %>"></td>
      <td><% unless n.is_read? %><span class="icon-unread-notification" title="<%= t('notifications.unread') %>">&nbsp;</span><% end %></td>
      <td><% unless n.icon.blank? %><%= cf_link_to '', n.path, class: 'icon ' + n.icon %><% end %></td>
      <td>
        <%= cf_link_to n.subject, notification_path(n) %>
        <% unless n.description.blank? %>
          <div class="notification-description"><%= n.to_html(self) %></div>
        <% end %>
      </td>
      <td><%= l(n.created_at, format: date_format) %></td>
      <td>
        <%= cf_link_to('', notification_path(n), method: :delete, data: {
          'cf-confirm' => t('global.are_you_sure')},
                       class: 'icon-delete-nofication',
                       title: t('notifications.delete')) %>
        <% if n.is_read? %>
          <%= cf_link_to('', notification_path(n), method: :patch,
                         class: 'icon-renew-nofication',
                         title: t('notifications.mark_unread')) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>

<% unless @notifications.blank? %>
  <p class="form-actions">
    <button class="cf-primary-btn" name="delete" value="yes" data-cf-confirm="<%= t('global.are_you_sure') %>"><%= t('global.delete') %></button>
  </p>
<% end %>

<% end %>

<%= paginate @notifications, params: { sort: sort_column, dir: sort_direction } %>
