<% ro ||= false
disabled = ""
disabled = ' disabled="disabled"' if ro
%>
<fieldset class="tab-pane" id="personal_information">
  <legend><%= t('views.personal_information') %></legend>

  <div class="control-group">
    <label class="control-label" for="settings_name"><%= t('views.name') %></label>
    <div class="controls">
      <input type="text" value="<%= @user.conf('name') %>" name="settings[name]" id="settings_name"<%= disabled %>>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings_email"><%= t('views.email') %></label>
    <div class="controls">
      <input type="text" value="<%= @user.conf('email') %>" name="settings[email]" id="settings_email"<%= disabled %>>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings_url"><%= t('views.homepage') %></label>
    <div class="controls">
      <input type="text" value="<%= @user.conf('url') %>" name="settings[url]" id="settings_url"<%= disabled %>>
    </div>
  </div>
</fieldset>

<fieldset class="tab-pane" id="comfort">
  <legend>Komfort</legend>

  <div class="control-group">
    <label class="control-label" for="settings_greeting"><%= t('views.greeting') %></label>
    <div class="controls">
      <textarea name="settings[greeting]" id="settings_greeting"<%= disabled %>><%= @user.conf('greeting') %></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings_farewell"><%= t('views.farewell') %></label>
    <div class="controls">
      <textarea name="settings[farewell]" id="settings_farewell"<%= disabled %>><%= @user.conf('farewell') %></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings_signature"><%= t('views.signature') %></label>
    <div class="controls">
      <textarea name="settings[signature]" id="settings_signature"<%= disabled %>><%= @user.conf('signature') %></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t('views.quote_old_message') %></label>
    <div class="controls">
      <label class="radio"><input type="radio" value="yes" name="settings[quote_old_message]"<%= disabled %><% if @user.conf('quote_old_message') == 'yes' or @user.conf('quote_old_message').blank? %> checked="checked"<% end %>> Ja</label>
      <label class="radio"><input type="radio" value="no" name="settings[quote_old_message]"<%= disabled %><% if @user.conf('quote_old_message') == 'no' %> checked="checked"<% end %>> Nein</label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t('views.quote_signature') %></label>
    <div class="controls">
      <label class="radio"><input type="radio" value="yes" name="settings[quote_signature]"<%= disabled %><% if @user.conf('quote_signature') == 'yes' %> checked="checked"<% end %>> Ja</label>
      <label class="radio"><input type="radio" value="no" name="settings[quote_signature]"<%= disabled %><% if @user.conf('quote_signature') == 'no' or @user.conf('quote_signature').blank? %> checked="checked"<% end %>> Nein</label>
    </div>
  </div>
</fieldset>

<fieldset class="tab-pane" id="adoption">
  <legend>Personalisierung</legend>

  <div class="control-group">
    <label class="control-label"><%= t('views.quote_char') %></label>
    <div class="controls">
      <label class="radio"><input type="radio" value="> " name="settings[quote_char]"<%= disabled %><% if @user.conf('quote_char') == '> ' or @user.conf('quote_char').blank? %> checked="checked"<% end %>> &gt; </label>
      <label class="radio"><input type="radio" value="; " name="settings[quote_char]"<%= disabled %><% if @user.conf('quote_char') == '; ' %> checked="checked"<% end %>> ; </label>
      <label class="radio"><input type="radio" value=": " name="settings[quote_char]"<%= disabled %><% if @user.conf('quote_char') == ': ' %> checked="checked"<% end %>> : </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t('views.threads_by_default') %></label>
    <div class="controls">
      <label class="radio"><input type="radio" value="> " name="settings[open_close_default]"<%= disabled %><% if @user.conf('open_close_default') == 'open' or @user.conf('open_close_default').blank? %> checked="checked"<% end %>> <%= t("views.open") %></label>
      <label class="radio"><input type="radio" value="; " name="settings[open_close_default]"<%= disabled %><% if @user.conf('open_close_default') == 'closed' %> checked="checked"<% end %>> <%= t("views.closed") %></label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t('views.close_threads_when_read') %></label>
    <div class="controls">
      <label class="checkbox"><input type="checkbox" value="yes" name="settings[open_close_close_when_read]"<%= disabled %><% if @user.conf('open_close_close_when_read') == 'yes' %> checked="checked"<% end %>> <%= t('views.yes') %></label>
    </div>
  </div>
</fieldset>
