  <% if @user.errors.any? %>
    <div id="error_explanation" class="cf-error">
      <h4><%= t('messages.error_message', errors_count: pluralize(@user.errors.count, t("global.error"), t('global.errors'))) %></h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="cf-tab-pane active" id="user-data">
    <legend><%= t('users.user_information') %></legend>

    <div class="cf-cgroup">
      <%= f.label :username %>
      <div class="cntrls"><%= f.text_field :username %></div>
    </div>

    <div class="cf-cgroup">
      <%= f.label :email %>
      <div class="cntrls"><%= f.email_field :email %></div>
    </div>

    <div class="cf-cgroup">
      <%= f.label :password %>
      <div class="cntrls"><%= f.password_field :password, autocomplete: 'off' %></div>
    </div>

    <div class="cf-cgroup">
      <%= f.label :password_confirmation %>
      <div class="cntrls"><%= f.password_field :password_confirmation, autocomplete: 'off' %></div>
    </div>

  </fieldset>
