<%
content_for :title, t('users.user', name: @user.username)
content_for :h1, (!@user.avatar.blank? ? image_tag(@user.avatar.url(:medium)) : "") +
  t('users.user', name: @user.username)
content_for(:body_id, "users-edit")
content_for(:body_classes, 'users edit ' + user_to_class_name(@user))
%>

<%= form_for @user, url: user_path(@user), html: {:class => 'cf-form'} do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <% if @user.user_id == current_user.user_id %>
      <%= cf_link_to t('users.change_password'), user_edit_password_path(@user), class: 'cf-btn' %>
    <% end %>
    <%= cf_link_to t('global.back'), users_path, class: 'cf-btn' %>
  </p>

<% end %>
