<h1><%= t('views.user') %> <%= @user.username %></h1>

<%= form_for @user, url: user_path(@user), html: {:class => 'form-horizontal'} do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Back', users_path, :class => 'btn' %>
  </p>

<% end %>
