<%
content_for(:title, t('users.change_password'))
content_for(:h1, t('users.change_password'))
content_for(:body_id, "users-change-password")
content_for(:body_classes, 'users change-password ' + user_to_class_name(@user))
%>

<%= form_for @user, url: user_edit_password_path(@user), method: :post, html: {class: 'cf-form'} do |f| %>
  <div class="cf-cgroup">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <div class="cf-cgroup">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.back'), users_path, class: 'cf-btn' %>
  </p>
<% end %>
