<%
content_for :title, t('users.user', name: @user.username)
%><h1><%= t('users.user', name: @user.username) %></h1>

<%= form_for @user, url: user_path(@user), html: {:class => 'form-horizontal'} do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= link_to t('global.back'), users_path, class: 'cf-btn' %>
  </p>

<% end %>
