<%
content_for :title, t('users.users')
%><h1><%= t('users.users') %></h1>

<form class="form-search">
<input name="s" value="<%= @search_term %>" type="text" placeholder="username" class="cf-search-query">
</form>

<table class="cf-table-condensed-striped-hover">
  <thead>
    <tr>
      <th><%= sortable CfUser.human_attribute_name(:username), :username, :users_path %></th>
      <th><%= sortable t('global.score'), :score, :users_path %></td>
      <th><%= sortable CfUser.human_attribute_name(:admin), :admin, :users_path %></th>
      <th><%= sortable CfUser.human_attribute_name(:active), :active, :users_path %></th>
      <th><%= sortable CfUser.human_attribute_name(:created_at), :created_at, :users_path %></th>
      <th><%= sortable CfUser.human_attribute_name(:updated_at), :updated_at, :users_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td><%= link_to u.username, user_path(u) %></td>
      <td><%= u.score_sum %></td>
      <td><%= u.admin ? t('global.yeah') : t('global.nope') %></td>
      <td><%= u.active ? t('global.yeah') : t('global.nope') %></td>
      <td><%= l(u.created_at, format: date_format) %></td>
      <td><%= l(u.updated_at, format: date_format) %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<%= paginate @users, params: { sort: sort_column, dir: sort_direction } %>
