<h1>Users</h1>

<form class="form-search">
<input name="s" value="<%= @search_term %>" type="text" placeholder="username" class="input-medium search-query">
</form>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.cf_user.username') %></th>
      <th><%= t('global.score') %></td>
      <th><%= t('activerecord.attributes.cf_user.admin') %></th>
      <th><%= t('activerecord.attributes.cf_user.active') %></th>
      <th><%= t('activerecord.attributes.cf_user.created_at') %></th>
      <th><%= t('activerecord.attributes.cf_user.updated_at') %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td><%= link_to u.username, user_path(u) %></td>
      <td><%= @scores[u.user_id] || 0 %></td>
      <td><%= u.admin ? t('global.yeah') : t('global.nope') %></td>
      <td><%= u.active ? t('global.yeah') : t('global.nope') %></td>
      <td><%= l(u.created_at) %></td>
      <td><%= l(u.updated_at) %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<%= render 'pages' %>
