<%
content_for :title, t('users.users')
content_for :h1, t('users.users')
%>

<form class="form-search">
  <input name="s" value="<%= @search_term %>" type="text" placeholder="<%= User.human_attribute_name(:username) %>" class="cf-search-query">
</form>

<table class="cf-default-table">
  <thead>
    <tr>
      <th><%= sortable User.human_attribute_name(:username), :username, :users_path %></th>
      <th><%= sortable t('global.score'), :score, :users_path %></th>
      <th><%= sortable t('users.num_msgs'), :activity, :users_path %></th>
      <th><%= sortable User.human_attribute_name(:created_at), :created_at, :users_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td><%= cf_link_to u.username, user_path(u) %></td>
      <td><%= u.score %></td>
      <td><%= u.activity %> <%= t('global.messages') %></td>
      <td><%= l(u.created_at, format: date_format) %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<%= paginate @users, params: { sort: sort_column, dir: sort_direction } %>
