<%
content_for :title, t('users.new_user')
%><h1><%= t('users.new_user') %></h1>

<%= form_for @user, :url => users_path() do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2><%= t("users.new.form_invalid") %></h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p><%= f.submit %></p>
</fieldset>
<% end %>
