<h1><%= t('views.user') + ' ' + @user.username %></h1>

<p>
  Der Benutzer wurde am <%= l(@user.created_at) %> erstellt. Er hat <%= @messages_count %> Nachrichten geschrieben. Der
  Benutzer ist <% unless @user.admin %><strong>kein</strong><% end %> ein Administrator. Er ist
  <% unless @user.active %><strong>nicht</strong><% end %> aktiv.
</p>

<% unless @user.forums.blank? %><p>
  Der Benutzer ist Moderator in den folgenden Foren: <%= (@user.forums.map {|f| f.name }).join(", ") %>
</p><% end %>

<% if not current_user.blank? and @user.user_id == current_user.user_id %>
<form class="form-horizontal">
<%= render 'settings', ro: true %>
</form>
<% end %>

<p class="form-actions">
  <% if not current_user.blank? and @user.user_id == current_user.user_id %>
  <%= link_to t('views.edit'), edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('views.delete_account'), user_path(@user), confirm: t("views.are_you_sure"), :method => :delete, :class => 'btn' %>
  <% end %>

  <%= link_to t('views.back'), users_path, :class => 'btn' %>
</p>
