<%
render 'cf_messages/message_header'
content_for :title, t('users.user', name: @user.username)

%><h1><%= t('users.user', name: @user.username) %></h1>

<table>
  <tr>
    <th><%= t('users.name') %>:</th>
    <td><%= @settings.conf('name', @user.username) %></td>
  </tr>
  <tr>
    <th><%= t('users.score') %>:</th>
    <td class="<% if @user_score < 0 %>score-down<% else %>score-up<% end %>"><%= @user_score %></td>
  </tr>
  <% if current_user == @user %><tr>
    <th><%= t('activerecord.attributes.cf_user.email') %>:</th>
    <td><%= @user.email %></td>
  </tr><% end %>
  <tr>
    <th><%= t('users.registered_since') %>:</th>
    <td><%= l(@user.created_at) %></td>
  </tr>
</table>

<hr>

<div class="cf-row-fluid">
  <div class="cf-span6">
    <div class="cf-box">
      <h3><%= t('users.newest_messages') %></h3>

      <% if @last_messages.blank? %>
        <p><%= t('users.no_messages_so_far') %></p>
      <% end %>

      <% @last_messages.each do |m| %>
        <article class="thread threadlist">
          <%= message_header(m.thread, m) %>
        </article>
      <% end %>
    </div>
  </div>

  <div class="cf-span6">
    <div class="cf-box">
      <h3><%= t('users.tags') %></h3>

      <% if @tags_cnts.blank? %>
        <p><%= t('users.no_tagged_messages_so_far') %>.</p>
      <% else %>
        <table class="users-tags-list">
          <% @tags_cnts.each do |t| %>
            <tr>
              <th><%= link_to t.tag.tag_name, tag_path(t.tag.forum.slug, t.tag) %></th>
              <td><%= t.cnt %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="cf-row-fluid">
  <div class="cf-span6">
    <div class="cf-box">
      <h3><%= t('users.best_scored') %></h3>

      <% if @point_msgs.blank? %>
        <p><%= t('users.no_scored_messages_so_far') %></p>
      <% end %>
      <% @point_msgs.each do |m| %>
        <article class="thread threadlist">
          <%= message_header(m.thread, m) %>
        </article>
      <% end %>
    </div>
  </div>

  <div class="cf-span6">
    <div class="cf-box">
      <h3><%= t('users.votings') %></h3>

      <% if @score_msgs.blank? %>
        <p><%= t('users.no_scored_messages_so_far') %></p>

      <% else %>
        <table class="score-table">
          <% @score_msgs.each do |s| %>
            <tr>
              <td class="<% if s.value < 0 %>score-down<% else %>score-up<% end %>"><%= s.value %></td>
              <td><article class="threadlist thread"><%= if s.vote then message_header(s.vote.message.thread, s.vote.message) else message_header(s.message.thread, s.message) end %></article></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>

</div>

<p class="form-actions">
  <% if not current_user.blank? and @user.user_id == current_user.user_id %>
  <%= link_to t('users.edit'), edit_user_path(@user), class: 'cf-btn' %>
  <%= link_to t('users.delete'), user_path(@user), confirm: t("global.are_you_sure"), method: :delete, class: 'cf-btn' %>
  <% end %>

  <%= link_to t('global.back'), users_path, class: 'cf-btn' %>
</p>
