<h1>User <%= @user.username %></h1>

<p>
  User has been created at <%= l(@user.created_at) %>. He created <%= @messages_count %> messages. User
  is <% unless @user.admin %><strong>not</strong><% end %> an admin. User is <% unless @user.active %><strong>not</strong><% end %>
  active.
</p>

<% unless @user.forums.blank? %><p>
  User is moderator in the followoing forums: <%= (@user.forums.map {|f| f.name }).join(", ") %>
</p><% end %>

<% if not current_user.blank? and @user.user_id == current_user.user_id %>
<form class="form-horizontal">
<%= render 'settings', ro: true %>
</form>
<% end %>

<p class="form-actions">
  <% if not current_user.blank? and @user.user_id == current_user.user_id %>
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %>
  <% end %>

  <%= link_to 'Back', users_path, :class => 'btn' %>
</p>
