<%
content_for :title, t('users.user', name: @user.username)
content_for :h1, t('users.user', name: @user.username)
content_for(:body_id, "users-show")
content_for(:body_classes, 'users show ' + user_to_class_name(@user))
%>

<% content_for :additional_js do %>
  <%= javascript_include_tag "stats" %>
  <script>
   cforum.users.messagesByMonths = <%= @messages_by_months.to_json.html_safe %>;
  </script>
<% end %>

<div class="h-card">
  <div class="user-infos">
    <div class="user-info-table">
      <table>
        <tbody>
          <tr>
            <td rowspan="<% if current_user == @user %>5<% else %>4<% end %>"><%= image_tag(@user.avatar.url(:medium), class: ('u-photo' if @user.avatar.present?)) %></td>
            <th><%= t('users.name') %>:</th>
            <td class="p-name"><%= @user.username %></td>
          </tr>
          <tr>
            <th><%= t('users.score') %>:</th>
            <td class="<% if @user.score < 0 %>score-down<% else %>score-up<% end %>"><%= number_with_delimiter(@user.score) %></td>
          </tr>
          <tr>
            <th><%= t('users.num_messages') %>:</th>
            <td><%= number_with_delimiter(@messages_count) %></td>
          </tr>
          <% if current_user == @user %><tr>
            <th><%= User.human_attribute_name("email") %>:</th>
            <td><span class="u-email"><%= @user.email %></span> <em>(<%= t('global.only_visible_for_you') %>)</em></td>
          </tr><% end %>
          <tr>
            <th><%= t('users.registered_since') %>:</th>
            <td><%= l(@user.created_at, format: date_format) %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="user-profile">
      <table>
        <tbody>
          <% unless @user.conf('jabber_id').blank? %>
            <tr>
              <th><%= t('users.settings.jabber_id') %>:</th>
              <td><%= link_to @user.conf('jabber_id'), 'xmpp:' + @user.conf('jabber_id'), class: 'u-url' %></td>
            </tr>
          <% end %>

          <% unless @user.conf('twitter_handle').blank? %>
            <tr>
              <th><%= t('users.settings.twitter_handle') %>:</th>
              <td><%= cf_link_to @user.conf('twitter_handle'), 'https://twitter.com/' + @user.conf('twitter_handle'), class: 'u-url' %></td>
            </tr>
          <% end %>

          <% unless @user.conf('url').blank? %>
            <tr>
              <th><%= t('users.settings.homepage') %>:</th>
              <td><%= cf_link_to @user.conf('url'), @user.conf('url'), class: 'u-url' %></td>
            </tr>
          <% end %>

          <tr>
            <th><%= t('users.settings.description') %>:</th>
            <td><%= @user.conf('description').blank? ? ('<em>'.html_safe + t('users.no_description') + "</em>".html_safe) : '<span class="p-note">'.html_safe + md2html(@user.conf('description'), @app_controller) + '</span>'.html_safe %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ul class="user-info-tags">
    <% @tags_cnts.each do |t| %>
      <li>
        <%= cf_link_to tag_path(t.tag.forum.slug, t.tag), class: 'cf-tag' do %>
          <span><%= t.tag.forum.short_name %>:</span><%= t.tag.tag_name %>
        <% end %>
        <span class="cnt"><%= number_with_delimiter(t.cnt) %></span></li>
    <% end %>
  </ul>
</div>

<h2><%= t("users.user_activity") %></h2>

<div id="user-activity-stats"></div>

<h2><%= t('users.newest_messages') %></h2>

<% if @last_messages.blank? %>
  <p><%= t('users.no_messages_so_far') %></p>
<% end %>

<div class="root">
  <% @last_messages.each do |m| %>
    <% m.thread.message = m %>
    <article class="thread threadlist">
      <%= message_header(m.thread, m, show_votes: true, id: false) %>
    </article>
  <% end %>
</div>

<p><%= cf_link_to t('users.all_messages'), user_messages_path(@user) %></p>


<h2><%= t('users.best_scored') %></h2>

<% if @point_msgs.blank? %>
  <p><%= t('users.no_scored_messages_so_far') %></p>
<% end %>

<div class="root">
  <% @point_msgs.each do |m| %>
    <% m.thread.message = m %>
    <article class="thread threadlist">
      <%= message_header(m.thread, m, show_votes: true, id: false) %>
    </article>
  <% end %>
</div>


<h2><%= if not current_user.blank? and @user.user_id == current_user.user_id then t('users.own_votings') else t('users.votings') end%></h2>

<% if @score_msgs.blank? %>
  <p><%= t('users.no_scored_messages_so_far') %></p>

<% else %>
  <table class="score-table">
    <tbody>
      <% @score_msgs.each do |s| %>
        <tr>
          <td class="score">
            <% s.each do |s| %>
              <span class="<% if s.value < 0 %>score-down<% else %>score-up<% end %>"><%= s.value %></span>
            <% end %>
          </td>
          <td>
            <% if not s.first.get_message.blank? %>
              <%
              m = s.first.get_message
              m.thread.message = m
              %>
              <div class="root">
                <article class="threadlist thread"><%= message_header(m.thread, m, show_votes: true, id: false)  %></article>
              </div>
            <% else %>
              <em>Nachricht wurde gelöscht</em>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<p>
  <%= cf_link_to t('users.all_scores'), user_scores_path(@user) %>
  <% if @user.user_id == current_user.try(:user_id) %>
    <%= cf_link_to t('users.all_votes'), user_votes_path(@user) %>
  <% end %>
</p>

<h2><%= t('users.badges') %> <%= cf_link_to(image_tag('bewertung-info-blaugrau.svg', class: "svg-i"), help_path + '#badges', title: t('help.info')) %></h2>

<% if @badges.blank? %>
  <p><%= t('users.no_badges_so_far') %></p>
<% else %>
  <ul class="badge-user-list">
    <% @badges.each do |ub| %>
      <li><%= image_tag(ub[:badge].badge_medal_type + '.png', class: "medal-image",
                        alt: t("badges.badge_medal_types." + ub[:badge].badge_medal_type)) %>
        <%= cf_link_to ub[:badge].name, badge_url(ub[:badge]) %>
        <% if ub[:times] > 1 %>× <%= ub[:times] %><% end %> (<%= l(ub[:created_at], format: date_format) %>)</li>
    <% end %>
  </ul>
<% end %>

<% unless current_user.blank? %>
  <p class="form-actions">
    <% if @user.user_id == current_user.user_id %>
      <%= cf_link_to t('users.edit'), edit_user_path(@user), class: 'cf-btn' %>
      <%= cf_link_to t('users.change_password'), user_edit_password_path(@user), class: 'cf-btn' %>
      <%= cf_link_to t('users.delete'), users_confirm_destroy_path(@user), class: 'cf-btn' %>
    <% end %>

    <% if @user.user_id != current_user.user_id %>
      <%= cf_link_to(t("mails.new_mail"), new_mail_path(priv_message: {recipient_id: @user.user_id}),
                     class: 'cf-btn', rel: 'nofollow') %>
    <% end %>
  </p>
<% end %>
