<% render 'cf_messages/message_header' %>
<h1><%= t('views.user') + ' ' + @user.username %></h1>

<table>
  <tr>
    <th>Name:</th>
    <td><%= @settings.conf('name', @user.username) %></td>
  </tr>
  <tr>
    <th>Punkte:</th>
    <td class="<% if @user_score < 0 %>score-down<% else %>score-up<% end %>"><%= @user_score %></td>
  </tr>
  <% if current_user == @user %><tr>
    <th>E-Mail:</th>
    <td><%= @user.email %></td>
  </tr><% end %>
  <tr>
    <th>Registriert seit:</th>
    <td><%= l(@user.created_at) %></td>
  </tr>
</table>

<hr>

<div class="row-fluid">
  <div class="well span6">
    <h3>Neueste Nachrichten</h3>

    <% if @last_messages.blank? %>
      <p>Bisher keine Beitr채ge.</p>
    <% end %>

    <% @last_messages.each do |m| %>
      <article class="thread threadlist">
        <%= message_header(m.thread, m) %>
      </article>
    <% end %>
  </div>

  <div class="well span6">
    <h3>Tags</h3>

    <% if @tags_cnts.blank? %>
      <p>Bisher keine getaggten Beitr채ge.</p>
    <% else %>
      <table class="users-tags-list">
        <% @tags_cnts.each do |t| %>
          <tr>
            <th><%= link_to t.tag.tag_name, tag_path(t.tag.forum.slug, t.tag) %></th>
            <td><%= t.cnt %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="well span6">
    <h3>Best bewertet</h3>

    <% if @point_msgs.blank? %>
      <p>Bisher keine bewerteten Beitr채ge.</p>
    <% end %>
    <% @point_msgs.each do |m| %>
      <article class="thread threadlist">
        <%= message_header(m.thread, m) %>
      </article>
    <% end %>
  </div>

  <div class="well span6">
    <h3>Bewertungen</h3>

    <% if @score_msgs.blank? %>
      <p>Bisher keine bewerteten Beitr채ge.</p>

    <% else %>
      <table class="score-table">
        <% @score_msgs.each do |s| %>
        <tr>
          <td class="<% if s.value < 0 %>score-down<% else %>score-up<% end %>"><%= s.value %></td>
          <td><article class="threadlist thread"><%= message_header(s.vote.message.thread, s.vote.message) %></article></td>
        </tr>
      <% end %>
    </table
    <% end %>>
  </div>

</div>

<p class="form-actions">
  <% if not current_user.blank? and @user.user_id == current_user.user_id %>
  <%= link_to t('views.edit'), edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('views.delete_account'), user_path(@user), confirm: t("views.are_you_sure"), :method => :delete, :class => 'btn' %>
  <% end %>

  <%= link_to t('views.back'), users_path, :class => 'btn' %>
</p>

