<%
content_for :title, t('users.user', name: @user.username)
content_for :h1, t('users.user', name: @user.username)
content_for(:body_id, "users-show")
content_for(:body_classes, 'users show ' + @user.to_class_name)
%>

<div class="user-info-table">
  <table>
    <tr>
      <td rowspan="<% if current_user == @user %>6<% else %>5<% end %>"><%= image_tag @user.avatar.url(:medium) %></td>
      <th><%= t('users.name') %>:</th>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <th><%= t('users.score') %>:</th>
      <td class="<% if @user_score < 0 %>score-down<% else %>score-up<% end %>"><%= @user_score %></td>
    </tr>
    <tr>
      <th><%= t('users.num_messages') %>:</th>
      <td><%= @messages_count %></td>
    </tr>
    <% if current_user == @user %><tr>
      <th><%= CfUser.human_attribute_name("email") %>:</th>
      <td><%= @user.email %> <em>(<%= t('global.only_visible_for_you') %>)</em></td>
    </tr><% end %>
    <tr>
      <th><%= t('users.registered_since') %>:</th>
      <td><%= l(@user.created_at, format: date_format) %></td>
    </tr>
  </table>
</div>

<ul class="user-info-tags clearfix">
  <% @tags_cnts.each do |t| %>
    <li><%= link_to t.tag.tag_name, tag_path(t.tag.forum.slug, t.tag), class: 'cf-tag' %>
      <span class="cnt"><%= t.cnt %></span></li>
  <% end %>
</ul>

<% unless @settings.conf('flattr').blank? %>
  <p>
    <%= t('layout.flattr_author') %>
    <%= link_to "https://flattr.com/submit/auto?user_id=" + CGI.escape(@settings.conf('flattr')) +
    "&url=" + CGI.escape(user_url(@user)) +
    "&title=" + CGI.escape(t('users.selfforum_user', name: @user.username)) do %>
    <img src="https://flattr.com/_img/icons/flattr_logo_16.png"
         alt=""
         title=""
         width="16"
         height="16">&nbsp;Flattr this!
    <% end %>
  </p>
<% end %>


<h2><%= t('users.newest_messages') %></h2>

<% if @last_messages.blank? %>
  <p><%= t('users.no_messages_so_far') %></p>
<% end %>

<% @last_messages.each do |m|
  m.thread.message = m %>
  <article class="thread threadlist">
    <%= message_header(m.thread, m) %>
  </article>
<% end %>


<h2><%= t('users.best_scored') %></h2>

<% if @point_msgs.blank? %>
  <p><%= t('users.no_scored_messages_so_far') %></p>
<% end %>
<% @point_msgs.each do |m|
  m.thread.message = m %>
  <article class="thread threadlist">
    <%= message_header(m.thread, m) %>
  </article>
<% end %>


<h2><%= t('users.votings') %></h2>

<% if @score_msgs.blank? %>
  <p><%= t('users.no_scored_messages_so_far') %></p>

<% else %>
  <table class="score-table">
    <% @score_msgs.each do |s| %>
      <tr>
        <td class="score">
          <% s.each do |s| %>
            <span class="<% if s.value < 0 %>score-down<% else %>score-up<% end %>"><%= s.value %></span>
          <% end %>
        </td>
        <td><article class="threadlist thread"><%= if s.first.vote then
                                                 s.first.vote.message.thread.message = s.first.vote.message
                                                 message_header(s.first.vote.message.thread, s.first.vote.message)
                                               else
                                                 s.first.message.thread.message = s.first.message
                                                 message_header(s.first.message.thread, s.first.message)
                                               end %></article></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h2><%= t('users.badges') %></h2>

<% if @user.badges.blank? %>
  <p><%= t('users.no_badges_so_far') %></p>
<% else %>
  <ul class="badge-user-list">
    <% @user.badges_users.each do |ub| %>
      <li><%= image_tag ub.badge.badge_medal_type + '.png', class: "medal-image",
          alt: t("badges.badge_medal_types." + ub.badge.badge_medal_type) %> <%= link_to ub.badge.name, ub.badge %> (<%= l(ub.created_at, format: date_format) %>)</li>
    <% end %>
  </ul>
<% end %>

<p class="form-actions">
  <% if not current_user.blank? and @user.user_id == current_user.user_id %>
  <%= link_to t('users.edit'), edit_user_path(@user), class: 'cf-btn' %>
  <%= link_to t('users.delete'), users_confirm_destroy_path(@user), class: 'cf-btn' %>
  <% end %>

  <%= link_to t('global.back'), users_path, class: 'cf-btn' %>
</p>
