<%
content_for(:title, t('devise.forgot_your_password'))
content_for(:h1, t('devise.forgot_your_password'))
%>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'cf-form'}) do |f| %>
  <% if resource.errors.any? %>
    <div class="alert alert-error">
      <h4><%= t("users.could_not_reset_password") %></h4>

      <ul>
        <% for message in resource.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cf-cgroup">
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: 'info@example.com' %>
  </div>

  <p class="form-actions">
    <%= f.submit t("devise.passwords.send_the_instructions"), class: 'cf-primary-btn' %>
  </p>
<% end %>
