<%
content_for(:title, t('devise.forgot_your_password'))
content_for(:h1, "<h1>".html_safe + t('devise.forgot_your_password') + "</h1>".html_safe)
%>

<h2><%= t('devise.forgot_your_password') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="cf-cgroup">
    <%= f.label :email %>
    <div class="cntrls">
      <%= f.email_field :email %>
    </div>
  </div>

  <p class="form-actions">
    <%= f.submit t("devise.passwords.send_instructions"), class: 'cf-primary-btn' %>
  </p>
<% end %>
