<fieldset class="tab-pane" id="settings">

  <div class="control-group">
    <label class="control-label" for="settings-pagination"><%= t('admin.forums.settings.items_per_page') %></label>
    <div class="controls">
      <%= text_field_tag 'settings[pagination]', @settings.options['pagination'], :id => 'settings-pagination' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings-use_archive"><%= t('admin.forums.settings.use_archive') %></label>
    <div class="controls">
      <input type="hidden" name="settings[use_archive]" value="no">
      <%= check_box_tag 'settings[use_archive]', 'yes', @settings.options['use_archive'] == 'yes', :id => 'settings-use_archive' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings-max_threads"><%= t('admin.forums.settings.max_threads') %></label>
    <div class="controls">
      <input type="hidden" name="settings[max_threads]" value="no">
      <%= text_field_tag 'settings[max_threads]', @settings.options['max_threads'], :id => 'settings-max_threads' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings-max_messages_per_thread"><%= t('admin.forums.settings.max_messages_per_thread') %></label>
    <div class="controls">
      <input type="hidden" name="settings[max_messages_per_thread]" value="no">
      <%= text_field_tag 'settings[max_messages_per_thread]', @settings.options['max_messages_per_thread'], :id => 'settings-max_messages_per_thread' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings-quote_old_message"><%= t('admin.forums.settings.quote_old_message') %></label>
    <div class="controls">
      <input type="hidden" name="settings[quote_old_message]" value="no">
      <%= check_box_tag 'settings[quote_old_message]', 'yes', @settings.options['quote_old_message'] == 'yes', :id => 'settings-quote_old_message' %>
    </div>
  </div>

</fieldset>
