<% if @cf_forum.errors.any? or @settings.errors.any? %>
  <div id="error_explanation">
    <h2><%= t_numerus(@cf_forum.errors.count + @settings.errors.count,
                      'admin.forums.error_message_s',
                      'admin.forums.error_message_p',
                      num: @cf_forum.errors.count + @settings.errors.count) %></h2>

    <ul>
      <% @cf_forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @settings.errors['options'].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="cf-tab-content">
  <%= render 'form_core', f: f %>
  <%= render 'form_settings', f: f %>
</div>
