
<fieldset class="tab-pane active" id="core">
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :short_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :short_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :slug, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :slug %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :standard_permissions, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :standard_permission, [
        ['Kein Zugriff', 'private'],
        ['Lesen', CfForumGroupPermission::ACCESS_READ],
        ['Schreiben', CfForumGroupPermission::ACCESS_WRITE],
        ['Lesen nach Anmeldung', CfForumGroupPermission::ACCESS_KNOWN_READ],
        ['Schreiben nach Anmeldung', CfForumGroupPermission::ACCESS_KNOWN_WRITE]
      ] %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description %>
    </div>
  </div>
</fieldset>
