<h1><%= t('admin.forums.edit', :name => @cf_forum.name) %></h1>

<%= form_for @cf_forum, url: admin_forum_path(@cf_forum.forum_id), html: {:class => 'form-horizontal'} do |f| %>

<%= render 'form', f: f %>

<p class="form-actions">
  <%= f.submit t('views.save'), :class => 'btn btn-primary' %>
  <%= link_to t('views.cancel'), admin_forums_path, :class => 'btn' %>
</p>

<% end %>
