<%
content_for :title, t('admin.forums.index')
%><h1><%= t('admin.forums.index') %></h1>

<table class="cf-default-table">
  <thead>
    <tr>
      <th><%= t('global.forum') %></th>
      <th><%= t('global.threads') %></th>
      <th><%= t('global.messages') %></th>
      <th><%= t('global.last_change') %></th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @forums.each do |forum| %>
    <tr>
      <td><%= link_to forum.name, edit_admin_forum_path(forum.forum_id) %></td>
      <td><%= @counts[forum.forum_id][:threads] %></td>
      <td><%= @counts[forum.forum_id][:messages] %></td>
      <td><%
        if @activities[forum.forum_id]
          msg = @activities[forum.forum_id] %>
          <%= l(msg.updated_at, format: date_format) %> von <%= msg.user_id ? link_to(msg.author, user_path(msg.owner)) : msg.author %>: <%= link_to msg.subject, cf_message_path(msg.thread, msg) %>
        <% else %>
          <em>(<%= t("global.never") %>)</em>
        <% end %>
      </td>
      <td>
        <%= link_to '', edit_admin_forum_path(forum.forum_id), class: "icon-edit-forum", title: t('admin.forums.edit') %>
        <%= link_to '', admin_forum_path(forum.forum_id), data: {confirm: t('global.are_you_sure')}, method: :delete, class: 'icon-delete-forum', title: t('admin.forums.delete') %>
        <%= link_to '', admin_forums_merge_path(forum.forum_id), class: 'icon-merge-forum', title: t('admin.forums.merge') %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
