<h1>Foren-Index</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Forum</th>
      <th>Threads</th>
      <th>Last Change</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @forums.each do |forum| %>
    <tr>
      <td><%= link_to forum.name, admin_cf_forum_path(forum.forum_id) %></td>
      <td><%= @counts[forum.forum_id] %></td>
      <td><%= l(@activities[forum.forum_id]) %></td>
      <td>
        <%= link_to '', edit_admin_cf_forum_path(forum), :class => "icon icon-edit" %>
        <%= link_to '', admin_cf_forum_path(forum.forum_id), data: {confirm: 'Are you sure?'}, :method => :delete, :class => 'icon icon-trash' %>
        <%= link_to '', admin_cf_forums_merge_path(forum.forum_id), :class => 'icon icon-share' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
