<h1>Foren-Index</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t('views.forum') %></th>
      <th><%= t('views.threads') %></th>
      <th><%= t('views.messages') %></th>
      <th><%= t('views.last_change') %></th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @forums.each do |forum| %>
    <tr>
      <td><%= link_to forum.name, admin_forum_path(forum.forum_id) %></td>
      <td><%= @counts[forum.forum_id][:threads] %></td>
      <td><%= @counts[forum.forum_id][:messages] %></td>
      <td><%= @activities[forum.forum_id] ? l(@activities[forum.forum_id]) : ('<em>(' + t("views.never") + ')</em>').html_safe %></td>
      <td>
        <%= link_to '', edit_admin_forum_path(forum.forum_id), :class => "icon icon-edit" %>
        <%= link_to '', admin_forum_path(forum.forum_id), data: {confirm: t('views.are_you_sure')}, :method => :delete, :class => 'icon icon-trash' %>
        <%= link_to '', admin_forums_merge_path(forum.forum_id), :class => 'icon icon-share' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
