<%
content_for :title, t('admin.forums.merge', forum: @cf_forum.name)
content_for :h1, "<h1>".html_safe + t('admin.forums.merge', forum: @cf_forum.name) + "</h1>".html_safe
forum_opts = @forums.map { |f| [f.name, f.forum_id] }
%>

<%= form_for @cf_forum, url: admin_forums_do_merge_path(@cf_forum.forum_id), method: 'post', html: {class: 'form-horizontal'} do |f| %>

  <%= t('admin.forums.merge_with') %>:
  <%= select_tag :merge_with, options_for_select(forum_opts, @merge_with) %>

  <p class="form-actions">
    <%= f.submit t('admin.forums.merge'), class: 'cf-primary-btn' %>
    <%= link_to t('global.cancel'), admin_forums_path, class: 'cf-btn' %>
  </p>

<% end %>
