<h1><%= t('admin.forums.new') %></h1>

<%= form_for @cf_forum, url: admin_forums_path, html: {:class => 'form-horizontal'} do |f| %>

<%= render 'form', f: f %>

<p class="form-actions">
  <%= f.submit t('global.save'), class: 'btn btn-primary' %>
  <%= link_to t('global.cancel'), admin_forums_path, class: 'btn' %>
</p>

<% end %>
