<h1><%= @cf_forum.name %></h1>

<p>
  <%= t('admin.forums.fields.name') %>: <%= @cf_forum.name %><br>
  <%= t('admin.forums.fields.short_name') %>: <%= @cf_forum.short_name %><br>
  <%= t('admin.forums.fields.slug') %>: <%= @cf_forum.slug %><br>
  <%= t('admin.forums.fields.created_at') %>: <%= t(@cf_forum.created_at) %><br>
  <%= t('admin.forums.fields.updated_at') %>: <%= t(@cf_forum.updated_at) %><br>
  <%= t('admin.forums.fields.description') %>: <%= @cf_forum.description %>
</p>

<p class="form-actions">
  <%= link_to t('views.edit'), edit_admin_forum_path(@cf_forum.forum_id), :class => "btn btn-primary" %>
  <%= link_to t('views.delete'), admin_forum_path(@cf_forum.forum_id), :confirm => t('views.are_you_sure'), :method => :delete, :class => 'btn' %>
  <%= link_to t('views.back'), admin_forums_path, :class => 'btn' %>
</p>