<%= render 'application/errors', object: @attendee, scope: 'events.attendees' %>

<% if current_user.blank? %>
  <div class="cf-cgroup">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
<% end %>

<div class="cf-cgroup">
  <%= f.label :starts_at %>
  <%= f.text_field :starts_at, placeholder: t('events.attendees.placeholders.starts_at'), maxlength: 255 %>
</div>

<div class="cf-cgroup">
  <%= f.label :seats %>
  <%= f.number_field :seats, step: 1, min: 0, placeholder: '2' %>
</div>

<div class="cf-cgroup datetime-select">
  <%= f.label :planned_start %>
  <%= f.datetime_select :planned_start, include_blank: true %>
</div>

<div class="cf-cgroup datetime-select">
  <%= f.label :planned_arrival %>
  <%= f.datetime_select :planned_arrival %>
</div>

<div class="cf-cgroup datetime-select">
  <%= f.label :planned_leave %>
  <%= f.datetime_select :planned_leave, include_blank: true %>
</div>

<div class="cf-cgroup">
  <%= f.label :comment %>
  <%= f.text_area :comment, placeholder: t('events.attendees.placeholders.comment') %>
</div>

<div class="form-actions">
  <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
  <%= cf_link_to t('global.cancel'), event_path(@event), class: 'cf-btn' %>
</div>


