<%
content_for :title, t("messages.close_vote.close_message",
                      subject: @message.subject,
                      author: @message.author)

content_for :h1, t("messages.close_vote.close_message",
                   subject: @message.subject,
                   author: @message.author)
%>

<%= render 'application/errors', object: @close_vote, scope: 'messages.close_vote' %>

<%= form_for(@close_vote, url: close_message_path(@thread, @message),
             html: {class: 'cf-form'}, method: :put) do |f| %>

  <div class="cf-cgroup">
    <label class="radio">
      <%= f.radio_button :reason, "spam" %>
      <%= t('messages.close_vote.spam') %>
    </label>

    <label class="radio">
      <%= f.radio_button :reason, "off-topic" %>
      <%= t('messages.close_vote.off-topic') %>
    </label>

    <label class="radio">
      <%= f.radio_button :reason, "not-constructive" %>
      <%= t('messages.close_vote.not-constructive') %>
    </label>

    <label class="radio">
      <%= f.radio_button :reason, "illegal" %>
      <%= t('messages.close_vote.illegal') %>
    </label>

    <label class="radio">
      <%= f.radio_button :reason, "duplicate" %>
      <%= t('messages.close_vote.duplicate') %>
    </label>

    <label class="radio">
      <%= f.radio_button :reason, "custom" %>
      <%= t('messages.close_vote.custom') %>
    </label>
  </div>


  <div class="cf-cgroup" data-depends-on="close_vote[reason]=duplicate">
    <%= f.label :duplicate_slug %>
    <%= f.url_field :duplicate_slug, placeholder: t('layout.placeholders.duplicate') %>
  </div>

   <div class="cf-cgroup" data-depends-on="close_vote[reason]=custom">
     <%= f.label :custom_reason %>
     <%= f.text_field :custom_reason %>
   </div>


   <p class="form-actions">
     <%= f.submit t("global.save"), class: "cf-primary-btn" %>
     <%= cf_link_to t("global.cancel"), message_path(@thread, @message), class: "cf-btn" %>
   </p>
<% end %>
