<%
content_for :title, t("messages.close_vote.open_message",
                      subject: @message.subject,
                      author: @message.author)
content_for :h1, t("messages.close_vote.open_message",
                   subject: @message.subject,
                   author: @message.author)
%>

<%= render 'application/errors', object: @open_vote, scope: 'messages.close_vote' %>

<%= form_for(@open_vote, url: open_message_path(@thread, @message),
             html: {class: 'cf-form'}, method: :put) do |f| %>

  <div class="cf-cgroup">
    <label class="radio">
      <%= f.hidden_field :reason, value: "custom" %>
      <%= t('messages.close_vote.custom') %>
    </label>
  </div>

  <div class="cf-cgroup" data-depends-on="close_vote[reason]=custom">
    <%= f.label :custom_reason %>
    <%= f.text_field :custom_reason %>
  </div>


   <p class="form-actions">
     <%= f.submit t("global.save"), class: "cf-primary-btn" %>
     <%= cf_link_to t("global.cancel"), message_path(@thread, @message), class: "cf-btn" %>
   </p>
<% end %>
