<%
content_for :title, t("messages.close_vote.open_message",
                      subject: @message.subject,
                      author: @message.author)
content_for :h1, t("messages.close_vote.open_message",
                   subject: @message.subject,
                   author: @message.author)
%>

<% if @open_vote.errors.any? %>
  <div id="error_explanation" class="cf-error">
    <h4><%= t('messages.close_vote.error_message', errors_count: pluralize(@open_vote.errors.count, t("global.error"), t('global.errors'))) %></h4>

      <ul>
      <% @open_vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(@open_vote, url: open_cf_message_path(@thread, @message),
             html: {:class => 'form-horizontal'}, method: :put) do |f| %>

  <div class="cf-cgroup">
    <%= f.label :reason %>

    <div class="cntrls">
      <label class="radio">
        <%= f.hidden_field :reason, value: "custom" %>
        <%= t('messages.close_vote.custom') %>
      </label>
    </div>
  </div>

  <div class="cf-cgroup" data-depends-on="cf_close_vote[reason]=custom">
    <%= f.label :custom_reason %>

    <div class="cntrls">
      <%= f.text_field :custom_reason %>
    </div>
  </div>


   <p class="form-actions">
     <%= f.submit t("global.save"), class: "cf-primary-btn" %>
     <%= link_to t("global.cancel"), cf_message_path(@thread, @message), class: "cf-btn" %>
   </p>
<% end %>
