<%
content_for :title, t("events.events")
content_for :h1, t("events.events")
content_for(:body_id, "events-index")
content_for(:body_classes, 'events index')
%>

<table class="cf-default-table">
  <thead>
    <tr>
      <th><%= sortable Event.human_attribute_name(:name), :name, :events_path %></th>
      <th class="numeric"><%= sortable t('events.attendees_num'), :attendees_num, :events_path %></th>
      <th><%= sortable Event.human_attribute_name(:start_date), :start_date, :events_path %></th>
      <th><%= sortable Event.human_attribute_name(:end_date), :end_date, :events_path %></th>
      <th><%= sortable Event.human_attribute_name(:location), :location, :events_path %></th>
      <th><%= sortable Event.human_attribute_name(:created_at), :created_at, :events_path %></th>
      <th><%= sortable Event.human_attribute_name(:updated_at), :updated_at, :events_path %></th>
    </tr>
  </thead>

  <tbody>
    <% if @events.blank? %>
      <tr class="no-data"><td colspan="7"><%= t('admin.events.no_events') %></td></tr>
    <% end %>

    <% @events.each do |event| %>
      <tr class="h-event">
        <td><%= link_to event.name, event_path(event), class: 'p-name u-url' %></td>
        <td class="numeric"><%= event.attendees.length %></td>
        <td><%= time_tag event.start_date, l(event.start_date), class: 'dt-start' %></td>
        <td><%= time_tag event.end_date, l(event.end_date), class: 'dt-end' %></td>
        <td class="p-location"><%= event.location %></td>
        <td><%= l(event.created_at) %></td>
        <td><%= l(event.updated_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
