<%
content_for :title, @event.name
content_for :h1, @event.name
content_for(:body_id, "events-show")
content_for(:body_classes, 'events show event-' + @event.name.parameterize)
%>

<article class="thread-message event">
  <header class="message">
    <h2><%= link_to @event.name, event_path(@event) %></h2>

    <div class="details">
      <time datetime="<%= @event.start_date.strftime("%FT%T%:z") %>"><%= link_to l(@event.start_date, format: date_format('date_format_date')), event_path(@event) %></time>
      <% if @event.end_date != @event.start_date %>
        - <time datetime="<%= @event.end_date.strftime("%FT%T%:z") %>"><%= link_to l(@event.end_date, format: date_format('date_format_date')), event_path(@event) %></time>
      <% end %>

      <%= t('events.in', location: @event.location) %>
    </div>
  </header>

  <div class="posting-content event">
    <%= @event.to_html(@app_controller) %>

    <% unless @event.maps_link.blank? %>
      <h3><%= t('events.map') %></h3>

      <iframe src="<%= @event.maps_link %>"></iframe>
    <% end %>
  </div>

  <section>
    <h3><%= t('events.attendee_list', count: @event.attendees.length) %></h3>

    <ol>
      <% @event.attendees.each do |attendee| %>
      <li>
        <dl>
          <dt><%= Attendee.human_attribute_name(:name) %></dt>
          <dd><%= cf_link_to_unless attendee.user_id.blank?, attendee.name, attendee.user %></dd>

          <dt><%= Attendee.human_attribute_name(:starts_at) %></dt>
          <dd><%= attendee.starts_at.blank? ? ('<em>' + t('global.unset') + "</em>").html_safe : attendee.starts_at %></dd>

          <dt><%= Attendee.human_attribute_name(:planned_start) %></dt>
          <dd><%= attendee.planned_start ? l(attendee.planned_start, format: date_format) : ('<em>' + t('global.unset') + "</em>").html_safe %></dd>

          <dt><%= Attendee.human_attribute_name(:planned_arrival) %></dt>
          <dd><%= attendee.planned_arrival ? l(attendee.planned_arrival, format: date_format) : ('<em>' + t('global.unset') + "</em>").html_safe %></dd>

          <dt><%= Attendee.human_attribute_name(:planned_leave) %></dt>
          <dd><%= attendee.planned_leave ? l(attendee.planned_leave, format: date_format) : ('<em>' + t('global.unset') + "</em>").html_safe %></dd>

          <dt><%= Attendee.human_attribute_name(:seats) %></dt>
          <dd><%= attendee.seats.blank? ? ('<em>' + t('global.unset') + "</em>").html_safe : attendee.seats %></dd>
        </dl>

        <p><%= attendee.comment %></p>

        <% unless current_user.blank? %>
          <% if current_user.admin? or current_user.user_id == attendee.user_id %>
            <div class="controls">
              <%= cf_button_to event_attendee_path(@event, attendee), method: :delete, class: 'cf-btn' do %><%= t('events.unattend') %><% end %>
              <%= cf_link_to t('global.edit'), edit_event_attendee_path(@event, attendee), class: 'cf-btn' %>
            </div>
          <% end %>
        <% end %>
      </li>
      <% end %>
    </ol>

    <% unless @event.is_attendee(current_user) %>
      <p><%= cf_link_to t('events.attend'), new_event_attendee_path(@event), class: 'cf-primary-btn' %></p>
    <% end %>
  </section>
</article>
