<%
disabled ||= false
users ||= []
id ||= name
single ||= false
desc ||= ""

%><div class="users-selector<% if single %> single<% end %>" data-modal-id="users-modal-<%= id %>" id="users-selector-<%= id %>">
  <div class="cf-cgroup">
    <% if not desc.blank? %><label><%= desc %></label><% end %>

    <div class="users" data-name="<%= name %>" data-id="<%= id %>">
      <% if users
        users.each do |u| %>
        <label class="checkbox">
          <input type="checkbox" checked="checked" value="<%= u.user_id %>" name="<%= name %>" id="<%= id %>_<%= u.user_id %>"<% if disabled %> disabled="disabled"<% end %>>
          <%= u.username %>
        </label>
      <% end
      end %>
    </div>


    <% unless disabled %><i class="icon-edit-user add-user" title="<%= t('widgets.users_selector.edit_userlist') %>"> </i><% end %>
  </div>

  <% content_for :modals do %>
    <div class="users-modal modal<% if single %> single<% end %>" id="users-modal-<%= id %>" aria-hidden="true" aria-labelledby="users-selector-<%= id %>-title" aria-describedby="users-selector-<%= id %>-description" role="dialog" data-users-selector-id="users-selector-<%= id %>">
      <div role="document" class="modal-inner">
        <div id="users-selector-<%= id %>-description" class="visually-hidden"><%= t('widgets.users_selector.search_user_desc') %></div>
        <h1 id="users-selector-<%= id %>-title"><%= t('widgets.users_selector.search_user') %></h1>

        <div class="cf-form">
          <div class="cf-cgroup"><input type="text" class="user_search"></div>
        </div>

        <h3><%= t('widgets.users_selector.found') %>:</h3>
        <ul class="user-list">
        </ul>

        <% if single %>
          <ul class="found-user-list" style="display:none">
          </ul>
        <% else %>
          <h3><%= t('widgets.users_selector.chosen') %>:</h3>
          <ul class="found-user-list">
          </ul>
        <% end %>

        <p>
          <a href="#" class="cf-btn" data-modal="dismiss"><%= t('global.cancel') %></a>
          <a href="#" class="cf-primary-btn ok"><%= t('global.save') %></a>
        </p>

        <button class="modal-close-button" title="<%= t('global.close_popup') %>" aria-label="<%= t('global.close_popup') %>" data-modal="dismiss">&times;</button>
      </div>
    </div>
  <% end %>
</div>
