<%
disabled ||= false
users ||= []
id ||= name
single ||= false
desc ||= ""

%><div class="users-selector<% if single %> single<% end %>">
  <div class="cf-cgroup">
    <% if not desc.blank? %><label><%= desc %></label><% end %>

    <div class="cntrls">
      <div class="users" data-name="<%= name %>" data-id="<%= id %>">
        <% if users
          users.each do |u| %>
          <label class="checkbox">
            <input type="checkbox" checked="checked" value="<%= u.user_id %>" name="<%= name %>" id="<%= id %>_<%= u.user_id %>"<% if disabled %> disabled="disabled"<% end %>>
              <%= u.username %>
          </label>
          <% end
        end %>
      </div>


      <% unless disabled %><i class="icon-edit-user add-user" title="<%= t('widgets.users_selector.edit_userlist') %>"> </i><% end %>
    </div>
  </div>

  <div class="users-modal modal fade in">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3><%= t('widgets.users_selector.search_user') %></h3>
        </div>
        <div class="modal-body">
          <p><input type="text" class="user_search"></p>

          <h4><%= t('widgets.users_selector.found') %>:</h4>
          <ul class="user-list">
          </ul>

          <% if single %>
            <ul class="found-user-list" style="display:none">
            </ul>
          <% else %>
            <h4><%= t('widgets.users_selector.chosen') %>:</h4>
            <ul class="found-user-list">
            </ul>
          <% end %>

        </div>
        <div class="modal-footer">
          <a href="#" class="cf-btn cancel"><%= t('global.cancel') %></a>
          <a href="#" class="cf-primary-btn ok"><%= t('global.save') %></a>
        </div>
      </div>
    </div>
  </div>
</div>
