<%= render 'application/errors', object: @redirection, scope: 'admin.redirections' %>

<div class="cf-cgroup">
  <%= f.label :path %>
  <div class="cntrls"><%= f.text_field :path %></div>
</div>

<div class="cf-cgroup">
  <%= f.label :destination %>
  <div class="cntrls"><%= f.text_field :destination %></div>
</div>

<div class="cf-cgroup">
  <%= f.label :http_status %>
  <div class="cntrls"><%= f.number_field :http_status %></div>
</div>

<div class="cf-cgroup">
  <%= f.label :comment %>
  <div class="cntrls">
    <%= f.text_area :comment %>
  </div>
</div>

