<% if @redirection.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('admin.badges.error_message', count: @redirection.errors.count) %></h2>

    <ul>
      <% @redirection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="cf-cgroup">
  <%= f.label :path %>
  <div class="cntrls"><%= f.text_field :path %></div>
</div>

<div class="cf-cgroup">
  <%= f.label :destination %>
  <div class="cntrls"><%= f.text_field :destination %></div>
</div>

<div class="cf-cgroup">
  <%= f.label :http_status %>
  <div class="cntrls"><%= f.number_field :http_status %></div>
</div>

<div class="cf-cgroup">
  <%= f.label :comment %>
  <div class="cntrls">
    <%= f.text_area :comment %>
  </div>
</div>

