<%
content_for :title, t('help.help_long')
content_for :h1, t('help.help_long')
content_for :body_id, 'forum-help'
content_for :body_classes, 'help'
%>

<% content_for :additional_js do %>
  <%= javascript_include_tag "stats" %>
  <script>cforum.pages.helpCites = <%= @cites.to_json.html_safe %>;</script>
<% end %>

<section id="forum-charta">

  <h2>Charta</h2>

  <p>Das SELFHTML-Forum versteht sich als Ort für Lernende und Lehrende,
    für Anfänger und für Profis. Klar, dass es dort auch mal zu
    Missverständnissen, Auseinandersetzungen oder hitzigen Debatten kommen
    kann. Um diese nicht ausarten zu lassen haben wir eine
    <%= cf_link_to 'Charta', 'https://wiki.selfhtml.org/wiki/SELFHTML:Forum/Charta_des_SELFHTML-Forums' %> entwickelt,
    einen Verhaltenskodex, an den sich bitte jeder halten möge.
  </p>

</section>

<section id="markdown">

  <h2>Formatierung der Beiträge</h2>

  <p>Das SELFHTML-Forum nutzt <%= cf_link_to 'Markdown', 'https://de.wikipedia.org/wiki/Markdown' %>
    zur Formatierung der Beiträge. Eine
    <%= cf_link_to 'Übersicht über die Formatierungsmöglichkeiten', 'https://wiki.selfhtml.org/wiki/SELFHTML:Forum/Formatierung_der_Beitr%C3%A4ge' %>
    gibt es im SELFHTML-Wiki.</p>

</section>

<section id="kontakt">

  <h2>Kontaktmöglichkeiten</h2>

  <dl>
    <dt>Anregungen, Fehlermeldungen oder Kritik das Forum betreffend richten Sie bitte an</dt>
    <dd><%= cf_link_to 'forum@selfhtml.org', 'mailto:forum@selfhtml.org' %></dd>

    <dt>Eine Issue bei Github eröffnen Sie unter</dt>
    <dd><%= cf_link_to 'github.com/ckruse/cforum/issues', 'https://github.com/ckruse/cforum/issues' %>

    <dt>Für allgemeine Fragen wenden Sie sich an den Verein SELFHTML e.V.</dt>
    <dd><%= cf_link_to 'matthias.apsel@selfhtml.org', 'mailto:matthias.apsel@selfhtml.org' %>
  </dd>

</section>

<section id="tags">

  <h2>Tags</h2>

  <p>Das SELFHTML-Forum nutzt zur Kategorisierung von Beiträgen
    sogenannte Tags. Diese Tags oder auch Schlagworte helfen den Lesern
    des Forums eine Frage oder eine Antwort thematisch einzuordnen und
    können als <%= cf_link_to 'Such-Kriterium', search_path %> genutzt
    werden. Es gibt Listen aller verwendeten Tags.</p>

  <ul>
    <% @forums.each do |f| %>
      <li><%= cf_link_to f.name, tags_path(f) %></li>
    <% end %>
  </ul>

</section>

<section id="search">
  <h2>Suche</h2>

  <p>Es ist möglich, die Beiträge des Forums zu <%= cf_link_to 'durchsuchen', search_path %>.
    Die Suche berücksichtigt neben den aktuellen Beiträge ggf. auch bereits 
    <%= cf_link_to 'archivierte', cf_archive_path('all') %> Beiträge.
    Die Suchergebnisse werden per default nach Relevanz sortiert; das
    bedeutet, dass Beiträge mit vielen positiven Bewertungen vor
    Beiträgen mit weniger positiven Bewertungen gelistet werden und
    Beiträge mit passenderen Suchtreffern vor Beiträgen mit weniger
    passenden Suchtreffern erscheinen.</p>
</section>

<section id="archive">
  <h2>Archiv</h2>

  <p>Seit 1998 werden die Beiträge dieses Forums für die Nachwelt <%= cf_link_to 'archiviert', cf_archive_path('all') %>,
    am 26.&nbsp;Juli&nbsp;1998 schrieb Stefan Münz den <%= cf_link_to 'ersten Forumsbeitrag', 'https://forum.selfhtml.org/self/1998/jul/26/willkommen-im-forum/1#m1' %>.
    Es ist interessant, in alten Beiträgen zu schmökern, das Archiv
    spiegelt schließlich nicht nur die Geschichte von SELFHTML 
    sondern auch zwei Jahrzehnte Webentwicklung wider.</p>

</section>

<section id="moderators">

  <h2>Moderatoren des SELFHTML-Forums</h2>

  <p>Zur Zeit gibt es <%= @moderators.count %> Moderatoren:</p>

  <ul>
    <% @moderators.each do |mod| %>
      <li><%= cf_link_to image_tag(mod.thumb) + " " + mod.username, user_path(mod) %></li>
    <% end %>
  </ul>

  <p>Weitere Informationen zu den Moderatoren sind <%= cf_link_to 'im SELFHTML-Wiki', 'https://wiki.selfhtml.org/wiki/SELFHTML:Forum/Moderatoren' %> einsehbar.</p>

</section>

<section id="scoring-rules">

  <h2>Bewertungsregeln</h2>
  <p>Im SELFHTML-Forum gibt es die Möglichkeit, Beiträge zu bewerten,
    sowohl positiv als auch negativ. Für jede positive Bewertung bekommt
    der Schreiber des Postings 10 Punkte, für jede negative Bewertung
    bekommt der Schreiber des Postings -1 Punkt. Die Zahl der Punkte kann
    nicht unter -1 fallen. Bewerten können alle registrierten Benutzer mit
    mindestens 50 Punkten. <%= cf_link_to 'Nähere Informationen zu den Bewertungsregeln', 'https://wiki.selfhtml.org/wiki/SELFHTML:Forum/Bewertungsregeln' %>
    gibt es <%= cf_link_to 'im SELFHTML-Wiki', 'https://wiki.selfhtml.org/wiki/SELFHTML:Forum/Bewertungsregeln' %>.</p>

</section>

<h1>weitere Informationen</h1>

<section id="users">

  <h2>Benutzer des SELFHTML-Forums</h2>

  <p>Das SELFHTML-Forum kann man grundsätzlich anonym nutzen. Doch der
    volle Komfort sowie verschiedene Nutzer-Rechte erschliessen sich einem
    erst, wenn man sich <%= cf_link_to 'registriert', new_user_registration_path %>.
    Beachten Sie hierbei unsere
    <%= cf_link_to 'Datenschutz-Bestimmungen', 'https://www.selfhtml.org/impressum.html#datenschutz' %>.
    Es gibt auch eine <%= cf_link_to 'Liste aller registrierten Benutzer', users_path %>.</p>

</section>

<section id="badges">

  <h2>Rechte-System im Forum</h2>
  <p>Die Rechte-Vergabe im Forum funktioniert derzeit über ein
    Medaillen-System. Erreicht ein Nutzer eine bestimmte Anzahl von
    Punkten, so erwirbt er eine Medaille, an die ein bestimmtes
    Recht gebunden ist. Diese Medaille bleibt auch dann erhalten, wenn
    die Punkte des Nutzers unter die erforderliche Punktezahl
    fällt. Dabei wird unterschieden in Gold-, Silber- und
    Bronze-Medaillen.
  </p>
</section>

<% @badge_groups.each do |bg| %>
  <section id="<%= bg.name.parameterize %>">
    <h2><%= bg.name %></h2>

    <dl>
      <% bg.badges.each do |badge| %>
        <dt><%= image_tag badge.badge_medal_type + '.png' %> <%= cf_link_to badge.name, badge_path(badge) %></dt>
        <dd><% unless badge.score_needed.blank? %><strong><%= badge.score_needed %> Punkte:</strong> <% end %><%= badge.description %></dd>
      <% end %>
    </dl>

  </section>
<% end %>

<section id="cites">

  <h2>Zitatesammlung</h2>

  <p>Das SELFHTML-Forum gibt es <%= cf_link_to 'seit dem 26. Juli 1998', 'https://forum.selfhtml.org/self/1998/jul/26/willkommen-im-forum/1#m1' %>.
    In dieser Zeit gab es immer wieder lustige Sprüche oder kluge
    Wahrheiten, die die Community als erhaltenswert betrachtet. Zu diesem
    Zweck wurde eine <%= cf_link_to 'Zitatesammlung', cites_path %>
    entwickelt. Dort kann jeder Zitate vorschlagen. Ob ein Zitat in
    die Sammlung aufgenommen wird, entscheidet die Community. Die
    <%= cf_link_to 'näheren Regeln zur Zitate-Sammlung', 'https://wiki.selfhtml.org/wiki/SELFHTML:Forum/Regeln_f%C3%BCr_die_Zitatesammlung' %>
    sind im SELFHTML-Wiki einsehbar.</p>

  <p>Nachfolgende Grafik zeigt, wieviele neue Zitate in den letzten 12 Monaten hinzugekommen sind.</p>

  <div class="chart-cites chart"></div>
</section>

<section id="impressum">

  <h2>Impressum</h2>

  <p>Rechtliche Hinweise finden Sie auf den Seiten des Impressums</p>

  <ul>
    <li><%= cf_link_to 'Impressum', 'https://selfhtml.org/impressum.html' %></li>
    <li><%= cf_link_to 'Datenschutz-Bestimmungen', 'https://selfhtml.org/impressum.html#datenschutz' %></li>
    <li><%= cf_link_to 'Nutzungsbedingungen Bilderupload', 'https://selfhtml.org/impressum.html#upload' %></li>
  </ul>

</section>

<section id="donate">

  <h2>SELFHTML unterstützen</h2>

  <p>Sie können das Projekt sowohl inhaltlich als auch finanziell unterstützen:
     Die Mitarbeit im <%= cf_link_to 'SELFHTML-Wiki', 'https://wiki.selfhtml.org/wiki/SELFHTML:Wiki/Mitarbeit_FAQ' %> oder das kompetente Beantworten von Fragen in diesem Forum ist weder an eine Mitgliedschaft noch an eine Anmeldung gebunden.
     Falls Sie eine Spende in Erwägung ziehen wollen, haben wir die notwendigen <%= cf_link_to 'Informationen', 'https://selfhtml.org/spenden.html' %> für Sie zusammengestellt.</p>

</section>
