<%
content_for :title, t('admin.search_sections.index')
content_for :h1, t('admin.search_sections.index')
%>

<table class="cf-default-table">
  <thead>
    <tr>
      <th><%= SearchSection.human_attribute_name(:name) %></th>
      <th><%= SearchSection.human_attribute_name(:position) %></th>
      <th><%= SearchSection.human_attribute_name(:active_by_default) %></th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @search_sections.each do |section| %>
    <tr>
      <td><%= cf_link_to section.name, edit_admin_search_section_path(section) %></td>
      <td><%= section.position %></td>
      <td><%= t('global.' + (section.active_by_default ? 'yeah' : 'nope')) %></td>
      <td>
        <%= cf_link_to('', edit_admin_search_section_path(section),
                       class: "icon-edit-search-section",
                       title: t('admin.search_sections.edit')) %>
        <%= cf_button_to(admin_search_section_path(section),
                         data: {'cf-confirm' => t('global.are_you_sure')},
                         method: :delete,
                         class: 'icon-delete-search-section',
                         title: t('admin.search_sections.delete')) %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
