<%= render 'errors', object: @tag, scope: 'tags' %>

<div class="cf-cgroup">
  <%= f.label :tag_name %>
  <div class="cntrls"><%= f.text_field :tag_name %></div>
</div>

<div class="cf-cgroup">
  <%= f.label :suggest %>
  <div class="cntrls">
    <label class="checkbox"><%= f.check_box :suggest %></label>
  </div>
</div>

