<%= render 'application/errors', object: @tag, scope: 'tags' %>

<div class="cf-cgroup">
  <%= f.label :tag_name %>
  <%= f.text_field :tag_name %>
</div>

<div class="cf-cgroup">
  <%= f.label :suggest do %>
    <%= f.check_box :suggest %> <%= Tag.human_attribute_name(:suggest) %>
  <% end %>
</div>

