<% if current_user and (may?(Badge::CREATE_TAGS) or current_user.admin?) %>
  <ul>
    <% if may?(Badge::CREATE_TAGS) %>
      <li<% if action_name == 'new' or action_name == 'create' %> class="active"<% end %>><%= cf_link_to t('tags.new_tag'), new_tag_path(current_forum.slug) %></li>
    <% end %>

    <% if may?(Badge::CREATE_TAG_SYNONYM) and @tag and @tag.tag_id %>
      <li<% if action_name == 'new_synonym' %> class="active"<% end %>><%= cf_link_to t('tags.synonyms.new_tag_synonym'), new_tag_synonym_path(current_forum.slug, @tag) %></li>
    <% end %>

    <% if current_user and current_user.admin and @tag and @tag.tag_id %>
      <li><%= cf_link_to t('tags.merge'), merge_tag_path(current_forum, @tag) %></li>
      <li<% if action_name == 'edit' or action_name == 'update' %> class="active"<% end %>><%= cf_link_to t('tags.do_edit_tag'), edit_tag_path(current_forum.slug, @tag) %></li>
      <li><%= cf_link_to t('tags.do_delete_tag'), tag_path(current_forum.slug, @tag), method: :delete, data: {'cf-confirm' => t('global.are_you_sure')} %></li>
    <% end %>
  </ul>
<% end %>
