<%
content_for :title, t('tags.merge')
content_for :h1, t('tags.merge')
content_for(:body_id, "tags-merge")
content_for(:body_classes, 'tags merge forum-' + (current_forum.try(:slug) || 'all') + ' tag-' + @tag.slug)
%>

<%= form_for @tag, url: merge_tag_path(current_forum.slug, @tag), method: :post, html: {class: 'cf-form'} do |f| %>

  <div class="cf-cgroup">
    <select name="merge_tag">
      <% @tags.each do |tag| %>
        <option value="<%= tag.tag_id %>"><%= tag.tag_name %></option>
      <% end %>
    </select>
  </div>

  <p>
    <%= t('tags.existing_tag_will_be_merged_to', tag: @tag.tag_name) %>
  </p>

<p class="form-actions">
  <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
  <%= cf_link_to t('global.cancel'), tags_path(current_forum.slug), class: 'cf-btn' %>
</p>

<% end %>
