<%
content_for :title, current_forum.name + ": " + @tag.tag_name
content_for :h1, current_forum.name + ": " + @tag.tag_name
content_for(:body_id, "tags-" + @tag.slug)
content_for(:body_classes, 'tags show forum-' + (current_forum.try(:slug) || 'all') + ' tag-' + @tag.slug)
%>

<h2><%= t('tags.synonyms.synonyms') %>:</h2>

<% if @tag.synonyms.blank? %>
  <p><%= t('tags.synonyms.no_synonyms') %></p>
<% else %>
  <ul class="cf-tags-list">
    <% @tag.synonyms.each do |syn| %>
      <li class="tags"><%= syn.synonym %><% if current_user.try(:admin) %>
        <%= cf_link_to "", edit_tag_synonym_path(current_forum.slug, @tag, syn), class: 'icon-edit-tag-synonym' %>
        <%= cf_link_to "", tag_synonym_path(current_forum.slug, @tag, syn), class: 'icon-delete-tag-synonym', method: :delete, data: {'cf-confirm' => t('global.are_you_sure')} %>
      <% end %></li>
    <% end %>
  </ul>
<% end %>

<h2><%= t("messages.messages") %></h2>

<% if @messages.blank? %>
  <p><%= t("tags.no_messages") %></p>
<% else %>
  <table class="cf-default-table">
    <thead>
      <tr>
        <th><%= Message.human_attribute_name(:subject) %></th>
        <th><%= Message.human_attribute_name(:author) %></th>
        <th><%= t('tags.tags') %></th>
        <th><%= Message.human_attribute_name(:created_at) %></th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |msg| %>
        <tr>
          <td><%= cf_link_to msg.subject, message_path(msg.thread, msg), class: 'block' %></td>
          <td>
            <% if msg.user_id %>
              <%= cf_link_to(image_tag(msg.owner.avatar(:thumb)) + msg.author, user_path(msg.owner), title: t('messages.user_link', user: msg.owner.username)) %>
            <% else %>
              <%= msg.author %>
            <% end %>
          </td>
          <td>
            <ul class="cf-tags-list">
              <% msg.tags.each do |tag| %>
                <li class="cf-tag"><%= cf_link_to(tag.tag_name, tag_path(current_forum.slug, tag)) %></li>
              <% end %>
            </ul>
          </td>
          <td><%= l(msg.created_at, format: date_format) %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
<% end %>

<%= paginate @messages %>
