<h1><%= current_forum.name %>: <%= @tag.tag_name %></h1>

<table class="table table-condensed table-striped table-hover">
  <thead>
    <th>
      <tr>
        <th>Betrifft</th>
        <th>Autor</th>
        <th>Tags</th>
        <th>Datum</th>
      </tr>
    </th>
  </thead>

  <tbody>
  <% @messages.each do |msg| %>
    <tr>
      <td><%= link_to msg.subject, cf_message_path(msg.thread, msg) %></td>
      <td><% if msg.owner %><%= link_to '<em>'.html_safe + msg.owner.username + '</em>'.html_safe, user_path(msg.owner), :class => 'icon icon-share' %><% end %><%= msg.author %></td>
      <td><%= (msg.tags.map {|t| link_to(t.tag_name, tag_path(current_forum.slug, t))}).join(", ").html_safe %></td>
      <td><%= l(msg.created_at) %></td>
    </tr>
  <% end %>
  </tbody>

</table>

<%
all_pages_count = (@tag.num_messages / @limit).ceil
start_page = @page - 5
end_page   = @page + 5

if start_page <= 0
  end_page += -start_page
  start_page = 1
end

end_page = all_pages_count if end_page > all_pages_count
%><div class="pagination pagination-centered">
  <ul>
    <li<% if @page == 0 %> class="disabled"<% end %>><%= link_to '«', tag_path(current_forum.slug, @tag) %></li>

    <% (start_page..end_page+1).each do |i| %>
    <li<% if i - 1 == @page %> class="active disabled"<% end %>><%= link_to i, tag_path(current_forum.slug, @tag, p: i-1) %></li>
    <% end %>

    <li<% if @page == all_pages_count %> class="disabled"<% end %>><%= link_to '»', tag_path(current_forum.slug, @tag, p: all_pages_count) %></li>
  </ul>
</div>
