<h1><%= current_forum.name %>: <%= @tag.tag_name %></h1>

<table class="cf-table-condensed-striped-hover">
  <thead>
    <th>
      <tr>
        <th>Betrifft</th>
        <th>Autor</th>
        <th>Tags</th>
        <th>Datum</th>
      </tr>
    </th>
  </thead>

  <tbody>
  <% @messages.each do |msg| %>
    <tr>
      <td><%= link_to msg.subject, cf_message_path(msg.thread, msg) %></td>
      <td><% if msg.owner %><%= link_to '<em>'.html_safe + msg.owner.username + '</em>'.html_safe, user_path(msg.owner), class: 'icon-registered-user' %><% end %><%= msg.author %></td>
      <td><%= (msg.tags.map {|t| link_to(t.tag_name, tag_path(current_forum.slug, t))}).join(", ").html_safe %></td>
      <td><%= l(msg.created_at, format: uconf('date_format_default')) %></td>
    </tr>
  <% end %>
  </tbody>

</table>

<%= paginate @messages %>
