<% def message_tree(thread, messages) %>
<ol>
  <% messages.each do |message| %>
  <li>
    <header>
      <p class="category"><%= message.category %></p>
      <h3><%= link_to message.subject, message_path(message) %></h3>
      <details open>
        <= t("by") %> <%= link_to message.author.name, user_path(message.author.user) %>,
        <time datetime="<%= message.date.to_s %>"><%= I18n.l(message.date) %></time>
      </details>
    </header>

    <% unless message.messages.blank?
      message_tree(thread, message.messages)
    end %>
  </li>
  <% end %>
</ol>
<% end %>

<% @threads.each do |thread| %>
<article class="thread">
  <% message = thread.messages.first %>
  <header>
    <p class="category"><%= message.category %></p>
    <h2><a href="message.html"><%= message.subject %></a></h2>
    <details>
      <= t("by") %> <%= link_to message.author.name, user_path(message.author.user) %>,
        <time datetime="<%= message.date.to_s %>"><%= I18n.l(message.date) %></time>
    </details>
  </header>

  <% unless message.messages.blank? %>
    <% message_tree(thread, message.messages) %>
  <% end %>

</article>
<% end %>
