      <div class="cf-cgroup">
        <label for="settings-locked-yes"><%= t('admin.forums.settings.' + (@forum ? 'forum_locked' : 'instance_locked')) %></label>
        <label class="radio"><%= radio_button_tag 'settings[locked]', 'yes', @settings.options['locked'] == 'yes', id: 'settings-locked-yes' %> <%= t('global.yeah') %></label>
        <label class="radio"><%= radio_button_tag 'settings[locked]', 'no', @settings.options['locked'] == 'no', id: 'settings-locked-no' %> <%= t('global.nope') %></label>
        <label class="radio"><%= radio_button_tag 'settings[locked]', '_DEFAULT_', @settings.options['locked'].blank?, id: 'settings-locked-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('locked')), origin: t(global_conf?('locked') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-css_ressource"><%= t('admin.forums.settings.css_ressource') %></label>
        <%= text_field_tag 'settings[css_ressource]', @settings.options['css_ressource'], id: 'settings-css_ressource' %>
        <label class="checkbox"><%= check_box_tag 'settings[css_ressource]', '_DEFAULT_', @settings.options['css_ressource'].blank?, id: 'settings-css_ressource-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('css_ressource')), origin: t(global_conf?('css_ressource') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-js_ressource"><%= t('admin.forums.settings.js_ressource') %></label>
        <%= text_field_tag 'settings[js_ressource]', @settings.options['js_ressource'], id: 'settings-js_ressource' %>
        <label class="checkbox"><%= check_box_tag 'settings[js_ressource]', '_DEFAULT_', @settings.options['js_ressource'].blank?, id: 'settings-js_ressource-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('js_ressource')), origin: t(global_conf?('js_ressource') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-pagination"><%= t('admin.forums.settings.items_per_page') %></label>
        <%= text_field_tag 'settings[pagination]', @settings.options['pagination'], id: 'settings-pagination' %>
        <label class="checkbox"><%= check_box_tag 'settings[pagination]', '_DEFAULT_', @settings.options['pagination'].blank?, id: 'settings-pagination-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('pagination')), origin: t(global_conf?('pagination') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-pagination-users"><%= t('admin.forums.settings.users_per_page') %></label>
        <%= text_field_tag 'settings[pagination_users]', @settings.options['pagination_users'], id: 'settings-pagination-users' %>
        <label class="checkbox"><%= check_box_tag 'settings[pagination_users]', '_DEFAULT_', @settings.options['pagination_users'].blank?, id: 'settings-pagination-users-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('pagination_users')), origin: t(global_conf?('pagination_users') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-pagination_search"><%= t('admin.forums.settings.pagination_search') %></label>
        <%= text_field_tag 'settings[pagination_search]', @settings.options['pagination_search'], id: 'settings-pagination_search' %>
        <label class="checkbox"><%= check_box_tag 'settings[pagination_search]', '_DEFAULT_', @settings.options['pagination_search'].blank?, id: 'settings-pagination_search-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('pagination_search')), origin: t(global_conf?('pagination_search') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-max_threads"><%= t('admin.forums.settings.max_threads') %></label>
        <%= text_field_tag 'settings[max_threads]', @settings.options['max_threads'], id: 'settings-max_threads' %>
        <label class="checkbox"><%= check_box_tag 'settings[max_threads]', '_DEFAULT_', @settings.options['max_threads'].blank?, id: 'settings-max_threads-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('max_threads')), origin: t(global_conf?('max_threads') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-max_messages_per_thread"><%= t('admin.forums.settings.max_messages_per_thread') %></label>
        <%= text_field_tag 'settings[max_messages_per_thread]', @settings.options['max_messages_per_thread'], id: 'settings-max_messages_per_thread' %>
        <label class="checkbox"><%= check_box_tag 'settings[max_messages_per_thread]', '_DEFAULT_', @settings.options['max_messages_per_thread'].blank?, id: 'settings-max_messages_per_thread-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('max_messages_per_thread')), origin: t(global_conf?('max_messages_per_thread') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-max_tags_per_message"><%= t('admin.forums.settings.max_tags_per_message') %></label>
        <%= text_field_tag 'settings[max_tags_per_message]', @settings.options['max_tags_per_message'], id: 'settings-max_tags_per_message' %>
        <label class="checkbox"><%= check_box_tag 'settings[max_tags_per_message]', '_DEFAULT_', @settings.options['max_tags_per_message'].blank?, id: 'settings-max_tags_per_message-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('max_tags_per_message')), origin: t(global_conf?('max_tags_per_message') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-min_tags_per_message"><%= t('admin.forums.settings.min_tags_per_message') %></label>
        <%= text_field_tag 'settings[min_tags_per_message]', @settings.options['min_tags_per_message'], id: 'settings-min_tags_per_message' %>
        <label class="checkbox"><%= check_box_tag 'settings[min_tags_per_message]', '_DEFAULT_', @settings.options['min_tags_per_message'].blank?, id: 'settings-min_tags_per_message-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('min_tags_per_message')), origin: t(global_conf?('min_tags_per_message') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-header_start_index"><%= t('admin.forums.settings.header_start_index') %></label>
        <%= text_field_tag 'settings[header_start_index]', @settings.options['header_start_index'], id: 'settings-header_start_index' %>
        <label class="checkbox"><%= check_box_tag 'settings[header_start_index]', '_DEFAULT_', @settings.options['header_start_index'].blank?, id: 'settings-header_start_index-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('header_start_index')), origin: t(global_conf?('header_start_index') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-editing_enabled-yes"><%= t('admin.forums.settings.editing_enabled') %></label>
        <label class="radio"><%= radio_button_tag 'settings[editing_enabled]', 'yes', @settings.options['editing_enabled'] == 'yes', id: 'settings-editing_enabled-yes' %> <%= t('global.yeah') %></label>
        <label class="radio"><%= radio_button_tag 'settings[editing_enabled]', 'no', @settings.options['editing_enabled'] == 'no', id: 'settings-editing_enabled-no' %> <%= t('global.nope') %></label>
        <label class="radio"><%= radio_button_tag 'settings[editing_enabled]', '_DEFAULT_', @settings.options['editing_enabled'].blank?, id: 'settings-editing_enabled-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('editing_enabled')), origin: t(global_conf?('editing_enabled') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-max_editable_age"><%= t('admin.forums.settings.max_editable_age') %></label>
        <%= number_field_tag 'settings[max_editable_age]', @settings.options['max_editable_age'], id: 'settings-max_editable_age' %>
        <label class="checkbox"><%= check_box_tag 'settings[max_editable_age]', '_DEFAULT_', @settings.options['max_editable_age'].blank?, id: 'settings-max_editable_age-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('max_editable_age')), origin: t(global_conf?('max_editable_age') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-edit_until_has_answer-yes"><%= t('admin.forums.settings.edit_until_has_answer') %></label>
        <label class="radio"><%= radio_button_tag 'settings[edit_until_has_answer]', 'yes', @settings.options['edit_until_has_answer'] == 'yes', id: 'settings-edit_until_has_answer-yes' %> <%= t('global.yeah') %></label>
        <label class="radio"><%= radio_button_tag 'settings[edit_until_has_answer]', 'no', @settings.options['edit_until_has_answer'] == 'yes', id: 'settings-edit_until_has_answer-no' %> <%= t('global.nope') %></label>
        <label class="radio"><%= radio_button_tag 'settings[edit_until_has_answer]', '_DEFAULT_', @settings.options['edit_until_has_answer'].blank?, id: 'settings-edit_until_has_answer-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('edit_until_has_answer')), origin: t(global_conf?('edit_until_has_answer') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-date_format_index"><%= t('users.settings.date_format_index') %></label>
        <%= text_field_tag 'settings[date_format_index]', @settings.options['date_format_index'], id: 'settings-date_format_index' %>
        <label class="checkbox"><%= check_box_tag 'settings[date_format_index]', '_DEFAULT_', @settings.options['date_format_index'].blank?, id: 'settings-date_format_index-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('date_format_index')), origin: t(global_conf?('date_format_index') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-date_format_post"><%= t('users.settings.date_format_post') %></label>
        <%= text_field_tag 'settings[date_format_post]', @settings.options['date_format_post'], id: 'settings-date_format_post' %>
        <label class="checkbox"><%= check_box_tag 'settings[date_format_post]', '_DEFAULT_', @settings.options['date_format_post'].blank?, id: 'settings-date_format_post-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('date_format_post')), origin: t(global_conf?('date_format_post') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-date_format_search"><%= t('admin.forums.settings.date_format_search') %></label>
        <%= text_field_tag 'settings[date_format_search]', @settings.options['date_format_search'], id: 'settings-date_format_search' %>
        <label class="checkbox"><%= check_box_tag 'settings[ate_format_post]', '_DEFAULT_', @settings.options['date_format_search'].blank?, id: 'settings-date_format_search-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('date_format_search')), origin: t(global_conf?('date_format_search') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-date_format_default"><%= t('users.settings.date_format_default') %></label>
        <%= text_field_tag 'settings[date_format_default]', @settings.options['date_format_default'], id: 'settings-date_format_default' %>
        <label class="checkbox"><%= check_box_tag 'settings[date_format_default]', '_DEFAULT_', @settings.options['date_format_default'].blank?, id: 'settings-date_format_default-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('date_format_default')), origin: t(global_conf?('date_format_default') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-css_styles"><%= t('users.settings.css_styles') %></label>
        <%= text_area_tag 'settings[css_styles]', @settings.options['css_styles'], id: 'settings-css_styles' %>
        <label class="checkbox"><%= check_box_tag 'settings[css_styles]', '_DEFAULT_', @settings.options['css_styles'].blank?, id: 'settings-css_styles-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('css_styles')), origin: t(global_conf?('css_styles') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-motd"><%= t('users.settings.motd') %></label>
        <%= text_area_tag 'settings[motd]', @settings.options['motd'], id: 'settings-motd' %>
        <label class="checkbox"><%= check_box_tag 'settings[motd]', '_DEFAULT_', @settings.options['motd'].blank?, id: 'settings-motd-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('motd')), origin: t(global_conf?('motd') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-vote_up_value"><%= t('admin.forums.settings.vote_up_value') %></label>
        <%= number_field_tag 'settings[vote_up_value]', @settings.options['vote_up_value'], id: 'settings-vote_up_value' %>
        <label class="checkbox"><%= check_box_tag 'settings[vote_up_value]', '_DEFAULT_', @settings.options['vote_up_value'].blank?, id: 'settings-vote_up_value-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('vote_up_value')), origin: t(global_conf?('vote_up_value') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-vote_up_value_user"><%= t('admin.forums.settings.vote_up_value_user') %></label>
        <%= number_field_tag 'settings[vote_up_value_user]', @settings.options['vote_up_value_user'], id: 'settings-vote_up_value_user' %>
        <label class="checkbox"><%= check_box_tag 'settings[vote_up_value_user]', '_DEFAULT_', @settings.options['vote_up_value_user'].blank?, id: 'settings-vote_up_value_user-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('vote_up_value_user')), origin: t(global_conf?('vote_up_value_user') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-vote_down_value"><%= t('admin.forums.settings.vote_down_value') %></label>
        <%= number_field_tag 'settings[vote_down_value]', @settings.options['vote_down_value'], id: 'settings-vote_down_value' %>
        <label class="checkbox"><%= check_box_tag 'settings[vote_down_value]', '_DEFAULT_', @settings.options['vote_down_value'].blank?, id: 'settings-vote_down_value-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('vote_down_value')), origin: t(global_conf?('vote_down_value') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-accept_value"><%= t('admin.forums.settings.accept_value') %></label>
        <%= number_field_tag 'settings[accept_value]', @settings.options['accept_value'], id: 'settings-accept_value' %>
        <label class="checkbox"><%= check_box_tag 'settings[accept_value]', '_DEFAULT_', @settings.options['accept_value'].blank?, id: 'settings-accept_value-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('accept_value')), origin: t(global_conf?('accept_value') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-accept_self_value"><%= t('admin.forums.settings.accept_self_value') %></label>
        <%= number_field_tag 'settings[accept_self_value]', @settings.options['accept_self_value'], id: 'settings-accept_self_value' %>
        <label class="checkbox"><%= check_box_tag 'settings[accept_self_value]', '_DEFAULT_', @settings.options['accept_self_value'].blank?, id: 'settings-accept_self_value-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('accept_self_value')), origin: t(global_conf?('accept_self_value') ? 'global.global_conf' : 'global.global_default')) %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-standard_view-default"><%= t('users.settings.standard_thread_view') %></label>
        <label class="radio"><%= radio_button_tag 'settings[standard_view]', '_DEFAULT_', @settings.options['standard_view'].blank?, id: 'settings-standard_view-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('standard_view')), origin: t(global_conf?('standard_view') ? 'global.global_conf' : 'global.global_default')) %></label>
        <label class="radio"><%= radio_button_tag 'settings[standard_view]', 'thread-view', @settings.options['standard_view'] == 'thread-view', id: 'settings-standard_view-thread' %> <%= t('users.thread-view') %></label>
        <label class="radio"><%= radio_button_tag 'settings[standard_view]', 'nested-view', @settings.options['standard_view'] == 'nested-view', id: 'settings-standard_view-nested' %> <%= t('users.nested-view') %></label>
      </div>

      <div class="cf-cgroup">
        <label for="settings-sort_threads-default"><%= t('users.settings.standard_thread_sort') %></label>
        <div class="cntrls">
          <label class="radio"><%= radio_button_tag 'settings[sort_threads]', '_DEFAULT_', @settings.options['sort_threads'].blank?, id: 'settings-sort_threads-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('sort_threads')), origin: t(global_conf?('sort_threads') ? 'global.global_conf' : 'global.global_default')) %></label>
          <label class="radio"><%= radio_button_tag 'settings[sort_threads]', 'descending', @settings.options['sort_threads'] == 'descending', id: 'settings-sort_threads-descending' %> <%= t('users.descending') %></label>
          <label class="radio"><%= radio_button_tag 'settings[sort_threads]', 'ascending', @settings.options['sort_threads'] == 'ascending', id: 'settings-sort_threads-ascending' %> <%= t('users.ascending') %></label>
          <label class="radio"><%= radio_button_tag 'settings[sort_threads]', 'newest-first', @settings.options['sort_threads'] == 'newest-first', id: 'settings-sort_threads-newest-first' %> <%= t('users.newest-first') %></label>
        </div>
      </div>

      <% if @forum.blank? %>
        <div class="cf-cgroup">
          <label for="settings-links_white_list"><%= t('users.settings.links_white_list') %></label>
          <%= text_area_tag 'settings[links_white_list]', @settings.options['links_white_list'], id: 'settings-links_white_list' %>
          <label class="checkbox"><%= check_box_tag 'settings[links_white_list]', '_DEFAULT_', @settings.options['links_white_list'].blank?, id: 'settings-links_white_list-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('links_white_list')), origin: t(global_conf?('links_white_list') ? 'global.global_conf' : 'global.global_default')) %></label>
        </div>

        <div class="cf-cgroup">
          <label for="settings-max_image_filesize"><%= t('users.settings.max_image_filesize') %></label>
          <%= number_field_tag 'settings[max_image_filesize]', @settings.options['max_image_filesize'], id: 'settings-max_image_filesize' %>
          <label class="checkbox"><%= check_box_tag 'settings[max_image_filesize]', '_DEFAULT_', @settings.options['max_image_filesize'].blank?, id: 'settings-max_image_filesize-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('max_image_filesize')), origin: t(global_conf?('max_image_filesize') ? 'global.global_conf' : 'global.global_default')) %></label>
        </div>
      <% end %>
