<div class="cf-cgroup">
  <label for="settings-close_vote_votes"><%= t('admin.forums.settings.close_vote_votes') %></label>
  <%= number_field_tag 'settings[close_vote_votes]', @settings.options['close_vote_votes'], id: 'settings-close_vote_votes' %>
  <label class="checkbox"><%= check_box_tag 'settings[close_vote_votes]', '_DEFAULT_', @settings.options['close_vote_votes'].blank?, id: 'settings-close_vote_votes-default' %> <%= t('global.default_value', name: human_val(conf_val_or_default('close_vote_votes')), origin: t(global_conf?('close_vote_votes') ? 'global.global_conf' : 'global.global_default')) %></label>
</div>

<% CloseVote::REASONS.each do |r| %>
  <div class="cf-cgroup">
    <label for="settings-close_vote-<%= r %>"><%= t('admin.forums.settings.close_vote_' + r) %></label>
    <label class="radio"><%= radio_button_tag 'settings[close_vote_action_' + r + ']', 'close', @settings.options['close_vote_action_' + r] == 'close' %> <%= t('admin.forums.settings.close_subtree') %></label>
    <label class="radio"><%= radio_button_tag 'settings[close_vote_action_' + r + ']', 'hide', @settings.options['close_vote_action_' + r] == 'hide' %> <%= t('admin.forums.settings.hide_subtree') %></label>
    <label class="radio"><%= radio_button_tag 'settings[close_vote_action_' + r + ']', '_DEFAULT_', @settings.options['close_vote_action_' + r].blank? %> <%= t('global.default_value', name: human_val(conf_val_or_default('close_vote_action_' + r)), origin: t(global_conf?('close_vote_action_' + r) ? 'global.global_conf' : 'global.global_default')) %></label>
  </div>
<% end %>
