<%
content_for :title, t('admin.settings.global_settings')
content_for :h1, t('admin.settings.global_settings')
%>

<%= form_for @settings, method: 'post', url: admin_settings_path, html: {class: 'cf-form'} do |t| %>

  <fieldset class="tab-pane active" id="settings">
    <legend><%= t('admin.forums.settings_nam') %></legend>
    <%= render 'settings' %>
  </fieldset>

  <fieldset class="tab-pane" id="settings-close-votes">
    <legend><%= t('admin.forums.settings_close_votes') %></legend>
    <%= render 'settings_close_votes' %>
  </fieldset>

  <fieldset class="tab-pane" id="settings-spam-settings">
    <legend><%= t('admin.forums.settings_spam_settings') %></legend>
    <%= render 'settings_spam_settings' %>
  </fieldset>


  <p class="form-actions">
    <%= t.submit t('global.save'), :class => 'cf-primary-btn' %>
  </p>

<% end %>
