<fieldset class="cf-tab-pane active" id="core">
  <legend><%= t('admin.forums.forum_data') %></legend>
  <div class="cf-cgroup">
    <%= f.label :name %>
    <div class="cntrls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="cf-cgroup">
    <%= f.label :short_name %>
    <div class="cntrls">
      <%= f.text_field :short_name %>
    </div>
  </div>

  <div class="cf-cgroup">
    <%= f.label :slug %>
    <div class="cntrls">
      <%= f.text_field :slug %>
    </div>
  </div>

  <div class="cf-cgroup">
    <%= f.label :postition %>
    <div class="cntrls">
      <%= f.number_field :position %>
    </div>
  </div>

  <div class="cf-cgroup">
    <%= f.label :standard_permissions %>
    <div class="cntrls">
      <%= f.select :standard_permission, [
        [t('admin.forums.no_access'), 'private'],
        [t('admin.forums.read'), ForumGroupPermission::ACCESS_READ],
        [t('admin.forums.write'), ForumGroupPermission::ACCESS_WRITE],
        [t('admin.forums.read_after_login'), ForumGroupPermission::ACCESS_KNOWN_READ],
        [t('admin.forums.write_after_login'), ForumGroupPermission::ACCESS_KNOWN_WRITE]
      ] %>
    </div>
  </div>

  <div class="cf-cgroup">
    <%= f.label :keywords %>
    <div class="cntrls">
      <%= f.text_field :keywords %>
    </div>
  </div>

  <div class="cf-cgroup">
    <%= f.label :description %>
    <div class="cntrls">
      <%= f.text_area :description %>
    </div>
  </div>
</fieldset>
