<% if @forum.errors.any? or @settings.errors.any? %>
  <div id="error_explanation" class="cf-error">
    <h4><%= t('admin.forums.error_message',
              count: @forum.errors.count + @settings.errors.count) %></h4>

    <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @settings.errors['options'].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="cf-tab-content">
  <%= render 'form_core', f: f %>
  <%= render 'form_settings', f: f %>
</div>
