<fieldset class="cf-tab-pane active" id="core">
  <legend><%= t('admin.forums.forum_data') %></legend>
  <div class="cf-cgroup">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="cf-cgroup">
    <%= f.label :short_name %>
    <%= f.text_field :short_name %>
  </div>

  <div class="cf-cgroup">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>

  <div class="cf-cgroup">
    <%= f.label :postition %>
    <%= f.number_field :position %>
  </div>

  <div class="cf-cgroup">
    <%= f.label :standard_permissions %>
    <%= f.select :standard_permission, [
      [t('admin.forums.no_access'), 'private'],
      [t('admin.forums.read'), ForumGroupPermission::READ],
      [t('admin.forums.write'), ForumGroupPermission::WRITE],
      [t('admin.forums.read_after_login'), ForumGroupPermission::KNOWN_READ],
      [t('admin.forums.write_after_login'), ForumGroupPermission::KNOWN_WRITE]
    ] %>
  </div>

  <div class="cf-cgroup">
    <%= f.label :keywords %>
    <%= f.text_field :keywords %>
  </div>

  <div class="cf-cgroup">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
</fieldset>
