<%
content_for :title, t('admin.forums.index')
content_for :h1, t('admin.forums.index')
%>

<table class="cf-default-table">
  <thead>
    <tr>
      <th><%= t('global.forum') %></th>
      <th class="nummeric"><%= t('global.threads') %></th>
      <th class="nummeric"><%= t('global.messages') %></th>
      <th><%= t('global.last_change') %></th>
      <th><%= t('global.author') %></th>
      <th><%= t('global.subject') %></th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @forums.each do |forum| %>
      <% msg = @activities[forum.forum_id] %>
      <tr<% if msg and not msg.attribs['classes'].blank? %> class="<%= msg.attribs['classes'].join(" ") %>"<% end %>>
        <td><%= cf_link_to forum.name, edit_admin_forum_path(forum.forum_id), class: 'block' %></td>
        <td class="nummeric"><%= @counts[forum.forum_id][:threads] %></td>
        <td class="nummeric"><%= @counts[forum.forum_id][:messages] %></td>
        <td<% if msg.blank? %> colspan="3" class="no-data"<% end %>>
          <% if msg.blank? %>
            <em>(<%= ("<em>" + t("global.never") + "</em>").html_safe %>)</em>
          <% else %>
            <%= l(msg.updated_at, format: date_format) %>
          <% end %>
        </td>
        <% unless msg.blank? %>
          <td>
            <% if msg.user_id %>
              <%= cf_link_to(image_tag(msg.owner.avatar(:thumb), class: 'avatar'), user_path(msg.owner), title: t('messages.user_link', user: msg.owner.username), class: 'user-link') %>
            <% end %>
            <%= msg.author %>
          </td>
          <td><%= cf_link_to msg.subject, message_path(msg.thread, msg), class: 'block' %></td>
        <% end %>
        <td>
          <%= cf_link_to('', edit_admin_forum_path(forum.forum_id),
                         class: "icon-edit-forum", title: t('admin.forums.edit')) %>
          <%= cf_button_to(admin_forum_path(forum.forum_id),
                           data: {'cf-confirm' => t('global.are_you_sure')},
                           method: :delete, class: 'icon-delete-forum',
                           title: t('admin.forums.delete')) %>
          <%= cf_link_to '', admin_forums_merge_path(forum.forum_id), class: 'icon-merge-forum', title: t('admin.forums.merge') %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
