<%
content_for :title, t('admin.forums.merge', forum: @forum.name)
content_for :h1, t('admin.forums.merge', forum: @forum.name)
forum_opts = @forums.map { |f| [f.name, f.forum_id] }
%>

<%= form_for @forum, url: admin_forums_do_merge_path(@forum.forum_id), method: 'post', html: {class: 'cf-form'} do |f| %>

  <div class="cf-cgroup">
    <%= t('admin.forums.merge_with') %>:
    <%= select_tag :merge_with, options_for_select(forum_opts, @merge_with) %>
  </div>

  <p class="form-actions">
    <%= f.submit t('admin.forums.merge'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), admin_forums_path, class: 'cf-btn' %>
  </p>

<% end %>
