<%= render 'application/errors', object: @group, scope: 'admin.groups' %>

<div class="cf-cgroup">
  <%= t.label :name %>
  <%= t.text_field :name %>
</div>

<div class="cf-cgroup">
  <label>Foren</label>
  <div id="forums-container">
    <% @forums_groups_permissions.each do |gup| %>
      <div class="lbl" data-js="row">
        <select name="forums[]">
          <% @forums.each do |f| %>
            <option value="<%= f.forum_id %>"<% if gup.forum_id == f.forum_id %> selected="selected"<% end %>><%= f.name %></option>
          <% end %>
        </select>

        <select name="permissions[]">
          <option value="read"<% if gup.permission == 'read' %> selected="selected"<% end %>>Lesen</option>
          <option value="write"<% if gup.permission == 'write' %> selected="selected"<% end %>>Schreiben</option>
          <option value="moderate"<% if gup.permission == 'moderate' %> selected="selected"<% end %>>Moderieren</option>
        </select>

        <i class="icon-remove-permission" data-js="delete"> </i>
      </div>
    <% end %>

    <div class="lbl" data-js="row">
      <select name="forums[]">
        <option> </option>

        <% @forums.each do |f| %>
          <option value="<%= f.forum_id %>"><%= f.name %></option>
        <% end %>
      </select>

      <select name="permissions[]">
        <option></option>
        <option value="read">Lesen</option>
        <option value="write">Schreiben</option>
        <option value="moderate">Moderieren</option>
      </select>

      <i class="icon-remove-permission" data-js="delete"> </i>
    </div>

  </div>
</div>

<%= render 'widgets/users_selector', id: 'users', name: 'users[]', desc: t('global.users'), users: @users || [] %>
