<%
content_for :title, t("global.groups")
content_for :h1, t("global.groups")
%>

<table class="cf-default-table">
  <thead>
    <tr>
      <th><%= sortable t('global.group'), :name, :admin_groups_path %></th>
      <th><%= sortable t('admin.groups.members'), :members_cnt, :admin_groups_path %></th>
      <th><%= sortable Group.human_attribute_name(:created_at), :created_at, :admin_groups_path %></th>
      <th><%= sortable Group.human_attribute_name(:updated_at), :updated_at, :admin_groups_path %></th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |g| %>
    <tr>
      <td><%= cf_link_to g.name, edit_admin_group_path(g) %></td>
      <td><%= g.members_cnt %></td>
      <td><%= l(g.created_at, format: date_format) %></td>
      <td><%= l(g.updated_at, format: date_format) %></td>
      <td>
        <%= cf_button_to(admin_group_path(g),
                         method: :delete,
                         data: {'cf-confirm' => t('global.are_you_sure')},
                         class: 'icon-delete-group',
                         title: t('admin.groups.delete_group')) %>
        <%= cf_link_to '', edit_admin_group_path(g), class: 'icon-edit-group', title: t('admin.groups.edit_group') %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @groups, params: { sort: sort_column, dir: sort_direction } %>
