<fieldset>
  <legend><%= t ".meta_information" %></legend>
  <p>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </p>

  <p>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :homepage %>
    <%= f.text_field :homepage %>
    <%= f.hidden_field :user_id %>
  </p>
</fieldset>

<fieldset>
  <legend><%= t ".content" %></legend>
  <%= f.text_area :content %>
</fieldset>

