<fieldset>
  <legend><%= t ".meta_information" %></legend>
  <p>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </p>

  <%
  categories = ConfigManager.setting('categories', [])
  unless categories.blank? %>
    <p>
      <%= f.label :category %>
      <%= f.select :category, categories %>
    </p>
  <% end %>

</fieldset>

<fieldset>
  <legend><%= t ".content" %></legend>
  <%= f.text_area :content %>
</fieldset>

<%= f.fields_for :author, f.object.author do |builder| %>
  <%= render "cf_messages/author_fields", f: builder %>
<% end %>
