<fieldset>
  <legend><%= t "views.meta_information" %></legend>

  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :subject, :placeholder => 'Subject' %></div>
  </div>

  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :author, :placeholder => 'Author' %></div>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls"><%= f.email_field :email, :placeholder => 'e mail' %></div>
  </div>

  <div class="control-group">
    <%= f.label :homepage, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :homepage, :placeholder => 'Homepage' %></div>
  </div>
</fieldset>

<fieldset>
  <legend><%= t "views.content" %></legend>

  <div class="control-group">
    <%= f.text_area :content, :class => 'span5' %>
  </div>
</fieldset>
