<fieldset>
  <div class="cf-cgroup">
    <%= f.label :subject %>
    <div class="cntrls"><%= f.text_field :subject, :placeholder => 'Subject', maxlength: 250 %></div>
  </div>

  <% unless current_user %>
  <div class="cf-cgroup">
    <%= f.label :author %>
    <div class="cntrls"><%= f.text_field :author, :placeholder => 'Author', maxlength: 60 %></div>
  </div>
  <% end %>

  <div class="cf-cgroup">
    <%= f.label :email %>
    <div class="cntrls"><%= f.email_field :email, :placeholder => 'e mail', maxlength: 60 %></div>
  </div>

  <div class="cf-cgroup">
    <%= f.label :homepage %>
    <div class="cntrls"><%= f.text_field :homepage, :placeholder => 'Homepage', maxlength: 250 %></div>
  </div>
</fieldset>

<fieldset>
  <div class="cf-cgroup cf-textarea-only">
    <div class="cntrls">
      <%= f.text_area :content, class: 'big', maxlength: 12288, value: f.object.to_txt %>
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="cf-cgroup">
    <label>Tag-Vorschläge</label>

    <div class="cntrls">
      <ul id="tags-suggestions" class="tags-list"></ul>
    </div>
  </div>

  <div class="cf-cgroup">
    <label>Tags</label>
    <div class="cntrls" id="tags-group">
      <ul id="tags-list" class="tags-list"></ul>
      <input type="text" name="tag_list" value="<%= @tags.join(", ") %>" id="tags-input" class="tags-input"><noscript> <em>Komma-separierte Liste</em></noscript>
    </div>
  </div>
</fieldset>
