<fieldset>
  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :subject, :placeholder => 'Subject', maxlength: 250 %></div>
  </div>

  <% unless current_user %>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :author, :placeholder => 'Author', maxlength: 60 %></div>
  </div>
  <% end %>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls"><%= f.email_field :email, :placeholder => 'e mail', maxlength: 60 %></div>
  </div>

  <div class="control-group">
    <%= f.label :homepage, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :homepage, :placeholder => 'Homepage', maxlength: 250 %></div>
  </div>
</fieldset>

<fieldset>
  <div class="control-group">
    <%= f.text_area :content, :class => 'span5', maxlength: 12288, value: f.object.to_txt %>
  </div>
</fieldset>

<fieldset>
  <div class="control-group">
    <label class="control-label">Tags</label>
    <div class="controls" id="tags-group">
      <ul id="tags-list"></ul>
      <input type="text" name="tag_list" value="<%= @tags.join(", ") %>" id="tags-input"><noscript> <em>Komma-separierte Liste</em></noscript>
    </div>
  </div>
</fieldset>
