  <header>
    <p class="category"><%= message.category %></p>

    <% if first %>
      <h2><%= link_to message.subject, cf_message_path(thread, message) %></h2>
    <% else %>
      <h3><%= link_to message.subject, cf_message_path(thread, message) %></h3>
    <% end %>

    <details>
      <%= t("messages.by") %>
      <%= message.author.user ? link_to(message.author.name, user_path(message.author.user)) : message.author.name %>,
      <time datetime="<%= message.created_at.to_s %>"><%= I18n.l(message.created_at) %></time>
    </details>
  </header>