<% do_parent ||= false %>
  <%= message_header(@thread, m, first: first, do_parent: do_parent, tree: false) %>

  <%= render 'votes_accept', m: m %>

  <div class="posting-content">
    <%= m.to_html(self) %>
  </div>

  <div class="message-links">
    <% if not m.flags['flattr_id'].blank? %>
      <%= t('layout.flattr_author') %>
      <%= link_to "https://flattr.com/submit/auto?user_id=" + CGI.escape(m.flags['flattr_id']) +
      "&url=" + CGI.escape(cf_message_url(@thread, m)) +
      "&title=" + CGI.escape(m.subject) do %>
      <img src="https://flattr.com/_img/icons/flattr_logo_16.png"
           alt=""
           title=""
           width="16"
           height="16">&nbsp;Flattr this!
    <% end %>
    <% end %>

    <p>
      <% if m.open? and @thread.forum.write?(current_user) %>
        <% if may_answer(m) %>
          <%= link_to t("messages.new_answer"), new_cf_message_path(@thread, m, 'quote_old_message' => 'yes'), class: 'cf-btn' %>
          <%= link_to t("messages.new_answer_wo_quote"), new_cf_message_path(@thread, m), class: 'cf-btn' %>
        <% end %>

        <% if may?(RightsHelper::RETAG) %>
          <%= link_to t('messages.retag'), retag_cf_message_path(@thread, m), class: 'cf-btn' %>
        <% end %>

        <% if m.flags['flagged'].blank? %>
          <%= link_to('', flag_cf_message_path(@thread, m),
                      class: 'cf-btn icon-flag-message',
                      title: t('plugins.flag_plugin.flag_message')) %>
        <% elsif current_user and current_user.moderate?(current_forum) %>
          <%= link_to('', unflag_cf_message_path(@thread, m),
                      method: :delete,
                      class: 'cf-btn icon-flag-message active',
                      title: t('plugins.flag_plugin.unflag_message')) %>
        <% end %>

      <% end %>

      <% if check_editable(@thread, m, false) %>
        <%= link_to t('messages.edit_message'), edit_cf_message_path(@thread, m), class: 'cf-btn' %>
      <% end %>

      <% if may?(RightsHelper::CREATE_CLOSE_REOPEN_VOTE) and
        m.flags['no-answer-admin'] != 'yes' %>
        <%
        # allow close vote if
          # - message is not closed
          # - message hasn't got a close vote already
          if m.open? and m.close_vote.blank?
        %>
          <%= link_to(t('messages.close_vote.close_message_button'),
                      close_cf_message_path(@thread, m), class: 'cf-btn') %>
        <% end %>
        <%
        # allow open vote if
          # - message is closed
          # - message hasn't got an open vote already
          if not m.open? and m.open_vote.blank?
        %>
          <%= link_to(t('messages.close_vote.open_message_button'),
                      open_cf_message_path(@thread, m), class: 'cf-btn') %>
        <% end %>
      <% end %>
    </p>

    <% unless m.close_vote.blank? %>
      <%= render 'close_vote', m: m %>
    <% end %>

    <% unless m.open_vote.blank? %>
      <%= render 'open_vote', m: m %>
    <% end %>
  </div>

  <% if m.message_id == @thread.message.message_id and @thread.accepted %>
    <article class="accepted">
      <%= message_header(@thread, @thread.accepted, first: false, do_parent: false, id_prefix: 'accepted-') %>

      <p class="small"><%= t('messages.accepted_answer') %></p>

      <div class="posting-content">
        <%= @thread.accepted.to_html(self) %>
      </div>

      <p>
        <% if not @thread.accepted.flags['flattr_id'].blank? %>
          <%= t('layout.flattr_author') %>
          <%= link_to("https://flattr.com/submit/auto?user_id=" + CGI.escape(@thread.accepted.flags['flattr_id']) +
                      "&url=" + CGI.escape(cf_message_url(@thread, @thread.accepted)) +
                      "&title=" + CGI.escape(@thread.accepted.subject)) do %>
            <img src="https://flattr.com/_img/icons/flattr_logo_16.png"
                 alt=""
                 title=""
                 width="16"
                 height="16">&nbsp;Flattr this!
          <% end %>
        <% end %>
      </p>
    </article>
  <% end %>


  <div class="forum-links">
    <nav>
      <ul>
        <li><%= link_to t('layout.home'), root_path %></li>
        <li><%= link_to t('forums.all_forums'), cf_forum_path(nil) %></li>
        <% if current_forum %>
          <li><%= link_to current_forum.name, cf_threads_path(current_forum) + "#t" + m.thread_id.to_s %></li>
        <% end %>

        <% if current_user.blank? %>
          <li><%= link_to(t('layout.login'), new_user_session_path) %></li>
          <li><%= link_to t("layout.register"), new_user_registration_path %></li>
        <% end %>

        <% if current_user and current_user.moderate?(current_forum) %>
          <% if @view_all %>
            <li><%= link_to t("forums.normal_view"), cf_message_path(@thread, @message, view_all: nil) %></li>
          <% else %>
            <li><%= link_to t("forums.admin_view"), cf_message_path(@thread, @message, view_all: true) %></li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
