  <header<% if @message and @message == message %> class="active"<% end %>>
    <% if first %>
      <h2><%= link_to message.subject, cf_message_path(thread, message) %></h2>
    <% else %>
      <h3><%= link_to message.subject, cf_message_path(thread, message) %></h3>
    <% end %>

    <details open>
      <summary>
        <%= t("messages.by") %>
        <%= message.user_id ? link_to(message.author, users_path + '/' + message.user_id.to_s) : message.author %>,
        <time datetime="<%= message.created_at.to_s %>"><%= I18n.l(message.created_at) %></time>
      </summary>
    </details>
  </header>