<% do_parent ||= false

has_upvote = has_downvote = false
has_upvote = true if @votes and @votes[m.message_id] and @votes[m.message_id].vtype == CfVote::UPVOTE
has_downvote = true if @votes and @votes[m.message_id] and @votes[m.message_id].vtype == CfVote::UPVOTE
%>
  <%= message_header(@thread, m, first: first, do_parent: do_parent, tree: false) %>

  <div class="posting-content">
    <%= m.to_html %>
  </div>

  <% if not m.flags['flattr_id'].blank? %>
    <%= link_to "https://flattr.com/submit/auto?user_id=" + CGI.escape(m.flags['flattr_id']) +
    "&url=" + CGI.escape(cf_message_url(@thread, m)) +
    "&title=" + CGI.escape(m.subject) do %>
    <img src="https://flattr.com/_img/icons/flattr_logo_16.png"
         alt=""
         title=""
         width="16"
         height="16">&nbsp;Flattr this!
    <% end %>
  <% end %>

  <% if m.open? and @thread.forum.write?(current_user) %>
  <%= form_tag vote_cf_message_path(@thread, m), :method => :post, class: 'form-inline' do %>
    <p>
      <%= link_to t("messages.new_answer"), new_cf_message_path(@thread, m, 'quote_old_message' => 'yes'), class: 'cf-btn' %>
      <%= link_to t("messages.new_answer_wo_quote"), new_cf_message_path(@thread, m), class: 'cf-btn' %>

      <% if not @thread.acceptance_forbidden?(current_user, cookies[:cforum_user]) and not @thread.message.message_id == m.message_id %>
      <%= link_to m.flags['accepted'] == 'yes' ? t('messages.unaccept_answer') : t('messages.accept_answer'), accept_cf_message_path(@thread, m), method: 'post', class: 'cf-btn' %>
      <% end %>

      <% if check_editable(@thread, m) %>
        <%= link_to t('messages.edit_message'), edit_cf_message_path(@thread, m), class: 'cf-btn' %>
      <% end %>

      <% unless current_user.blank? %>
      <button name="type" value="up" title="<%= t(has_upvote ? 'messages.unvote' : 'messages.vote_up') %>" class="cf-btn"><i class="vote icon-vote-up<% if has_upvote %> active<% end %>"> </i></button>
      <button name="type" value="down" title="<%= t(has_downvote ? 'messages.unvote' : 'messages.vote_down') %>" class="cf-btn"><i class="vote icon-vote-down<% if has_downvote %> active<% end %>"> </i></button>
      <% end %>
    </p>
  <% end
  end %>

  <% if may?(RightsHelper::RIGHT_TO_CREATE_CLOSE_REOPEN_VOTES) and
    m.flags['no-answer-admin'] != 'yes' %>
    <p>
      <%
      # allow close vote if
      # - message is not closed
      # - message hasn't got a close vote already
      if @message.open? and @message.close_vote.blank?
      %>
        <%= link_to(t('messages.close_vote.close_message_button'),
                    close_cf_message_path(@thread, @message), class: 'cf-btn') %>
      <% end %>
      <%
      # allow open vote if
      # - user has the rights to do so
      # - message is closed
      # - message hasn't got an open vote already
      if not @message.open? and @message.open_vote.blank?
      %>
        <%= link_to(t('messages.close_vote.open_message_button'),
                    open_cf_message_path(@thread, @message), class: 'cf-btn') %>
      <% end %>
    </p>
  <% end %>

  <% if m.message_id == @thread.message.message_id and @thread.accepted %>
    <article class="accepted">
      <%= message_header(@thread, @thread.accepted, first: false, do_parent: false) %>

      <div class="posting-content">
        <%= @thread.accepted.to_html %>
      </div>

      <p class="small"><%= t('messages.accepted_answer') %></p>

      <p>
        <% if not @thread.accepted.flags['flattr_id'].blank? %>
          <%= link_to "https://flattr.com/submit/auto?user_id=" + CGI.escape(@thread.accepted.flags['flattr_id']) +
          "&url=" + CGI.escape(cf_message_url(@thread, @thread.accepted)) +
          "&title=" + CGI.escape(@thread.accepted.subject) do %>
          <img src="https://flattr.com/_img/icons/flattr_logo_16.png"
               alt=""
               title=""
               width="16"
               height="16">&nbsp;Flattr this!
          <% end %>
        <% end %>
      </p>

      </p>
    </article>
  <% end %>

  <% unless @message.close_vote.blank? %>
    <%= render 'close_vote' %>
  <% end %>

  <% unless @message.open_vote.blank? %>
    <%= render 'open_vote' %>
  <% end %>
