<%= form_for @message, :url => cf_message_path(@thread, @parent), html: {:class => 'form-horizontal'} do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h4><%= pluralize(@message.errors.count, "error") %> prohibited this thread from being saved:</h4>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form", f: f %>

  <p>
    <%= f.submit %>
  </p>
<% end %>