<%
@page_type = "page"
content_for :title, t('messages.write_new_answer')
content_for :h1, "<h1>".html_safe + t('messages.write_new_answer') + "</h1>".html_safe
%>

<h2><%= t('messages.new_answer_to', name: @parent.author) %></h2>

<article class="thread-message">
  <% if @parent and not @preview %>
    <%= message_header(@thread, @parent) %>

    <div class="posting-content">
      <%= @parent.to_html(self) %>
    </div>

  <% elsif @preview %>
    <%= message_header(@thread, @message) %>

    <div class="posting-content">
      <%= @message.to_html(self) %>
    </div>
  <% end %>
</article>

<%= form_for @message, :url => cf_message_path(@thread, @parent), html: {:class => 'form-horizontal'} do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation" class="cf-error">
      <h4><%= t('messages.error_message', :errors_count => pluralize(@message.errors.count, t("global.error"), t('global.errors'))) %></h4>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form", f: f %>

  <p>
    <%= f.submit t('messages.preview'), :class => 'cf-btn', name: 'preview' %>
    <%= f.submit t('global.save'), :class => 'cf-primary-btn' %>
    <%= link_to t('global.cancel'), @parent ? cf_message_path(@thread, @parent) : cf_forum_path(current_forum), :class => 'cf-btn' %>
  </p>
<% end %>

