<% render 'message_header' %><article class="message">

<% if @parent and not @preview %>
  <%= message_header(@thread, @parent) %>

  <div class="posting-content well">
    <%= @parent.to_html %>
  </div>

<% elsif @preview %>
  <%= message_header(@thread, @message) %>

  <div class="posting-content well">
    <%= @message.to_html %>
  </div>
<% end %>

<%= form_for @message, :url => cf_message_path(@thread, @parent), html: {:class => 'form-horizontal'} do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h4><%= t('messages.error_message', :errors_count => pluralize(@message.errors.count, t("global.error"), t('global.errors'))) %></h4>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form", f: f %>

  <p>
    <%= f.submit t('global.save'), :class => 'btn btn-primary' %>
    <%= f.submit t('messages.preview'), :class => 'btn', name: 'preview' %>
    <%= link_to t('global.cancel'), @parent ? cf_message_path(@thread, @parent) : cf_forum_path(current_forum), :class => 'btn' %>
  </p>
<% end %>

</article>
