<%
@page_type = 'page'
content_for(:title, @message.subject + " " + I18n.t('messages.by') + " " +
            @message.author + ", " + I18n.l(@message.created_at,
                                            format: date_format('date_format_post')))
content_for(:body_id, "message")
content_for(:h1) do
%>
<h1><span class="author" id="posting-author"><%= @message.author %>:</span><br>
  <span class="title" id="posting-title"><%= @message.subject %></span></h1>
<% end %>

<h2><%= t("layout.read_message") %></h2>

<article class="thread-message">
  <%= render 'message', m: @message, first: true, do_parent: true %>
</article>

<article class="thread posting root">
  <%= message_header(@thread, @thread.message, first: true, show_icons: true) %>

  <% if not @thread.message.messages.blank? %>
    <%= message_tree(@thread, @thread.message.messages, show_icons: true,
                     hide_repeating_subjects: uconf('hide_subjects_unchanged', 'yes') == 'yes') %>
  <% end %>
</article>
