<p><%= t('devise.passwords.hello') %> <%= @resource.email %>!</p>

<p><%= t('devise.passwords.change_password_below') %></p>

<p><%= link_to t('devise.passwords.change'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('devise.passwords.ignore_if_unwanted') %></p>
<p><%= t('devise.passwords.password_wont_change') %></p>
