<%= render 'application/errors', object: @user, scope: 'admin.users' %>

<div class="cf-cgroup">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>

<div class="cf-cgroup">
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>

<div class="cf-cgroup">
  <%= f.label :admin do %>
    <%= f.check_box :admin %> <%= User.human_attribute_name(:admin) %>
  <% end %>
</div>

<div class="cf-cgroup">
  <%= f.label :active do %>
    <%= f.check_box :active %> <%= User.human_attribute_name(:active) %>
  <% end %>
</div>


<div class="cf-cgroup">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="cf-cgroup">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>

<div class="form-actions">
  <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
  <%= cf_link_to t('global.cancel'), admin_users_path, class: 'cf-btn' %>
  <%= cf_link_to(t("mails.new_mail"), new_mail_path(priv_message: {recipient_id: @user.user_id}),
                 class: 'cf-btn', rel: 'nofollow') %>
</div>
