<%
content_for :title, t('admin.users.user_administration')
content_for :h1, t('admin.users.user_administration')
%>

<%= form_tag admin_users_path, method: :get, class: 'form-search' do |t| %>
  <input type="search" class="cf-search-query" name="s" placeholder="<%= t('global.search') %>" value="<%= @search_term %>">
<% end %>

<table class="cf-default-table">
  <thead>
    <tr>
      <th><%= sortable User.human_attribute_name(:username), :username, :admin_users_path %></th>
      <th><%= sortable User.human_attribute_name(:email), :email, :admin_users_path %></th>
      <th><%= sortable User.human_attribute_name(:admin), :admin, :admin_users_path %></th>
      <th><%= sortable User.human_attribute_name(:active), :active, :admin_users_path %></th>
      <th><%= sortable User.human_attribute_name(:created_at), :created_at, :admin_users_path %></th>
      <th><%= sortable User.human_attribute_name(:updated_at), :updated_at, :admin_users_path %></th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= cf_link_to user.username, edit_admin_user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= user.admin ? t('global.yeah') : t('global.nope') %></td>
      <td><%= user.active ? t('global.yeah') : t('global.nope') %></td>
      <td><%= l(user.created_at, format: date_format) %></td>
      <td><%= l(user.updated_at, format: date_format) %></td>
      <td>
        <%= cf_button_to(admin_user_path(user),
                         data: {'cf-confirm' => t('global.are_you_sure')},
                         method: :delete, class: 'icon-delete-user',
                         title: t('admin.users.delete_user')) %>
        <%= cf_link_to '', edit_admin_user_path(user), class: "icon-edit-user", title: t('admin.users.do_edit_user') %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, params: { sort: sort_column, dir: sort_direction } %>
