<h1>Recht editieren: <%= @permission.forum.name %> für <%= @permission.user.username %></h1>

<%= form_for @permission, url: admin_forum_permission_path(@permission.forum.forum_id, @permission), html: {:class => 'form-horizontal'} do |f| %>

<%= render 'form', f: f %>

<p class="form-actions">
  <%= f.submit t('views.save'), :class => 'btn btn-primary' %>
  <%= link_to t('views.cancel'), admin_forum_permissions_path(@cf_forum.forum_id), :class => 'btn' %>
</p>

<% end %>
