<h1>Neues Zugriffsrecht</h1>

<%= form_for @permission, url: admin_forum_permissions_path(@cf_forum.forum_id), html: {:class => 'form-horizontal'} do |f| %>

<!-- todo: create a users selector -->
<div class="control-group">
  <label class="control-label" for="username">Benutzer</label>
  <div class="controls">
    <input type="text" name="username" id="username" value="<%= @permission.user ? @permission.user.username : '' %>">
  </div>
</div>

<%= render 'form', f: f %>

<p class="form-actions">
  <%= f.submit t('views.save'), :class => 'btn btn-primary' %>
  <%= link_to t('views.cancel'), admin_forum_permissions_path(@cf_forum.forum_id), :class => 'btn' %>
</p>

<% end %>
