<div class="cf-cgroup">
  <label for="settings-close_vote_votes"><%= t('admin.forums.settings.close_vote_votes') %></label>
  <div class="cntrls">
    <%= number_field_tag 'settings[close_vote_votes]', @settings.options['close_vote_votes'], id: 'settings-close_vote_votes' %>
  </div>
</div>

<% CfCloseVote::REASONS.each do |r| %>
<div class="cf-cgroup">
  <label for="settings-close_vote-<%= r %>"><%= t('admin.forums.settings.close_vote_' + r) %></label>
  <div class="cntrls">
    <label class="radio"><%= radio_button_tag 'settings[close_vote_action_' + r + ']', 'close', @settings.conf('close_vote_action_' + r, 'close') == 'close' %> <%= t('admin.forums.settings.close_subtree') %></label>
    <label class="radio"><%= radio_button_tag 'settings[close_vote_action_' + r + ']', 'hide', @settings.conf('close_vote_action_' + r, 'close') == 'hide' %> <%= t('admin.forums.settings.hide_subtree') %></label>
  </div>
</div>
  
<% end %>
