<%
content_for :title, t('admin.settings.global_settings')
%><h1><%= t('admin.settings.global_settings') %></h1>

<ul class="nav nav-tabs">
  <li class="active"><a href="#settings" data-toggle="tab"><%= t('admin.forums.settings_nam') %></a></li>
</ul>

<%= form_for @settings, method: 'post', url: admin_cf_settings_path, html: {:class => 'form-horizontal'} do |t| %>

  <div class="tab-content">
    <fieldset class="tab-pane active" id="settings">
      <%= render 'settings' %>
    </fieldset>

  </div>

  <p class="form-actions">
    <%= t.submit t('global.save'), :class => 'btn btn-primary' %>
  </p>

<% end %>
