<%
content_for :title, t('admin.settings.global_settings')
%><h1><%= t('admin.settings.global_settings') %></h1>

<%= form_for @settings, method: 'post', url: admin_cf_settings_path, html: {:class => 'form-horizontal'} do |t| %>
  <div class="control-group">
    <label class="control-label" for="settings-pagination"><%= t('admin.forums.settings.items_per_page') %></label>
    <div class="controls">
      <%= text_field_tag 'settings[pagination]', @settings.options['pagination'], :id => 'settings-pagination' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings-pagination-users"><%= t('admin.forums.settings.users_per_page') %></label>
    <div class="controls">
      <%= text_field_tag 'settings[pagination_users]', @settings.options['pagination_users'], :id => 'settings-pagination-users' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings-use_archive"><%= t('admin.forums.settings.use_archive') %></label>
    <div class="controls">
      <input type="hidden" name="settings[use_archive]" value="no">
      <%= check_box_tag 'settings[use_archive]', 'yes', @settings.options['use_archive'] == 'yes', :id => 'settings-use_archive' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings-max_threads"><%= t('admin.forums.settings.max_threads') %></label>
    <div class="controls">
      <input type="hidden" name="settings[max_threads]" value="no">
      <%= text_field_tag 'settings[max_threads]', @settings.options['max_threads'], :id => 'settings-max_threads' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="settings-max_messages_per_thread"><%= t('admin.forums.settings.max_messages_per_thread') %></label>
    <div class="controls">
      <input type="hidden" name="settings[max_messages_per_thread]" value="no">
      <%= text_field_tag 'settings[max_messages_per_thread]', @settings.options['max_messages_per_thread'], :id => 'settings-max_messages_per_thread' %>
    </div>
  </div>

  <p class="form-actions">
    <%= t.submit t('global.save'), :class => 'btn btn-primary' %>
  </p>

<% end %>

