<header>
  <nav>
    <div id="top">
      <ul class="selflinks">
        <li><a href="http://selfhtml.org/">SELFHTML</a></li>
        <li><a href="http://wiki.selfhtml.org/">Doku</a></li>
	      <li><%= link_to "Forum", root_path %></li>
	      <li><a href="http://blog.selfhtml.org/">Blog</a></li>
      </ul>
      <ul class="personallinks">
      <% if user_signed_in? %>
        <li id="user-info"><%= link_to(image_tag(current_user.avatar(:thumb)) + current_user.username,
                                       user_path(current_user),
                                       id: 'username',
                                       title: t("users.score_num", num: current_user.score)) %>
          <span class="score" title="<%= t("users.score_num", num: current_user.score) %>">(<%= current_user.score %>)</span>
        </li>
        <li id="optionen-myadmin"><%= link_to t("layout.settings"), edit_user_path(current_user) %></li>
        <li id="user-notifications"><%= link_to(t("notifications.notifications"),
                                                notifications_path,
                                                title: t("notifications.new_notifications", num: @new_notifications.length)) %>
          (<span class="notifications<% if @new_notifications.length > 0 %> new<% end %>"
                 id="notifications-display"
                 title="<%= t("notifications.new_notifications", num: @new_notifications.length) %>"><%= @new_notifications.length %></span>)
        </li>
        <li id="post-link"><%= link_to(t("layout.mail"),
                                       mails_path,
                                       title: t("mails.new_mails_num", num: @new_mails.length)) %>
          (<span class="mails new" id="mails"
                 title="<%= t("mails.new_mails_num", num: @new_mails.length) %>"><%= @new_mails.length %></span>)</li>
        <li id="optionen-logout"><%= link_to(t('layout.logout'), destroy_user_session_path, method: :delete) %></li>
      <% else %>
        <li id="optionen-my"><%= link_to(t('layout.login'), new_user_session_path) %></li>
        <li id="optionen-myadmin"><%= link_to t("layout.register"), new_user_registration_path %></li>
      <% end %>
      </ul>
    </div>

	  <div id="kopf">
      <h1><span>selfhtml-Forum - Ergänzung zur <a href="http://wiki.selfhtml.org">Dokumentation</a></span><img src="http://src.selfhtml.org/selfhtml_forum.png" alt="SELFHTML-Forum"></h1>
		  <ul class="sociallinks">
        <li><%= link_to(cf_forum_url(current_forum, format: :rss),
                        class: 'rss',
                        title: t("layout.rss_feed",
                                 forum: current_forum ?
                                 t('layout.forum', name: current_forum.name) :
                                 t('layout.all_forums'))) do %><span class="alt">RSS</span>
          <img src="http://src.selfhtml.org/social.png" alt="RSS"><% end %></li>
        <li><%= link_to(cf_forum_url(current_forum, format: :atom),
                        class: 'atom',
                        title: t("layout.atom_feed",
                                 forum: current_forum ?
                                 t('layout.forum', name: current_forum.name) :
                                 t('layout.all_forums'))) do %><span class="alt">Atom</span>
          <img src="http://src.selfhtml.org/social.png" alt="Atom"><% end %></li>
			  <li><a href="https://github.com/selfhtml" class="github" title="GitHub">
          <span class="alt">GitHub</span>
          <img src="http://src.selfhtml.org/social.png" alt="GitHub"></a></li>
			  <li><a href="https://twitter.com/selfhtml" class="twitter" title="Twitter">
          <span class="alt">Twitter</span>
          <img src="http://src.selfhtml.org/social.png" alt="Twitter"></a></li>
			  <li><a href="https://flattr.com/thing/41584/SELFHTML" class="flattr" title="Flattr">
          <span class="alt">Flattr</span>
          <img src="http://src.selfhtml.org/social.png" alt="Flattr"></a></li>
			  <li><a href="https://trello.com/selfhtml" class="trello" title="Trello">
          <span class="alt">Trello</span>
          <img src="http://src.selfhtml.org/social.png" alt="Trello"></a></li>
			  <li><a href="http://selfhtml.org/spenden.html" class="donate" title="spenden">
          <span class="alt">Spendenseite</span>
          <img src="http://src.selfhtml.org/social.png" alt="Spendenseite"></a></li>
		  </ul>

      <% if content_for?(:div_kopf) %><%= content_for(:div_kopf) %><% end %>
    </div>
  </nav>
</header>
