<%
subnav = capture do
  begin %>
<%= render 'subnav' %><% @has_subnav = true
  rescue ActionView::MissingTemplate
    @has_subnav = false
  end
end

if @page_type == 'page'
  content_for(:div_kopf) do %>
<div id="side-menu">
  <% if @has_subnav and not subnav.blank? %>
    <%= subnav %>
  <% end %>

  <ul>
    <% if current_forum %>
      <li><%= link_to current_forum.name, cf_threads_path(current_forum) %></li>
    <% end %>

    <% if current_user and current_user.moderate?(current_forum) %>
      <%
      path = nil
      if @message.blank?
        path = cf_threads_path(current_forum, view_all: @view_all ? nil : "yes")
      else
        path = cf_message_path(@thread, @message, view_all: @view_all ? nil : "yes")
      end
      %>
      <% if @view_all %>
        <li id="admin-view"><%= link_to t("forums.normal_view"), path %></li>
      <% else %>
        <li id="admin-view"><%= link_to t("forums.admin_view"), path %></li>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <li id="post-link"><%= link_to t("layout.mail"), mails_path %></li>
      <li id="optionen-myadmin"><div>(<%= link_to notifications_path do %><span class="notifications<% if @new_notifications.length > 0 %> new<% end %>"><%= @new_notifications.length %></span><% end %>/<%= link_to user_path(current_user) do %><span class="score"><%= current_user.score %></span><% end %>) <%= link_to(current_user.username, edit_user_path(current_user)) %></div></li>
      <li id="optionen-logout"><%= link_to(t('layout.logout'), destroy_user_session_path, method: :delete) %></li>
    <% else %>
      <li id="optionen-my"><%= link_to(t('layout.login'), new_user_session_path) %></li>
      <li id="optionen-myadmin"><%= link_to t("layout.register"), new_user_registration_path %></li>
    <% end %>
  </ul>
</div>

<% if content_for?(:h1) %><%= content_for(:h1) %><% end %>
<% end
end %>


