<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title_infos %><% if content_for?(:title) %><%= yield(:title) %> - <% end %><%= t "layout.title" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag Rails.application.config.faye_url + ".js" %>

    <link rel="alternate" title="Atom Feed" type="application/atom+xml" href="<%= cf_forum_url(current_forum || 'all') %>.atom">
    <link rel="alternate" title="RSS Feed" type="application/rss+xml" href="<%= cf_forum_url(current_forum || 'all') %>.rss">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= yield(:head) %>

    <% if @link_tags %><%= @link_tags %><% end %>

    <% if @own_css_file %><link href="<%= @own_css_file %>" rel="stylesheet" media="all"><% end %>
    <% if @own_js_file %><script src="<%= @own_js_file %>"></script><% end %>

    <% if @own_css %><style>
    <%= @own_css %>
    </style><% end %>

    <% if @own_js %><style>
    <%= @own_js %>
    </style><% end %>

    <script>
      <% if current_user %>cforum.currentUser = <%= current_user.to_json.html_safe %>;<% end %>
      cforum.baseUrl = <%= root_url.to_json.html_safe %>;
      <% if current_forum %>cforum.currentForum = <%= current_forum.to_json.html_safe %>;<% end %>
      <% if @max_tags %>cforum.maxTags = <%= @max_tags %>;<% end %>
    </script>
  </head>

  <body data-controller="<%= controller_path %>" data-action="<%= action_name %>"<%= " id='#{yield(:body_id)}'" if content_for? :body_id %>>

    <div class="top-bar">
      <div class="inner-top-bar">

        <%= render 'layouts/navigation' %>

      </div>
    </div>

    <div class="cf-max-width-fluid">
      <div class="cf-row-fluid">
        <%= render 'layouts/sidebar' %>

        <% if @has_subnav %><div class="cf-span10"><% end %>

        <div id="alerts-container">
        <% flash.each do |name,msg|
          next if not msg.is_a?(String) or name == :timedout # needed because there seem to be messages like „true“ %>
          <div class="cf-<%= name == :notice ? "success" : "error" %> fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= msg %>
          </div>
        <% end %>
        </div>

        <%= yield %>

        <% if @has_subnav %></div><% end %>
      </div>
    </div>

  </body>
</html>
