<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cforum Threadlist</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <h1><%= link_to "cforum Forum", root_path %></h1>
      <p><%= t "welcome_message" %></p>
    </header>

    <div id="main">
      <%= yield %>
    </div>

    <nav id="navigation">
      <ul>
        <li><a href=""><%= t "new_thread" %></a></li>
        <li><a href=""><%= t "register" %></a></li>
      </ul>
    </nav>

  </body>
</html>
