<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= t ".title" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= yield(:head) %>
  </head>

  <body>
    <header>
      <h1><%= link_to t(".forum_name"), root_path %></h1>
      <p><%= t ".welcome_message" %></p>
    </header>

    <div id="main">
      <%= yield %>
    </div>

    <nav id="navigation">
      <ul>
        <li><%= link_to t(".new_thread"), new_thread_path %></li>
        <li><%= link_to t(".register"), root_path %></li>
      </ul>
    </nav>

  </body>
</html>
