<%
subnav = capture do
  begin %>
<%= render 'subnav' %><% @has_subnav = true
  rescue ActionView::MissingTemplate
    @has_subnav = false
  end
end
%><!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <% if content_for?(:robots) %>
      <meta name="robots" content="<%= content_for(:robots) %>">
    <% end %>

    <meta name="description" content="<% if current_forum and not current_forum.description.blank? %><%= current_forum.description %><% else %><%= t('layout.description') %><% end %>">
    <meta name="keywords" content="<% if current_forum and not current_forum.description.blank? %><%= current_forum.keywords %><% else %><%= t('layout.keywords') %><% end %>">

    <meta name="DC.Publisher" content="<%= t('layout.publisher') %>">
    <meta name="DC.Identifier" content="<%= controller_path %>">
    <meta name="DC.Language" content="de">
    <% if content_for?(:rights) %><meta name="DC.Rights" content="<%= content_for(:rights) %>"><% end %>
    <meta name="SELF.Pagetype" content="<%= @page_type %>">

    <meta name="application-name" content="SELFHTML | F">
    <meta name="msapplication-TileImage" content="http://src.selfhtml.org/logo/s-Logo_kachel_144.png">
    <meta name="msapplication-TileColor" content="#3983ab">

    <% if controller_path == 'cf_threads' and uconf('autorefresh').to_i > 0 %>
      <meta http-equiv="refresh" content="<%= uconf('autorefresh').to_i * 60 %>; URL=<%= cf_forum_url(current_forum) %>">
    <% end %>

    <link rel="shortcut icon" href="http://src.selfhtml.org/favicon2.ico" type="image/x-icon" title="<%= t("layout.icon") %>">

    <link rel="apple-touch-icon" href="http://src.selfhtml.org/logo/s-Logo_60.png">
    <link rel="apple-touch-icon-precomposed" href="http://src.selfhtml.org/logo/s-Logo_144_r.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://src.selfhtml.org/logo/s-Logo_76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://src.selfhtml.org/logo/s-Logo_120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://src.selfhtml.org/logo/s-Logo_152.png">

    <link rel="help" href="/hilfe/" title="<%= t('layout.help') %>">
    <link rel="search" href="<%= search_url %>" title="<%= t('layout.selfhtml_search') %>">
    <% if @link_tags %><%= @link_tags %><% end %>

    <%= stylesheet_link_tag "application", :media => "all", title: "SELFHTML Forum Stylesheet" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <link rel="alternate" title="Atom Feed" type="application/atom+xml" href="<%= cf_forum_url(current_forum, format: :atom) %>">
    <link rel="alternate" title="RSS Feed" type="application/rss+xml" href="<%= cf_forum_url(current_forum, format: :rss) %>">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= yield(:head) %>

    <% if @css_style %><link href="<%= @css_style %>" rel="stylesheet" media="all"><% end %>
    <% if @own_css_file %><link href="<%= @own_css_file %>" rel="stylesheet" media="all" title="SELFHTML Forum Stylesheet"><% end %>
    <% if @own_js_file %><script src="<%= @own_js_file %>"></script><% end %>

    <% if @own_css %><style>
    <%= @own_css.html_safe %>
    </style><% end %>

    <% if @own_js %><script>
    <%= @own_js.html_safe %>
    </script><% end %>

    <script>
      <% if current_user %>
      cforum.currentUser = <%= current_user.to_json(include: [:badges, settings: {only: :options}]).html_safe %>;
      cforum.websocketToken = <%= current_user.websocket_token.to_json.html_safe %>;
      <% end %>
      cforum.baseUrl = <%= root_url.to_json.html_safe %>;
      cforum.basePath = <%= root_path.to_json.html_safe %>;
      <% if current_forum %>cforum.currentForum = <%= current_forum.to_json.html_safe %>;<% end %>
      <% if @max_tags %>cforum.tags.maxTags = <%= @max_tags %>;<% end %>

      cforum.l10n = <%= I18n.t('js.messages').to_json.html_safe %>;
      cforum.locale = <%== I18n.locale.to_json %>;
      cforum.forums = <%== @forums.to_json %>;
    </script>

    <title><%= @title_infos %> <% if current_forum %><%= current_forum.short_name %> -<% else %><% if controller_path == 'cf_threads' %> <%= t('layout.all_forums') %> -<% end %><% end %> <% if content_for?(:title) %><%= yield(:title) %> - <% end %><%= t "layout.title" %></title>

    <script src="http://src.selfhtml.org/cforum/temp.js"></script>

    <% unless conf('css_ressource').blank? %><link rel="stylesheet" href="<%= conf('css_ressource') %>" title="SELFHTML Forum Stylesheet"><% end %>
    <% unless conf('js_ressource').blank? %><script src="<%= conf('js_ressource') %>"></script><% end %>
  </head>

  <body data-controller="<%= controller_path %>" data-action="<%= action_name %>"<% if content_for?(:body_id) %> id="<%= yield(:body_id) %>"<% end %><% if content_for?(:body_classes) %> class="<%= yield(:body_classes) %>"<% end %>>
    <div class="flex-container">
      <main class="flex-item">
        <div id="alerts-container">
          <% flash.each do |name,msg|
          next if not msg.is_a?(String) or name == :timedout # needed because there seem to be messages like „true“ %>
            <div class="cf-<%= name.to_s == 'notice' ? "success" : "error" %> cf-alert fade in">
              <button type="button" class="close" data-dismiss="cf-alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

              <%= msg %>
            </div>
          <% end %>
        </div>


        <% if content_for?(:h1) %><h1><%= content_for(:h1) %></h1><% end %>

        <div id="content">
          <%= yield %>
        </div>
      </main>

      <header class="flex-item">
        <div id="top">
          <ul class="selflinks">
            <li><%= cf_link_to "SELFHTML", "http://selfhtml.org/" %></li>
            <li><%= cf_link_to "Doku", "http://wiki.selfhtml.org/" %></li>
	          <li><%= cf_link_to "Forum", root_path %></li>
	          <li><%= cf_link_to "Blog", "http://blog.selfhtml.org/" %></li>
          </ul>

          <% if controller_path != "cf_search" %>
            <%= form_tag search_path + '#results', method: 'get', rel: 'nofollow', id: 'search' do %>
              <p><label for="topterm"><%= t('search.search_top') %></label>
                <%= search_field_tag 'term', params[:term], placeholder: t('search.search_top'), id: 'topterm' %></p>
            <% end %>
          <% end %>
        </div>

        <ul class="personallinks">
          <% if user_signed_in? %>
            <li id="user-info"><%= cf_link_to(image_tag(current_user.avatar(:thumb)) + current_user.username,
                                           user_path(current_user),
                                           id: 'username',
                                           title: t("users.score_num", num: current_user.score)) %>
              <span class="score" title="<%= t("users.score_num", num: current_user.score) %>">(<%= number_with_delimiter(current_user.score) %>)</span>
            </li>
            <li id="optionen-myadmin"><%= cf_link_to t("layout.settings"), edit_user_path(current_user) %></li>
            <li id="user-notifications"><%= cf_link_to(t("notifications.notifications"),
                                                    notifications_path,
                                                    title: t("notifications.new_notifications",
                                                             count: @new_notifications.length)) %>
              (<span class="notifications<% if @new_notifications.length > 0 %> new<% end %>"
                     id="notifications-display"
                     title="<%= t("notifications.new_notifications",
                                  count: @new_notifications.length) %>"><%= @new_notifications.length %></span>)
            </li>
            <li id="post-link"><%= cf_link_to(t("layout.mail"),
                                           mails_path,
                                           title: t("mails.new_mails_num",
                                                    count: @new_mails.length)) %>
              (<span class="mails new" id="mails"
                     title="<%= t("mails.new_mails_num",
                                  count: @new_mails.length) %>"><%= @new_mails.length %></span>)</li>
            <li id="optionen-logout"><%= cf_link_to(t('layout.logout'), destroy_user_session_path, method: :delete) %></li>
          <% else %>
            <li id="optionen-my"><%= cf_link_to(t('layout.login'), new_user_session_path, rel: 'nofollow') %></li>
            <li id="optionen-myadmin"><%= cf_link_to(t("layout.register"), new_user_registration_path, rel: 'nofollow') %></li>
          <% end %>
        </ul>

        <div id="kopf">
          <h1><span>selfhtml-Forum - Ergänzung zur <%= cf_link_to "Dokumentation", "http://wiki.selfhtml.org" %></span><%= cf_link_to root_path do %><img src="http://src.selfhtml.org/selfhtml_forum.png" alt="SELFHTML-Forum"><% end %></h1>
		      <ul class="sociallinks">
            <li><%= cf_link_to(cf_forum_url(current_forum, format: :rss),
                            class: 'rss',
                            title: t("layout.rss_feed",
                                     forum: current_forum ?
                                     t('layout.forum', name: current_forum.name) :
                                     t('layout.all_forums'))) do %><span class="alt">RSS</span>
              <img src="http://src.selfhtml.org/social.png" alt="RSS"><% end %></li>
              <li><%= cf_link_to(cf_forum_url(current_forum, format: :atom),
                              class: 'atom',
                              title: t("layout.atom_feed",
                                       forum: current_forum ?
                                       t('layout.forum', name: current_forum.name) :
                                       t('layout.all_forums'))) do %><span class="alt">Atom</span>
                <img src="http://src.selfhtml.org/social.png" alt="Atom"><% end %></li>
			          <li><%= cf_link_to "https://github.com/selfhtml", class: "github", title: "GitHub" do %>
                  <span class="alt">GitHub</span>
                  <img src="http://src.selfhtml.org/social.png" alt="GitHub"><% end %></li>
			          <li><%= cf_link_to "https://twitter.com/selfhtml", class: "twitter", title: "Twitter" do %>
                  <span class="alt">Twitter</span>
                  <img src="http://src.selfhtml.org/social.png" alt="Twitter"><% end %></li>
			          <li><%= cf_link_to "https://flattr.com/thing/41584/SELFHTML", class: "flattr", title: "Flattr" do %>
                  <span class="alt">Flattr</span>
                  <img src="http://src.selfhtml.org/social.png" alt="Flattr"><% end %></li>
			          <li><%= cf_link_to "https://trello.com/selfhtml", class: "trello", title: "Trello" do %>
                  <span class="alt">Trello</span>
                  <img src="http://src.selfhtml.org/social.png" alt="Trello"><% end %></li>
			          <li><%= cf_link_to "http://selfhtml.org/spenden.html", class: "donate", title: "spenden" do %>
                  <span class="alt">Spendenseite</span>
                  <img src="http://src.selfhtml.org/social.png" alt="Spendenseite"><% end %></li>
		      </ul>
        </div>
      </header>

      <nav class="flex-item">
        <% if @has_subnav and not subnav.blank? %>
          <%= subnav %>
        <% end %>

        <ul>
		      <li id="link-neuenachricht"><%= cf_link_to t('threads.write_new_thread'), new_cf_thread_path(current_forum) %></li>

          <li><%= cf_link_to t('layout.home'), root_url %></li>
          <% if current_forum %>
            <li><%= cf_link_to current_forum.name, cf_threads_path(current_forum) %></li>
          <% end %>

          <li><%= cf_link_to t('cites.cites'), cites_path %></li>

          <% if @message and @thread and not @thread.new_record? %>
            <% if @read_mode != 'thread-view' %>
              <li><%= cf_link_to(t('layout.thread_view'),
                              cf_message_path(@thread, @message,
                                              p: params[:p],
                                              rm: 'thread-view')) %></li>
            <% else %>
              <li><%= cf_link_to(t('layout.nested_view'),
                              cf_message_path(@thread, @message,
                                              p: params[:p],
                                              rm: 'nested-view')) %></li>
            <% end %>
          <% end %>

          <% if @thread and not @thread.new_record? %>
            <li id="nachricht-feed-atom"><%= cf_link_to t("layout.msg_atom_feed"), cf_thread_url(@thread, format: :atom) %></li>
            <li id="nachricht-feed-rss"><%= cf_link_to t("layout.msg_rss_feed"), cf_thread_url(@thread, format: :rss) %></li>
          <% end %>

          <% if current_user and current_user.admin %>
            <li><%= cf_link_to t('layout.administration'), admin_users_path %></li>
            <li><%= cf_link_to t('images.images'), images_path %></li>
          <% end %>

          <li><%= cf_link_to t('badges.badges'), cf_badges_path %></li>

          <% if current_forum %>
            <li id="optionen-tags"><%= cf_link_to t("tags.tags"), tags_path(current_forum.slug) %></li>
            <li id="link-archiv"><%= cf_link_to t("threads.archive"), cf_archive_path(current_forum.slug) %></li>
          <% end %>

          <% if @threads and current_user and not controller_path == 'interesting_messages_plugin' and not controller_path == 'hidden_threads_plugin' %>
            <li id="mark-all-read"><%= cf_link_to(t("plugins.mark_read.mark_all_read"),
                                               mark_all_read_path(current_forum, std_args),
                                               method: :post) %></li>
            <li id="optionen-close-all-threads"><%= cf_link_to t('plugins.open_close.close_all_threads'), close_all_threads_path(current_forum, std_args), method: :post %></li>
            <li id="optionen-open-all-threads"><%= cf_link_to t('plugins.open_close.open_all_threads'), open_all_threads_path(current_forum, std_args), method: :post %></li>
          <% end %>

          <% if current_user %>
            <li id="interesting-links"><%= cf_link_to t('plugins.interesting_messages.interesting_messages'), interesting_messages_path %></li>
            <li id="invisible-links"><%= cf_link_to t('plugins.invisible_threads.invisible_threads'), hidden_threads_path %></li>
          <% end %>

          <% if current_user and current_user.moderate?(current_forum) %>
            <%
            path = nil
            if @message.blank?
              path = cf_threads_path(current_forum, view_all: @view_all ? nil : "yes")
            else
              path = cf_message_path(@thread, @message, view_all: @view_all ? nil : "yes")
            end
            %>
            <% if @view_all %>
              <li id="admin-view"><%= cf_link_to t("forums.normal_view"), path %></li>
            <% else %>
              <li id="admin-view"><%= cf_link_to t("forums.admin_view"), path %></li>
            <% end %>
          <% end %>

          <% if current_user.try(:admin?) %>
            <li id="audit"><%= cf_link_to t('admin.audit.audit_log'), admin_audit_path %></li>
          <% end %>
        </ul>
      </nav>

      <aside class="flex-item">
        <% if not @motds.blank? %>
          <% @motds.each do |motd| %>
            <div class="aktuelle-mitteilung"><%= motd %></div>
          <% end %>
        <% end %>

        <%= content_for :aside %>

        <% if not current_forum.blank? %>
          <form id="forum-list" action="<%= forum_redirector_path %>">
            <select name="f" class="select2 forum-select">
              <% @forums.each do |f| %>
                <option value="<%= f.slug %>"<% if f.slug == current_forum.slug %> selected="selected"<% end %>><%= f.name %></option>
              <% end %>
            </select>
          </form>
        <% end %>
      </aside>

    </div>

    <footer>
      <ul>
        <li>© 1998-2015 <%= cf_link_to "SELFHTML", "http://selfhtml.org/" %></li>
        <li><%= cf_link_to "Impressum", "http://selfhtml.org/impressum.html" %></li>
        <li><%= cf_link_to "Datenschutz", "http://selfhtml.org/impressum.html#datenschutz" %></li>
        <li>Software: <%= cf_link_to "Classic Forum " + $CF_VERSION, "https://github.com/ckruse/cforum" %></li>
      </ul>

      <p class="termitel-sponsor"><%= cf_link_to "https://termitel.de/" do %><%= image_tag 'termitel-fuer-ihren-vertrieb.jpg', alt: "Termitel - für Ihren Vertrieb" %><% end %></p>
    </footer>

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script>
     MathJax.Hub.Config({
       displayAlign: "left",
       menuSettings: { CHTMLpreview: false },
       tex2jax: {
         inlineMath: [],
         displayMath: []
       }
     });
    </script>
  </body>
</html>
